
input[data-v-4adef079] {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

[data-lkt=paginator][data-v-57180b8e] {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
[data-lkt=paginator] > *[data-v-57180b8e] {
  margin-right: 5px;
}
[data-lkt=paginator] > *[data-v-57180b8e]:last-child {
  margin-right: 0;
}
[data-lkt=paginator] [data-lkt=search-select][data-v-57180b8e] {
  width: 65px;
}
@charset "UTF-8";
[data-lkt=add-icon]:before {
  content: "+";
}
[data-lkt=info-icon]:before {
  content: "ℹ";
}
[data-lkt=show-password-icon]:before {
  content: "👁";
}
[data-lkt=mandatory-icon]:before {
  content: "*";
}
[data-lkt=warn-icon]:before {
  content: "⚠";
}
[data-lkt=error-icon]:before {
  content: "❌";
}
[data-lkt=log-icon]:before {
  content: "?";
}
[data-lkt=reset-icon]:before {
  content: "×";
}
[data-lkt=open-icon]:before {
  content: "⇱";
  transform: rotate(90deg);
  display: block;
}
[data-lkt=link-icon]:before {
  content: "↵";
  transform: rotate(180deg);
  display: block;
  margin-top: -5px;
}
[data-lkt=add-icon],
[data-lkt=open-icon],
[data-lkt=show-password-icon],
[data-lkt=link-icon],
[data-lkt=mandatory-icon],
[data-lkt=info-icon],
[data-lkt=warn-icon],
[data-lkt=error-icon],
[data-lkt=reset-icon],
[data-lkt=undo-icon],
[data-lkt=log-icon] {
  font-family: arial;
  font-style: normal;
  font-size: 16px;
  margin-right: 5px;
  cursor: help;
}
[data-lkt=add-icon],
[data-lkt=open-icon] {
  cursor: pointer;
}
[data-lkt=link-icon] {
  cursor: alias;
}
[data-lkt=field-state-ui] {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 0;
  bottom: 0;
}
/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
}
input {
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
}
input[type=text] {
  background-color: #f1f1f1;
  width: 100%;
}
input[type=submit] {
  background-color: DodgerBlue;
  color: #fff;
  cursor: pointer;
}
[data-lkt=autocomplete] {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
}
[data-lkt=autocomplete-input] {
  padding: 10px;
  border-bottom: 1px solid #d4d4d4;
}
[data-lkt=autocomplete-items] {
  max-height: 200px;
  max-width: 100%;
  overflow-y: auto;
  overflow-x: auto;
}
[data-lkt=autocomplete-items] div {
  padding: 6px 6px 6px 10px;
  cursor: pointer;
}
[data-lkt=autocomplete-items] div[data-selected] {
  background-color: #e9e9e9;
}
[data-lkt=autocomplete-items] div:not([data-parent]):hover {
  background-color: #5897fb;
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important;
  color: #ffffff;
}
[data-lkt=field-select] {
  display: flex;
  font-family: var(--font-stack-2);
  font-size: 16px;
  position: relative;
  flex-direction: column-reverse;
  color: #444444;
}
[data-lkt=field-select] [data-lkt=front] {
  height: 34px;
  background: #ffffff;
  border: 1px solid #cccccc;
  border-radius: 4.5px;
  line-height: 1.1;
  padding: 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
  max-width: 100%;
  white-space: nowrap;
}
[data-lkt=field-select] [data-lkt=tags] {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
}
[data-lkt=field-select] [data-lkt=tags] > li {
  padding: 6px;
  border: 1px solid #cccccc;
  background: #5897fb;
  color: #ffffff;
  border-radius: 4.5px;
  line-height: 1.2;
}
[data-lkt=field-select] [data-lkt=tags] > li i {
  margin-left: 5px;
  display: inline-block;
  font-style: initial;
  cursor: pointer;
}
[data-lkt=field-select][data-multiple] [data-lkt=front] {
  height: 83px;
  overflow-y: auto;
  padding: 7px 10px;
}
[data-lkt=field-select] label {
  color: grey;
  font-size: 16px;
  position: absolute;
  line-height: normal;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  top: 50%;
  transition: all linear 200ms;
  transform: translateY(-50%);
  left: 10px;
  font-weight: 300;
  opacity: 0;
}
[data-lkt=field-select] input {
  height: 34px;
  padding-right: 10px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  border-radius: 4.5px;
  padding-left: 10px;
  margin: 0;
  vertical-align: middle;
  width: 100%;
  transition: border-color 200ms linear;
}
[data-lkt=field-select] input:focus {
  border-color: #444444;
}
[data-lkt=field-select][data-filled=true] [data-lkt=front] + label {
  font-size: 12px;
  top: -18px;
  transform: none;
  left: 0;
  font-weight: 700;
  color: #444444;
}
[data-lkt=field-select][data-filled=true] [data-lkt=front] + label {
  opacity: 1;
}
[data-lkt=field-select] input[disabled],
[data-lkt=field-select] input[readonly] {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
[data-lkt=field-select][data-validate=true] input:invalid {
  border-color: var(--danger);
  background-color: rgba(var(--danger), 0.1);
}
[data-lkt=field-select][data-invalid=true] input {
  border-color: var(--danger) !important;
  background-color: rgba(var(--danger), 0.1) !important;
}
[data-lkt=field-select][data-disabled=true] [data-lkt=front] {
  border: 1px solid #cccccc;
  background-color: #eeeeee;
}
[data-lkt=console] {
  background: #000;
  color: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 15px;
  font-family: monospace;
  font-size: 16px;
  line-height: 1.425;
}
[data-lkt=console] form {
  display: flex;
  width: 100%;
  height: 10%;
  align-items: center;
  justify-content: center;
}
[data-lkt=console] form [data-lkt=field-text] {
  width: 100%;
  margin-right: 15px;
  margin-bottom: 0 !important;
}
[data-lkt=console] ul {
  height: 90%;
  overflow: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
}
[data-lkt=debug-info] {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: initial;
  z-index: 999999;
  background: #fff;
  box-shadow: 0px -5px 10px rgba(0, 0, 0, 0.5);
}
[data-lkt=debug-info][data-state=closed] {
  height: 0;
  left: initial;
}
[data-lkt=debug-info][data-state=closed] .tabs-component-tabs {
  border-bottom: none;
}
[data-lkt=debug-info][data-state=closed] li[role=presentation],
[data-lkt=debug-info][data-state=closed] .tabs-component-panels {
  display: none;
}
[data-lkt=debug-info][data-state=opened] {
  padding-top: 10px;
}
[data-lkt=debug-info] [data-role=toggle] {
  position: absolute;
  top: -30px;
  right: 0;
}
[data-lkt=debug-info] .tabs-component-panels {
  height: 30vh;
}
[data-lkt=debug-info] .tabs-component-panels .tabs-component-panel {
  overflow: auto;
  height: 100%;
}
[data-lkt=debug-info] .tabs-component-panels .tabs-component-panel > [data-lkt=table] {
  overflow: auto;
  height: 100%;
  display: block;
  position: relative;
}
[data-lkt=debug-info] .tabs-component-tabs {
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  border-bottom: 1px solid #cccccc;
  margin: 0;
}
[data-lkt=debug-info] .tabs-component-tabs li {
  margin-bottom: 0;
}
[data-lkt=debug-info] .tabs-component-tabs li:not(:first-child) {
  margin-left: 7px;
}
[data-lkt=debug-info] .tabs-component-tabs li > a {
  text-decoration: none;
}
[data-lkt=debug-info] .tabs-component-tabs li > a > i {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #cccccc;
  border-bottom: none;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  box-sizing: border-box;
  padding: 5px;
  min-width: 40px;
  height: 30px;
}
[data-lkt=debug-info] .tabs-component-tabs li [data-role=log] {
  background: #17a2b8;
  color: #ffffff;
}
[data-lkt=debug-info] .tabs-component-tabs li [data-role=warn] {
  background: #ffc107;
  color: #343a40;
}
[data-lkt=debug-info] .tabs-component-tabs li [data-role=error] {
  background: #d54e21;
  color: #ffffff;
}
[data-lkt=debug-info] .tabs-component-tabs li [data-role=catchError] {
  background: #dc3545;
  color: #ffffff;
}
[data-lkt=debug-info] .tabs-component-tabs li [data-role=console] {
  background: #000000;
  color: #ffffff;
}
[data-lkt=debug-info] .tabs-component-tabs li.is-active > a > i {
  height: 37px;
}
[data-lkt=debug-info] .tabs-component-tabs li.is-active [data-role=log] {
  border-top: 7px solid #17a2b8;
}
[data-lkt=debug-info] .tabs-component-tabs li.is-active [data-role=warn] {
  border-top: 7px solid #ffc107;
}
[data-lkt=debug-info] .tabs-component-tabs li.is-active [data-role=error] {
  border-top: 7px solid #d54e21;
}
[data-lkt=debug-info] .tabs-component-tabs li.is-active [data-role=catchError] {
  border-top: 7px solid #dc3545;
}
[data-lkt=debug-info] [data-theme=wp-admin] th {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}
