@use "core/config";

@mixin _base($selector: 'hamburguer') {

  padding: config.get(hamburger-padding-y) config.get(hamburger-padding-x);
  display: inline-block;
  cursor: pointer;

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  // Normalize (<button>)
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;

  &:hover {
    opacity: config.get(hamburger-hover-opacity);
  }

  &.is-active {
    &:hover {
      opacity: config.get(hamburger-active-hover-opacity);
    }

    .inner,
    .inner::before,
    .inner::after {
      background-color: config.get(hamburger-active-layer-color);
    }
  }

  .box {
    width: config.get(hamburger-layer-width);
    height: config.get(hamburger-layer-height) * 3 + config.get(hamburger-layer-spacing) * 2;
    display: inline-block;
    position: relative;
    vertical-align: middle;
  }

  .label {
    vertical-align: middle;
  }

  .inner {
    display: block;
    top: 50%;
    margin-top: config.get(hamburger-layer-height) / -2;

    &,
    &::before,
    &::after {
      width: config.get(hamburger-layer-width);
      height: config.get(hamburger-layer-height);
      background-color: config.get(hamburger-layer-color);
      border-radius: config.get(hamburger-layer-border-radius);
      position: absolute;
      transition-property: transform;
      transition-duration: 0.15s;
      transition-timing-function: ease;
    }

    &::before,
    &::after {
      content: "";
      display: block;
    }

    &::before {
      top: (config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height)) * -1;
    }

    &::after {
      bottom: (config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height)) * -1;
    }
  }
}

@mixin elastic() {
  @include _base();

  .inner {
    top: config.get(hamburger-layer-height) / 2;
    transition-duration: 0.275s;
    transition-timing-function: cubic-bezier(0.68, -0.55, 0.265, 1.55);

    &::before {
      top: config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing);
      transition: opacity 0.125s 0.275s ease;
    }

    &::after {
      top: (config.get(hamburger-layer-height) * 2) + (config.get(hamburger-layer-spacing) * 2);
      transition: transform 0.275s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
  }

  &.is-active {
    .inner {
      $y-offset: config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height);

      transform: translate3d(0, $y-offset, 0) rotate(135deg);
      transition-delay: 0.075s;

      &::before {
        transition-delay: 0s;
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-270deg);
        transition-delay: 0.075s;
      }
    }
  }
}

@mixin get-3dx($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  .box {
    perspective: config.get(hamburger-layer-width) * 2;
  }

  .inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &.is-active {
    .inner {
      background-color: transparent !important;
      transform: rotateY(180deg * $factor);

      &::before {
        transform: translate3d(0, config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing), 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, (config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing)) * -1, 0) rotate(-45deg);
      }
    }
  }
}

@mixin get-3dxy($is-reverse: false) {
  @include _base();

  .box {
    perspective: config.get(hamburger-layer-width) * 2;
  }

  .inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &.is-active {
    .inner {
      background-color: transparent !important;
      @if ($is-reverse == true) {
        transform: rotateX(180deg) rotateY(180deg) rotateZ(-180deg);
      } @else {
        transform: rotateX(180deg) rotateY(180deg);
      }

      &::before {
        transform: translate3d(0, config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing), 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, (config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing)) * -1, 0) rotate(-45deg);
      }
    }
  }
}

@mixin get-3dy($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  .box {
    perspective: config.get(hamburger-layer-width) * 2;
  }

  .inner {
    transition: transform 0.15s cubic-bezier(0.645, 0.045, 0.355, 1),
    background-color 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);

    &::before,
    &::after {
      transition: transform 0s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    }
  }

  &.is-active {
    .inner {
      background-color: transparent !important;
      transform: rotateX(-180deg * $factor);

      &::before {
        transform: translate3d(0, config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing), 0) rotate(45deg);
      }

      &::after {
        transform: translate3d(0, (config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing)) * -1, 0) rotate(-45deg);
      }
    }
  }
}

@mixin arrow($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  &.is-active {
    .inner {
      &::before {
        transform: translate3d(config.get(hamburger-layer-width) * -0.2 * $factor, 0, 0) rotate(-45deg * $factor) scale(0.7, 1);
      }

      &::after {
        transform: translate3d(config.get(hamburger-layer-width) * -0.2 * $factor, 0, 0) rotate(45deg * $factor) scale(0.7, 1);
      }
    }
  }
}

@mixin arrow-alt($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  .inner {
    &::before {
      transition: top 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }

    &::after {
      transition: bottom 0.1s 0.1s ease,
      transform 0.1s cubic-bezier(0.165, 0.84, 0.44, 1);
    }
  }

  &.is-active {
    .inner {
      &::before {
        top: 0;
        transform: translate3d(config.get(hamburger-layer-width) * -0.2 * $factor, config.get(hamburger-layer-width) * -0.25, 0) rotate(-45deg * $factor) scale(0.7, 1);
        transition: top 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      }

      &::after {
        bottom: 0;
        transform: translate3d(config.get(hamburger-layer-width) * -0.2 * $factor, config.get(hamburger-layer-width) * 0.25, 0) rotate(45deg * $factor) scale(0.7, 1);
        transition: bottom 0.1s ease,
        transform 0.1s 0.1s cubic-bezier(0.895, 0.03, 0.685, 0.22);
      }
    }
  }
}

@mixin arrow-turn($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  &.is-active {
    .inner {
      transform: rotate(-180deg);

      &::before {
        transform: translate3d(-8px * $factor, 0, 0) rotate(-45deg * $factor) scale(0.7, 1);
      }

      &::after {
        transform: translate3d(-8px * $factor, 0, 0) rotate(45deg * $factor) scale(0.7, 1);
      }
    }
  }

}

@mixin boring() {
  @include _base();

  .inner {
    &,
    &::before,
    &::after {
      transition-property: none;
    }
  }

  &.is-active {
    .inner {
      transform: rotate(45deg);

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
      }
    }
  }
}

@mixin collapse($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }
  .inner {
    top: auto;
    bottom: 0;
    transition-duration: 0.13s;
    transition-delay: 0.13s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::after {
      top: (config.get(hamburger-layer-spacing) * 2 + config.get(hamburger-layer-height) * 2) * -1;
      transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      opacity 0.1s linear;
    }

    &::before {
      transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
      transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .inner {
      transform: translate3d(0, (config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height)) * -1, 0) rotate(-45deg * $factor);
      transition-delay: 0.22s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::after {
        top: 0;
        opacity: 0;
        transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        opacity 0.1s 0.22s linear;
      }

      &::before {
        top: 0;
        transform: rotate(-90deg * $factor);
        transition: top 0.1s 0.16s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
        transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@mixin emphatic($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  overflow: hidden;

  .inner {
    transition: background-color 0.125s 0.175s ease-in;

    &::before {
      left: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
      top 0.05s 0.125s linear,
      left 0.125s 0.175s ease-in;
    }

    &::after {
      top: (config.get(hamburger-layer-height)) + (config.get(hamburger-layer-spacing));
      right: 0;
      transition: transform 0.125s cubic-bezier(0.6, 0.04, 0.98, 0.335),
      top 0.05s 0.125s linear,
      right 0.125s 0.175s ease-in;
    }
  }

  &.is-active {
    .inner {
      transition-delay: 0s;
      transition-timing-function: ease-out;
      background-color: transparent !important;

      &::before {
        left: config.get(hamburger-layer-width) * -2;
        top: config.get(hamburger-layer-width) * -2 * $factor;
        transform: translate3d(config.get(hamburger-layer-width) * 2, config.get(hamburger-layer-width) * 2 * $factor, 0) rotate(45deg * $factor);
        transition: left 0.125s ease-out,
        top 0.05s 0.125s linear,
        transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }

      &::after {
        right: config.get(hamburger-layer-width) * -2;
        top: config.get(hamburger-layer-width) * -2 * $factor;
        transform: translate3d(config.get(hamburger-layer-width) * -2, config.get(hamburger-layer-width) * 2 * $factor, 0) rotate(-45deg * $factor);
        transition: right 0.125s ease-out,
        top 0.05s 0.125s linear,
        transform 0.125s 0.175s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

@mixin minus() {
  @include _base();

  .inner {
    &::before,
    &::after {
      transition: bottom 0.08s 0s ease-out,
      top 0.08s 0s ease-out,
      opacity 0s linear;
    }
  }

  &.is-active {
    .inner {
      &::before,
      &::after {
        opacity: 0;
        transition: bottom 0.08s ease-out,
        top 0.08s ease-out,
        opacity 0s 0.08s linear;
      }

      &::before {
        top: 0;
      }

      &::after {
        bottom: 0;
      }
    }
  }
}

@mixin slider($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  .inner {
    top: config.get(hamburger-layer-height) / 2;

    &::before {
      top: config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing);
      transition-property: transform, opacity;
      transition-timing-function: ease;
      transition-duration: 0.15s;
    }

    &::after {
      top: (config.get(hamburger-layer-height) * 2) + (config.get(hamburger-layer-spacing) * 2);
    }
  }

  &.is-active {
    .inner {
      $y-offset: config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height);

      transform: translate3d(0, $y-offset, 0) rotate(45deg * $factor);

      &::before {
        transform: rotate(-45deg * $factor) translate3d(config.get(hamburger-layer-width) / (-7 * $factor), config.get(hamburger-layer-spacing) * -1, 0);
        opacity: 0;
      }

      &::after {
        transform: translate3d(0, $y-offset * -2, 0) rotate(-90deg * $factor);
      }
    }
  }
}

@mixin spin($is-reverse: false) {
  @include _base();
  $factor: 1;
  @if ($is-reverse == true) {
    $factor: -1;
  }

  .inner {
    transition-duration: 0.22s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.1s 0.25s ease-in,
      opacity 0.1s ease-in;
    }

    &::after {
      transition: bottom 0.1s 0.25s ease-in,
      transform 0.22s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .inner {
      transform: rotate(225deg * $factor);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.1s ease-out,
        opacity 0.1s 0.12s ease-out;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg * $factor);
        transition: bottom 0.1s ease-out,
        transform 0.22s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@mixin spring($is-reverse: false) {
  @include _base();

  @if ($is-reverse == true) {
    .inner {
      top: auto;
      bottom: 0;
      transition-duration: 0.13s;
      transition-delay: 0s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

      &::after {
        top: (config.get(hamburger-layer-spacing) * 2 + config.get(hamburger-layer-height) * 2) * -1;
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        opacity 0s linear;
      }

      &::before {
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .inner {
        transform: translate3d(0, (config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height)) * -1, 0) rotate(-45deg);
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

        &::after {
          top: 0;
          opacity: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          opacity 0s 0.22s linear;
        }

        &::before {
          top: 0;
          transform: rotate(90deg);
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
        }
      }
    }

  } @else {
    .inner {
      top: config.get(hamburger-layer-height) / 2;
      transition: background-color 0s 0.13s linear;

      &::before {
        top: config.get(hamburger-layer-height) + config.get(hamburger-layer-spacing);
        transition: top 0.1s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }

      &::after {
        top: (config.get(hamburger-layer-height) * 2) + (config.get(hamburger-layer-spacing) * 2);
        transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1),
        transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
    }

    &.is-active {
      .inner {
        transition-delay: 0.22s;
        background-color: transparent !important;

        &::before {
          top: 0;
          transition: top 0.1s 0.15s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height), 0) rotate(45deg);
        }

        &::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
          transform 0.13s 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
          transform: translate3d(0, config.get(hamburger-layer-spacing) + config.get(hamburger-layer-height), 0) rotate(-45deg);
        }
      }
    }
  }
}

@mixin squeeze() {
  @include _base();

  .inner {
    transition-duration: 0.075s;
    transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);

    &::before {
      transition: top 0.075s 0.12s ease,
      opacity 0.075s ease;
    }

    &::after {
      transition: bottom 0.075s 0.12s ease,
      transform 0.075s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .inner {
      transform: rotate(45deg);
      transition-delay: 0.12s;
      transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);

      &::before {
        top: 0;
        opacity: 0;
        transition: top 0.075s ease,
        opacity 0.075s 0.12s ease;
      }

      &::after {
        bottom: 0;
        transform: rotate(-90deg);
        transition: bottom 0.075s ease,
        transform 0.075s 0.12s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@mixin stand($is-reverse: false) {
  @include _base();
  $degrees: 90deg;
  @if ($is-reverse == true) {
    $degrees: -90deg;
  }

  .inner {
    transition: transform 0.075s 0.15s cubic-bezier(0.55, 0.055, 0.675, 0.19),
    background-color 0s 0.075s linear;

    &::before {
      transition: top 0.075s 0.075s ease-in,
      transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

    &::after {
      transition: bottom 0.075s 0.075s ease-in,
      transform 0.075s 0s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }
  }

  &.is-active {
    .inner {
      transform: rotate($degrees);
      background-color: transparent !important;

      transition: transform 0.075s 0s cubic-bezier(0.215, 0.61, 0.355, 1),
      background-color 0s 0.15s linear;

      &::before {
        top: 0;
        transform: rotate(-45deg);
        transition: top 0.075s 0.1s ease-out,
        transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }

      &::after {
        bottom: 0;
        transform: rotate(45deg);
        transition: bottom 0.075s 0.1s ease-out,
        transform 0.075s 0.15s cubic-bezier(0.215, 0.61, 0.355, 1);
      }
    }
  }
}

@mixin vortex($is-reverse: false) {
  @include _base();
  $degrees: 765deg;
  $degrees1: 90deg;
  @if ($is-reverse == true) {
    $degrees: -765deg;
    $degrees1: -90deg;
  }

  .inner {
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    &::before,
    &::after {
      transition-duration: 0s;
      transition-delay: 0.1s;
      transition-timing-function: linear;
    }

    &::before {
      transition-property: top, opacity;
    }

    &::after {
      transition-property: bottom, transform;
    }
  }

  &.is-active {
    .inner {
      transform: rotate($degrees);
      transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

      &::before,
      &::after {
        transition-delay: 0s;
      }

      &::before {
        top: 0;
        opacity: 0;
      }

      &::after {
        bottom: 0;
        transform: rotate($degrees1);
      }
    }
  }
}