@use "core/functions/fn-units";
@use "core/layer";

@mixin get($layer-name: '') {
  @if (fn-units.is-number($layer-name)) {
    z-index: $layer-name;
  } @else {
    z-index: layer.get(#{lkt-layer-$layer-name});
  }
}