@use "lkt-media";

@mixin generate-push-pull($column-name: 'col', $amount-of-columns: 12, $media-queries: ()) {
  @each $media-query in $media-queries {
    @include lkt-media.media($media-query) {
      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      .#{$column-name}-push-0#{$media-query-str} {
        position: relative;
        margin-left: 0;
      }

      .#{$column-name}-pull-0#{$media-query-str} {
        position: relative;
        margin-left: 0;
      }

      @each $columns in $amount-of-columns {

        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          .#{$column-name}-push-#{$i}-#{$columns}#{$media-query-str} {
            position: relative;
            margin-left: $width;
          }

          .#{$column-name}-pull-#{$i}-#{$columns}#{$media-query-str} {
            position: relative;
            margin-left: $width * -1;
          }
        }
      }
    }
  }
}