@mixin _size($size: 5px, $weight: 1px, $color: #000000) {
  width: $size;
  height: $size;
  border-top: $weight solid $color;
  border-left: $weight solid $color;
}

@mixin _angle($size: 5px, $weight: 1px, $color: #000000) {
  @include _size($size, $weight, $color);
  display: inline-block;
  background: transparent;
  text-indent: -9999px;
  text-decoration: none;
  color: transparent;

  &:before {
    display: block;
    height: 200%;
    width: 200%;
    margin-left: -50%;
    margin-top: -50%;
    content: "";
    transform: rotate(45deg);
  }
}

@mixin top($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle($size, $weight, $color);
  transform: rotate(45deg);
  left: 175px;
  @content;
}

@mixin right($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle($size, $weight, $color);
  transform: rotate(135deg);
  right: 0;
  @content;
}

@mixin bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle($size, $weight, $color);
  transform: rotate(-135deg);
  right: 175px;
  @content;
}

@mixin left($size: 5px, $weight: 1px, $color: #000000) {
  @include _angle($size, $weight, $color);
  transform: rotate(-45deg);
  left: 0;
  @content;
}