@use "lkt-media";

@mixin generate-displays($name: 'display', $displays: (), $media-queries: ()) {
  @each $media-query in $media-queries {
    @include lkt-media.media($media-query) {

      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      @each $display in $displays {
        .#{$name}-#{$display}#{$media-query-str} {
          display: $display !important;
        }
      }
    }
  }
}