@use "core/functions/fn-units";

@mixin text-overflow-ellipsis() {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin text-overflow-ellipsis-multiline($line-height: 1.2em, $line-count: 1, $bg-color: #ffffff) {
  line-height: $line-height;
  max-height: $line-height * $line-count;
  position: relative;
  overflow: hidden;
  text-align: justify;
  display: inline-block;
  margin-right: -1em;
  padding-right: 1em;
  box-shadow: lkt-rem(inset 0 -10px 20px -5px $bg-color);

  &:before {
    content: '...';
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    width: 1em;
    height: 1em;
    margin-top: 0.2em;
    background: $bg-color;
    z-index: 1;
  }
}

@mixin lkt-out-of-bounds() {
  position: relative;
  width: 100vw !important;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}