@mixin set-position($position: false, $top: false, $right: false, $bottom: false, $left: false) {
  @if ($position != false) {
    position: $position;
  }
  @if ($top != false) {
    top: $top;
  }
  @if ($right != false) {
    right: $right;
  }
  @if ($bottom != false) {
    bottom: $bottom;
  }
  @if ($left != false) {
    left: $left;
  }
}


@mixin align($x: false, $y: false) {
  @if ($x != false and $y != false) {
    top: $y;
    left: $x;
    transform: translate($x * -1, $y * -1);

  } @else if ($x != false) {
    left: $x;
    transform: translateX($x * -1);

  } @else if ($y != false) {
    top: $y;
    transform: translateY($y * -1);
  }
}