@use "core/functions/fn-lists";


@function _get-clamp-breakpoint($initial-amount: 1, $breakpoint: 640px, $final-amount: 4) {
  @return clamp(100% / (#{$final-amount} + 1) + 0.1%, (#{$breakpoint} - 100vw) * 1000, 100% / (#{$initial-amount} + 1) + 0.1%);
}

@function _get-clamp-breakpoint2($initial-amount: 1, $breakpoint: 640px, $final-amount: 4) {
  @return clamp(#{$final-amount}, (#{$breakpoint} - 100vw) * 1000, 100% / (#{$initial-amount} + 1) + 0.1%);
}

@function _get-clamp-breakpoint3($initial-amount: 1, $breakpoint: 640px, $final-amount: 4) {
  @return clamp(#{$final-amount}, (#{$breakpoint} - 100vw) * 1000, #{$initial-amount});
}

@mixin get-fraction-layout($amount-of-fractions: 1) {
  display: grid;

  $r: null;

  @for $i from 1 through $amount-of-fractions {
    $r: $r 1fr;
  }
  grid-template-columns: $r;
}

@mixin mobile-first-break($initial-amount: 1, $breakpoint: 640px, $final-amount: 4) {
  display: grid;
  grid-template-columns:repeat(auto-fit, minmax(_get-clamp-breakpoint($initial-amount, $breakpoint, $final-amount), 1fr));
}

@mixin mobile-first-breaks($initial-amount: 1, $amounts-per-breakpoint: (640px: 4)) {
  $l: length($amounts-per-breakpoint);

  @if ($l == 0) {
    @include get-fraction-layout(1);

  } @else if($l == 1) {
    $haystack: nth($amounts-per-breakpoint, 1);
    $breakpoint: nth($haystack, 1);
    $final-amount: nth($haystack, 2);
    @include mobile-first-break($initial-amount, $breakpoint, $final-amount);

  } @else {
    $amounts-per-breakpoint: fn-lists.map-reverse($amounts-per-breakpoint);
    $prev-amount: 0;
    $rule: '';

    $i: 1;

    @each $breakpoint, $amount in $amounts-per-breakpoint {
      @if($i < $l) {
        $next: nth($amounts-per-breakpoint, $i + 1);
        $next-value: nth($next, 2);

        @if ($rule == '') {
          $rule: _get-clamp-breakpoint($next-value, $breakpoint, $amount);
        } @else {

          $rule: _get-clamp-breakpoint2($next-value, $breakpoint, $rule);
        }
        $prev-amount: $amount;
        $i: $i + 1;

      } @else {
        $rule: _get-clamp-breakpoint3(100%, $breakpoint, $rule);
      }
    }

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(#{$rule}, 1fr));
  }
}