@use "core/media";
@use "core/fonts";
@use "core/multimedia";
@use "core/layer";

// Add default media queries
$add: media.add(safari9, '@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill)', true);
$add: media.add(ie11, '(-ms-high-contrast:none)');
$add: media.add(ie10, '(-ms-high-contrast: active), (-ms-high-contrast: none)');
$add: media.add(moz, '(min--moz-device-pixel-ratio:0)');
$add: media.add(chrome, '(-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)');
$add: media.add(120dpi, '(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)');
$add: media.add(124dpi, '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi)');
$add: media.add(144dpi, '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)');
$add: media.add(192dpi, '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)');
$add: media.add(landscape, '(orientation: landscape)');
$add: media.add(portrait, '(orientation: portrait)');
$add: media.add('', '');

//----------
// Add default fonts
//----------

// Serif fonts
$add: fonts.add(serif, #{'serif'});
$add: fonts.add(georgia, #{'Georgia, serif'});
$add: fonts.add(palatino, #{'"Palatino Linotype", "Book Antiqua", Palatino, serif'});
$add: fonts.add(times, #{'"Times New Roman", Times, serif'});

// Sans serif
$add: fonts.add(sans-serif, #{'sans-serif'});
$add: fonts.add(arial, #{'Arial, Helvetica, sans-serif'});
$add: fonts.add(arial-black, #{'"Arial Black", Gadget, sans-serif'});
$add: fonts.add(comic, #{'"Comic Sans MS", cursive, sans-serif'});
$add: fonts.add(helvetica, #{'Helvetica, sans-serif'});
$add: fonts.add(impact, #{'Impact, Charcoal, sans-serif'});
$add: fonts.add(lucida, #{'"Lucida Sans Unicode", "Lucida Grande", sans-serif'});
$add: fonts.add(tahoma, #{'Tahoma, Geneva, sans-serif'});
$add: fonts.add(trebuchet, #{'"Trebuchet MS", Helvetica, sans-serif'});
$add: fonts.add(verdana, #{'Verdana, Geneva, sans-serif'});

// Monospace fonts
$add: fonts.add(monospace, #{'monospace'});
$add: fonts.add(courier-new, #{'"Courier New", Courier, monospace'});
$add: fonts.add(lucida-console, #{'"Lucida Console", Monaco, monospace'});


// Add default multimedia
$add: multimedia.add('1:1', 1, 1);
$add: multimedia.add('1:2', 1, 2);
$add: multimedia.add('2:1', 2, 1);
$add: multimedia.add('2:3', 2, 3);
$add: multimedia.add('3:2', 3, 2);
$add: multimedia.add('3:4', 3, 4);
$add: multimedia.add('4:3', 4, 3);
$add: multimedia.add('4:5', 4, 5);
$add: multimedia.add('5:4', 5, 4);
$add: multimedia.add('6:4', 6, 4);
$add: multimedia.add('6:5', 6, 5);
$add: multimedia.add('9:16', 9, 16);
$add: multimedia.add('9:21', 9, 21);
$add: multimedia.add('9:32', 9, 32);
$add: multimedia.add('10:16', 10, 16);
$add: multimedia.add('16:9', 16, 9);
$add: multimedia.add('16:10', 16, 10);
$add: multimedia.add('21:9', 21, 9);
$add: multimedia.add('32:9', 32, 9);


// Add default layers
$c: layer.add(modal, 30);