@mixin apply-cross-children($levels: 1, $apply-to-myself: true){
  @if ($apply-to-myself == true){
    @content;
  }

  @if($levels > 0){
    > * {
      @include apply-cross-children($levels - 1, true){
        @content;
      }
    }
  }
}