@use "./../tools/lkt-function";

//----------
// Config
//----------
$LKT_SCHEMAS: ();
$LKT_SCHEMA_MODE: ();

//----------
// Functions
//----------
@function exists($schema-name: '') {
  @return (lkt-function.contains($LKT_SCHEMAS, $schema-name));
}

@function name-format($schema-name: '', $media-query: '') {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name-string: #{$schema-name + $media-query-string};
  @return $schema-name-string;
}

@function exists-one($schema-name: '', $media-query: '') {
  @return (lkt-function.contains($LKT_SCHEMAS, name-format($schema-name, $media-query)));
}

@function prepare-name($str: '') {
  $r: lkt-str-replace($str, '.', '-');
  $r: lkt-str-replace($r, '%', 'percent');
  $r: lkt-str-replace($r, ' ', '-');
  $r: lkt-str-replace($r, '!', '');
  @return $r;
}

//----------
// Mixins
//----------
@mixin add-one($schema-name: '', $media-query: '', $inside-media: false) {
  $media-query-string: lkt-media-get-append-string($media-query);
  $schema-name-string: name-format($schema-name, $media-query);
  $LKT_SCHEMAS: append($LKT_SCHEMAS, $schema-name-string) !global;
  @at-root {
    @if ($inside-media == false) {
      @include lkt-media($media-query) {
        %#{$schema-name-string} {
          @content;
        }
      }
    } @else {
      %#{$schema-name-string} {
        @content;
      }
    }
  }
}

@mixin one($schema-name: '', $media-query: '') {
  @if (exists-one($schema-name, $media-query)) {
    $schema-name-string: name-format($schema-name, $media-query);
    @extend %#{$schema-name-string} !optional;

  } @else if (lkt-config(debug) != false) {
    @warn lkt-function.concat(' ', "[LKT SCHEMA]", lkt-function.concat('', "schema '", $schema-name, "'"), 'does not exists for media', lkt-function.concat('', "'", $media-query, "'"));
  }

  @content;
}

@mixin add($schema-name: '', $media-queries: lkt-config(schema-media-queries)) {
  @each $media-query, $value in $media-queries {
    @include add-one($schema-name, $media-query, false) {
      @content;
    }
  }
}

@mixin lkt-schema($schema-name: '') {
  @include one($schema-name, lkt-media-stack-get-last()) {
    @content;
  }
}

@mixin mode($schema-name: '', $config-name: '', $media-queries: ('')) {
  @if (lkt-config($config-name) == true) {
    @if (exists($schema-name) != true) {
      @include add($schema-name) {
        @content;
      }
    }

    @include lkt-schema($schema-name);
  } @else {
    @content;
  }
}