
.lkt-icon-ok:before { content: '\e800'; } /* '' */
.lkt-icon-cancel:before { content: '\e801'; } /* '' */
.lkt-icon-left-open:before { content: '\e802'; } /* '' */
.lkt-icon-right-open:before { content: '\e803'; } /* '' */
.lkt-icon-up-dir:before { content: '\e804'; } /* '' */
.lkt-icon-down-dir:before { content: '\e805'; } /* '' */
.lkt-icon-picture:before { content: '\e806'; } /* '' */
.lkt-icon-video:before { content: '\e807'; } /* '' */
.lkt-icon-floppy:before { content: '\e808'; } /* '' */