@font-face {
  font-family: 'lkt-icons';
  src: url('../font/lkt-icons.eot?50691233');
  src: url('../font/lkt-icons.eot?50691233#iefix') format('embedded-opentype'),
       url('../font/lkt-icons.woff2?50691233') format('woff2'),
       url('../font/lkt-icons.woff?50691233') format('woff'),
       url('../font/lkt-icons.ttf?50691233') format('truetype'),
       url('../font/lkt-icons.svg?50691233#lkt-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lkt-icons';
    src: url('../font/lkt-icons.svg?50691233#lkt-icons') format('svg');
  }
}
*/
 
 [class^="lkt-icon-"]:before, [class*=" lkt-icon-"]:before {
  font-family: "lkt-icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.lkt-icon-ok:before { content: '\e800'; } /* '' */
.lkt-icon-cancel:before { content: '\e801'; } /* '' */
.lkt-icon-left-open:before { content: '\e802'; } /* '' */
.lkt-icon-right-open:before { content: '\e803'; } /* '' */
.lkt-icon-up-dir:before { content: '\e804'; } /* '' */
.lkt-icon-down-dir:before { content: '\e805'; } /* '' */
.lkt-icon-picture:before { content: '\e806'; } /* '' */
.lkt-icon-video:before { content: '\e807'; } /* '' */
.lkt-icon-floppy:before { content: '\e808'; } /* '' */