<template>
    <lkt-button class="field-reset" @click="click">
        <slot></slot>
    </lkt-button>
</template>

<script>
    import LktButton from "../../LktButton";
    export default {
        name: "LktFieldReset",
        components: {LktButton},
        methods: {
            click(){
                this.$emit('reset');
            }
        }
    }
</script>