<template>
    <div :data-parent="hasChildren" @click="onClick" :data-selected="selected" :data-disabled="node.disabled">
        <template v-if="$scopedSlots['option']">
            <slot name="option"></slot>
        </template>
        <template v-else>
            <strong v-if="hasChildren" v-html="node.text"></strong>
            <span v-else v-html="node.text"></span>
        </template>

        <ul v-if="hasChildren">
            <select-option v-for="child in node.children" :key="node.id" :node="child" @pick="pick"></select-option>
        </ul>
    </div>
</template>

<script>
export default {
    name: "SelectOption",
    props: {
        node: {
            type: Object
        },
        selected: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        hasChildren() {
            return this.node.children && this.node.children.length > 0;
        },
        slotScope(){
            return {
                node: this.node,
                selected: this.selected,
                hasChildren: this.hasChildren,
                disabled: this.node.disabled,
            };
        }
    },
    methods: {
        onClick(e) {
            e.preventDefault();
            e.stopPropagation();
            if (this.hasChildren || this.node.disabled) {
                return;
            }

            if (this.selected) {
                this.$emit('unpick', {event: e, option: this.node});
                return;
            }
            this.$emit('pick', {event: e, option: this.node});
        },
        pick(data) {
            this.$emit('pick', data);
        }
    }
}
</script>

<style scoped>

</style>