@use "fn-strings";

@function parse-name($str: '', $n: '', $i: 1, $t: 12, $m: '') {
  $r: fn-strings.str-replace($str, ':n', $n);
  $r: fn-strings.str-replace($r, ':i', $i);
  $r: fn-strings.str-replace($r, ':t', $t);
  $r: fn-strings.str-replace($r, ':m', $m);

  $r: fn-strings.str-replace($r, '--', '-');
  $r: fn-strings.str-replace($r, '--', '-');
  $r: fn-strings.str-replace($r, '--', '-');
  $r: fn-strings.str-replace($r, '--', '-');

  $l: str_length($r);
  $s: str-slice($r, $l, $l);
  @if ($s == '-') {
    $l: $l - 1;
    $r: str-slice($r, 1, $l);
  }
  $r: fn-strings.str-replace($r, '"', '');
  $r: fn-strings.str-replace($r, "'", '');
  @return unquote(fn-strings.to-string($r));
}