@function pow($base, $pow) {
  $ret: 1;

  @if $pow >= 0 {
    @for $i from 1 through $pow {
      $ret: $ret * $base;
    }
  } @else {
    @for $i from $pow to 0 {
      $ret: $ret / $base;
    }
  }

  @return $ret;
}