@function get-greatest-common-divider($a, $b) {
  @if $b == 0 {
    @return $a;
  }
  @return get-greatest-common-divider($b, $a%$b);
}

@function get-aspect-ratio-percentage($a, $b) {
  $aspect: get-greatest-common-divider($a, $b);
  $h: $b / $aspect;
  $w: $a / $aspect;
  @return ($h / $w) * 100%;
}