@function linear($direction:'to right', $points: (), $is-repeating: false) {

  $values: '';
  $values: unquote($values);
  $l: length($points);
  $i: 1;
  @each $percentage, $value in $points {
    $c: ',';
    @if ($i == $l) {
      $c: '';
    }
    $values: append($values, #{$value + ' ' + inspect($percentage) + $c});
    $i: $i + 1;
  }

  $rule: linear-gradient;
  @if ($is-repeating == true) {
    $rule: repeating-linear-gradient;
  }

  @return #{$rule+'(' + $direction + ', ' + $values + ')'};
}

@function radial($shape: 'ellipse', $size: 'farthest-corner', $position: 'center', $points: (), $is-repeating: false) {

  $direction: #{$shape + ' ' + $size + ' at ' + $position};

  $values: '';
  $values: unquote($values);
  $l: length($points);
  $i: 1;
  @each $percentage, $value in $points {
    $c: ',';
    @if ($i == $l) {
      $c: '';
    }
    $values: append($values, #{$value + ' ' + inspect($percentage) + $c});
    $i: $i + 1;
  }

  $rule: radial-gradient;
  @if ($is-repeating == true) {
    $rule: repeating-linear-gradient;
  }

  @return #{$rule+'(' + $direction + ', ' + $values + ')'};
}