//----------
// Config
//----------
$LKT_FONTS: ();

//----------
// Functions
//----------
@function lkt-font-add($font-name: '', $value: '') {
  $LKT_FONTS: map-merge($LKT_FONTS, ($font-name: $value)) !global;
  @return true;
}

@function lkt-font-get($font-name: '') {
  @return map-get($LKT_FONTS, $font-name);
}

@function lkt-font($font-name: '') {
  @return lkt-font-get($font-name);
}

@function lkt-font-schema-name($font-name: false, $font-size: false, $font-weight: false, $line-height: false, $font-stretch: false, $letter-spacing: false) {
  $r: ();

  @if ($font-name != false and $font-name != '') {
    $r: append($r, $font-name);
  }

  @if ($font-size != false and $font-size != '') {
    $r: append($r, $font-size);
  }

  @if ($font-weight != false and $font-weight != '') {
    $r: append($r, $font-weight);
  }

  @if ($line-height != false and $line-height != '') {
    $r: append($r, $line-height);
  }

  @if ($font-stretch != false and $font-stretch != '') {
    $r: append($r, $font-stretch);
  }

  @if ($letter-spacing != false and $letter-spacing != '') {
    $r: append($r, $letter-spacing);
  }

  @return lkt-schema-prepare-name(lkt-implode($r, '-'));
}

//----------
// Mixins
//----------
@mixin lkt-font($font-name: false, $font-size: false, $line-height: false, $font-weight: false, $letter-spacing: false, $font-stretch: false) {
  @include lkt-schema-mode(lkt-concat('-', lkt-font-schema, lkt-font-schema-name($font-name, $font-size, $font-weight, $line-height, $font-stretch, $letter-spacing)), schema-mode-font, (lkt-media-stack-get-last())) {
    @if $font-name {
      font-family: lkt-font-get($font-name);
    }
    @if $font-size {
      font-size: $font-size;
    }
    @if $line-height {
      @if($font-size and lkt-config(font-relative-line-height) == true and lkt-in-same-unit($line-height, $font-size)){
        line-height: lkt-line-height($line-height, $font-size);
      } @else {
        line-height: $line-height;
      }
    }
    @if $font-weight {
      font-weight: $font-weight;
    }
    @if $letter-spacing {
      letter-spacing: $letter-spacing;
    }
    @if $font-stretch {
      font-stretch: $font-stretch;
    }
  }
}

@mixin lkt-font-face-simple($name: '', $file: '', $path: '../fonts/', $weight: null, $style: null) {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}#{$file}");

    @if ($weight != null) {
      font-weight: $weight;
    }

    @if ($style != null) {
      font-style: $style;
    }
  }
}

@mixin lkt-font-face($name: '', $file: '', $path: '../fonts/') {
  @font-face {
    font-family: "#{$name}";
    src: url("#{$path}#{$file}.eot");
    src: url("#{$path}#{$file}.eot?#iefix") format("embedded-opentype"),
    url("#{$path}#{$file}.woff") format("woff"),
    url("#{$path}#{$file}.ttf") format("truetype"),
    url("#{$path}#{$file}.svg?#webfont") format("svg");
  }
}

//----------
// Initial variables
//----------

// Serif fonts
$add: lkt-font-add(serif, #{'serif'});
$add: lkt-font-add(georgia, #{'Georgia, serif'});
$add: lkt-font-add(palatino, #{'"Palatino Linotype", "Book Antiqua", Palatino, serif'});
$add: lkt-font-add(times, #{'"Times New Roman", Times, serif'});

// Sans serif
$add: lkt-font-add(sans-serif, #{'sans-serif'});
$add: lkt-font-add(arial, #{'Arial, Helvetica, sans-serif'});
$add: lkt-font-add(arial-black, #{'"Arial Black", Gadget, sans-serif'});
$add: lkt-font-add(comic, #{'"Comic Sans MS", cursive, sans-serif'});
$add: lkt-font-add(helvetica, #{'Helvetica, sans-serif'});
$add: lkt-font-add(impact, #{'Impact, Charcoal, sans-serif'});
$add: lkt-font-add(lucida, #{'"Lucida Sans Unicode", "Lucida Grande", sans-serif'});
$add: lkt-font-add(tahoma, #{'Tahoma, Geneva, sans-serif'});
$add: lkt-font-add(trebuchet, #{'"Trebuchet MS", Helvetica, sans-serif'});
$add: lkt-font-add(verdana, #{'Verdana, Geneva, sans-serif'});

// Monospace fonts
$add: lkt-font-add(monospace, #{'monospace'});
$add: lkt-font-add(courier-new, #{'"Courier New", Courier, monospace'});
$add: lkt-font-add(lucida-console, #{'"Lucida Console", Monaco, monospace'});