@mixin lkt-modal($content-width: 50%, $content-height: 50%, $animation: default) {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  @include lkt-layer(lkt-config(modal-layer));

  .back {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: transparent;
    z-index: 1;
    cursor: pointer;
  }

  .inner {
    position: absolute;
    max-width: $content-width;
    max-height: $content-height;
    background: #ffffff;
    border: 1px solid #000000;
    border-radius: 2px;
    z-index: 2;
    @include lkt-align(50%, 50%);
  }

  &.is-open {
    display: block;

    @if($animation == default) {
      .back {
        animation: lkt-keyframes-modal-default-back lkt-config(modal-back-animation-time) cubic-bezier(.36, .07, .19, .97) both;
      }

      .inner {
        animation: lkt-keyframes-modal-default-inner lkt-config(modal-inner-animation-time) cubic-bezier(.36, .07, .19, .97) both;
      }
    } @else if($animation == theater){

      .back {
        animation: lkt-keyframes-modal-theater-back lkt-config(modal-back-animation-time) cubic-bezier(.36, .07, .19, .97) both;
      }

      .inner {
        animation: lkt-keyframes-modal-default-inner lkt-config(modal-inner-animation-time) cubic-bezier(.36, .07, .19, .97) both;
      }
    }
  }

  @if($animation == default){
    @include lkt-keyframes-modal-default-inner();
    @include lkt-keyframes-modal-default-back();

  } @else if($animation == theater){
    @include lkt-keyframes-modal-default-inner();
    @include lkt-keyframes-modal-theater-back();
  }
}

@mixin lkt-modal-size($content-width: 50%, $content-height: 50%){
  .inner {
    max-width: $content-width;
    max-height: $content-height;
  }
}