@use "../core/media";
@use "../core/config";
@use "../core/functions/fn-strings";
@use "../lkt-flex";
@use "../lkt-normalize";

@mixin lkt-preset-that-css() {

  $a: media.add(tn, '(min-width: 321px)');
  $a: media.add(ssm, '(min-width: 481px)');
  $a: media.add(sm, '(min-width: 641px)');
  $a: media.add(lsm, '(min-width: 769px)');
  $a: media.add(smd, '(min-width: 993px)');
  $a: media.add(md, '(min-width: 1025px)');
  $a: media.add(lg, '(min-width: 1281px)');
  $a: media.add(xl, '(min-width: 1921px)');

  // Font family
  $c: config.get(font-default, false, arial);

  // Font size (always in px)
  $c: config.get(font-size, false, 14px);

  // Factor to convert from px to rem
  $c: config.get(unit-factor-rem, false, 14);

  // Reset
  @include lkt-reset();
  @include lkt-normalize.generate-normalize();

  // Generate grids
  @include lkt-flex.generate-grid(that-row, that-col, 1 2 3 4, '' tn ssm sm lsm smd md lg xl);
  @include lkt-flex.generate-grid(that-row, that-col, 1 2 3 4 5 6 8 10 12 24, '' tn ssm sm lsm smd md lg xl);

  // Multimedia
  $that-media-aspect-ratio: (
          1: (1),
          2: (1),
          8: (4),
          3: (1),
          4: (1),
          16: (9, 10),
  );

  @each $width, $heights in $that-media-aspect-ratio {
    @each $height in $heights {
      $multimedia-alias: fn-strings.concat(':', $width, $height);
      .that-media-#{$width}-#{$height}-in {
        @include lkt-multimedia-in($multimedia-alias);
      }
      .that-media-#{$width}-#{$height}-out {
        @include lkt-multimedia-out($multimedia-alias);
      }
      .that-media-#{$width}-#{$height}-fit {
        @include lkt-multimedia-fit($multimedia-alias);
      }
    }
  }
}