@use "../context";

@mixin get-default-inner() {
  @if (context.isset(lkt-keyframes-modal-default-inner) == false) {

    @keyframes lkt-keyframes-modal-default-inner {
      0% {
        transform: translate(-50%, 150%);
        opacity: 0;
      }

      100% {
        transform: translate(-50%, -50%);
        opacity: 1;
      }
    }

    $c: context.set(lkt-keyframes-modal-default-inner, true);
  }
}

@mixin get-default-back() {
  @if (context.isset(lkt-keyframes-modal-default-back) == false) {

    @keyframes lkt-keyframes-modal-default-back {
      0% {
        transform: translateY(-150%);
        opacity: 0;
        background: rgba(255, 255, 255, 0);
      }

      10% {
        transform: translateY(0);
        opacity: 1;
        background: rgba(255, 255, 255, 0);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
        background: rgba(255, 255, 255, lkt-config(modal-back-opacity-final));
      }
    }

    $c: context.set(lkt-keyframes-modal-default-back, true);
  }
}

@mixin get-theater-back() {
  @if (context.isset(lkt-keyframes-modal-theater-back) == false) {

    @keyframes lkt-keyframes-modal-theater-back {
      0% {
        transform: translateY(-150%);
        opacity: 0;
        background: rgba(0,0,0,0);
      }

      10% {
        transform: translateY(0);
        opacity: 1;
        background: rgba(0,0,0,0);
      }

      100% {
        transform: translateY(0);
        opacity: 1;
        background: rgba(0,0,0,lkt-config(modal-back-opacity-final));
      }
    }

    $c: context.set(lkt-keyframes-modal-theater-back, true);
  }
}