@use "../../../../scss/lkt";

@use "../../../../scss/lkt-reset";
@use "../../../../scss/lkt-angle";
@use "../../../../scss/lkt-gap";
@use "../../../../scss/lkt-flex";

@include lkt-reset.reset();

@include lkt-flex.generate-grid();

@include lkt-gap.generate-gap-container(section);
@include lkt-gap.generate-full-gap(gap-15);

$angle-size: 14px;

.angle-bottom {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  @include lkt-angle.bottom($angle-size, 1px, #000000);
}

.angle-top {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  @include lkt-angle.top($angle-size, 1px, #000000);
}

.angle-right {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  @include lkt-angle.right($angle-size, 1px, #000000);
}

.angle-left {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  @include lkt-angle.left($angle-size, 1px, #000000);
}