<template>
    <section data-lkt="select-results"
             v-show="visible"
             v-on:mousemove="$emit('hovering', true)"
             v-on:mouseleave="$emit('hovering', false)">
        <ul>
            <li v-for="opt in filteredOptions">
                <lkt-select-tag
                    v-bind:id="opt.id"
                    v-bind:text="opt.text"
                    v-bind:can-remove="canRemoveTags"
                    v-bind:focused="focusedOption === opt.id"
                    v-bind:selectable="!!!opt.children"
                    v-on:select="onSelectTag"
                    v-on:remove="onRemoveTag"
                    v-on:hover="onHoverTag"
                ></lkt-select-tag>
                <lkt-select-results
                    v-if="!!opt.children"
                    v-bind:search="search"
                    v-bind:visible="visible"
                    v-bind:options="opt.children"
                    v-bind:can-remove-tags="canRemoveTags"
                    v-bind:focused-option="focusedOption"
                    v-on:select="onSelectTag"
                    v-on:remove="onRemoveTag"
                    v-on:hover="onHoverTag"
                ></lkt-select-results>
            </li>
        </ul>
    </section>
</template>

<script>
import LktSelectTag from "./LktSelectTag";

export default {
    name: "LktSelectResults",
    components: {LktSelectTag},
    props: {
        search: {
            type: String,
            default: ''
        },
        focusedOption: {
            default: ''
        },
        visible: {
            type: Boolean,
            default: false
        },
        canRemoveTags: {
            type: Boolean,
            default: false
        },
        options: {
            type: Array,
            default: () => {
                return [];
            }
        }
    },
    computed: {
        filteredOptions() {
            let s = this.search.toLowerCase();
            let r = this.options.filter(z => {
                return z.text.toLowerCase().indexOf(s) > -1 || (z.children && z.children.filter(y => {
                    return y.text.toLowerCase().indexOf(s) > -1;
                }).length > 0);
            });

            this.$emit('filtered', {lkt: {options: r}})

            return r;
        }
    },
    methods: {
        onSelectTag($event) {
            this.$emit('select', $event);
        },
        onRemoveTag($event) {
            this.$emit('remove', $event);
        },
        onHoverTag($event) {
            this.$emit('hover', $event);
        }
    }
}
</script>

<style lang="scss">

[data-lkt="select-results"] {
    width: 100%;
    max-height: 150px;
    overflow: auto;

    ul {
        display: flex;
        flex-direction: column;
        gap: 5px;
        width: 100%;
    }

    li {
        display: block;
    }

    [data-lkt="select-tag"] {
        width: 100%;
    }

    [data-lkt="select-results"] {
        max-height: none;

        ul {
            padding-top: 5px;
            padding-left: 5px;
        }
    }
}
</style>