<template>
    <section
        data-lkt="select-tag"
        v-bind:data-focused="focused"
        v-on:click.prevent="onSelect($event, id)"
        v-on:mousemove="onHover($event, id)"
    >
        {{text}} <i v-if="canRemove" v-on:click.stop.prevent="onRemove($event, id)">X</i>
    </section>
</template>

<script>
export default {
    name: "LktSelectTag",
    props: {
        id: {
            default: undefined,
        },
        text: {
            type: String,
            default: '',
        },
        selectable: {
            type: Boolean,
            default: true,
        },
        canRemove: {
            type: Boolean,
            default: false,
        },
        focused: {
            type: Boolean,
            default: false,
        }
    },
    emits: {
        select: function (id) {
            if (id) {
                return true;
            }
            console.warn('Id is missing!');
            return false;
        },
        remove: function (id) {
            if (id) {
                return true;
            }
            console.warn('Id is missing!');
            return false;
        }
    },
    methods: {
        onHover($event, id) {
            if (!this.selectable) {
                return false;
            }
            $event.lkt = {id}
            this.$emit('hover', $event)
        },
        onSelect($event, id) {
            if (!this.selectable) {
                return false;
            }
            $event.lkt = {id}
            this.$emit('select', $event)
        },
        onRemove($event, id) {
            if (!this.selectable) {
                return false;
            }
            $event.lkt = {id}
            this.$emit('remove', $event)
        }
    }
}
</script>

<style lang="scss">
[data-lkt="select-tag"] {
    padding: 5px;
    border: 1px solid #cccccc;
    background: #ffffff;
    color: #444444;
    border-radius: 4.5px;
    white-space: nowrap;
    justify-content: space-between;
    cursor: pointer;

    > i {
        display: inline-flex;
        width: 15px;
        height: 15px;
        font-size: 9px;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        border: 1px solid #ccc;
        cursor: pointer;
        margin-left: 5px;
        font-style: normal;
    }

    &[data-focused] {
        border: 1px dashed red;
    }
}

</style>