@use "media";
@use "functions/fn-strings";

//----------
// Config
//----------
$LKT_VARS: ();

//----------
// Functions
//----------
@function set($name: '', $value: '') {
  $LKT_VARS: map-merge($LKT_VARS, ($name: $value)) !global;
  @return true;
}

@function get($name: '') {
  @return map-get($LKT_VARS, $name);
}

@function isset($name: '') {
  @return get($name) != null;
}

@function get-key-by-value($value: '') {
  @each $key, $val in $LKT_VARS {
    @if ($val == $value) {
      @return $key;
    }
  }
  @return false;
}

@function control($control-variable: '', $control-value: null) {
  $control-variable: fn-strings.concat('-', $control-variable, media.get-last-stacked());
  @if ($control-value == null) {
    @return get($control-variable);
  }
  @return set($control-variable, $control-value);
}

@function control-exists($control-variable: '') {
  $control-variable: fn-strings.concat('-', $control-variable, media.get-last-stacked());
  @return get($control-variable) != null;
}

