@use "schema";
@use "functions/fn-lists";

$LKT_FONTS: ();

@function add($font-name: '', $value: '') {
  $LKT_FONTS: map-merge($LKT_FONTS, ($font-name: $value)) !global;
  @return true;
}

@function get($font-name: '') {
  @return map-get($LKT_FONTS, $font-name);
}

@function lkt-font($font-name: '') {
  @return get($font-name);
}

@function get-name($font-name: false, $font-size: false, $font-weight: false, $line-height: false, $font-stretch: false, $letter-spacing: false) {
  $r: ();

  @if ($font-name != false and $font-name != '') {
    $r: append($r, $font-name);
  }

  @if ($font-size != false and $font-size != '') {
    $r: append($r, $font-size);
  }

  @if ($font-weight != false and $font-weight != '') {
    $r: append($r, $font-weight);
  }

  @if ($line-height != false and $line-height != '') {
    $r: append($r, $line-height);
  }

  @if ($font-stretch != false and $font-stretch != '') {
    $r: append($r, $font-stretch);
  }

  @if ($letter-spacing != false and $letter-spacing != '') {
    $r: append($r, $letter-spacing);
  }

  @return schema.prepare-name(fn-lists.implode($r, '-'));
}