@use "context";
@use "functions/fn-multimedia";

@function add($multimedia-name: '', $width: 1, $height: 1) {
  @return context.control(#{lkt-multimedia-$multimedia-name}, fn-multimedia.get-aspect-ratio-percentage($width, $height));
}

@function add-custom($multimedia-name: '', $value: '') {
  @return context.control(#{lkt-multimedia-$multimedia-name}, $value);
}

@function get($multimedia-name: '') {
  @return context.control(#{lkt-multimedia-$multimedia-name});
}