@use "functions/fn-strings";

@function prepare-name($str: '') {
  $r: fn-strings.str-replace($str, '.', '-');
  $r: fn-strings.str-replace($r, '%', 'percent');
  $r: fn-strings.str-replace($r, ' ', '-');
  $r: fn-strings.str-replace($r, '!', '');
  @return $r;
}