//----------
// Functions
//----------
@function lkt-align-format-name($x: false, $y: false) {
  $r: ();
  @if ($x != false and $y != false) {
    $r: append($r, 'xy');
    $r: append($r, $x);
    $r: append($r, $y);

  } @else if ($x != false) {
    $r: append($r, 'x');
    $r: append($r, $x);

  } @else if ($y != false) {
    $r: append($r, 'y');
    $r: append($r, $y);
  }

  @return lkt-schema-prepare-name(lkt-implode($r, '-'));
}

//----------
// Mixins
//----------
@mixin lkt-align($x: false, $y: false) {
  @include lkt-schema-mode(lkt-concat('-', lkt-align, lkt-align-format-name($x, $y)), schema-mode-aligns, (lkt-media-stack-get-last())) {
    @if ($x != false and $y != false) {
      top: $y;
      left: $x;
      transform: translate($x * -1, $y * -1);

    } @else if ($x != false) {
      left: $x;
      transform: translateX($x * -1);

    } @else if ($y != false) {
      top: $y;
      transform: translateY($y * -1);
    }
  }
}