@use "../core/context";
@use "../core/functions/fn-strings";

@mixin stretch($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-stretch;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-stretch) == false) {
    @keyframes lkt-stretch {
      0% {
        transform: scale(.3);
      }

      100% {
        transform: scale(1);
      }
    }

    $c: context.set(lkt-effect-stretch, true);
  }
}

@mixin elastic($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-elastic;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-elastic) == false) {
    @keyframes lkt-elastic {
      0% {
        transform: scale(.3);
      }

      25% {
        transform: scale(1);
      }

      50% {
        transform: scale(.9);
      }

      100% {
        transform: scale(1);
      }
    }

    $c: context.set(lkt-effect-elastic, true);
  }
}

@mixin bounce-in($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-bounce-in;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (context.isset(lkt-effect-bounce-in) == false) {
    @keyframes lkt-bounce-in {

      0%, 100%, 20%, 40%, 60%, 80% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
      }
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
      }
      20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
      }
      40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
      }
      60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
      }
      80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
      }
      100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
      }
    }

    $c: context.set(lkt-effect-bounce-in, true);
  }
}

@mixin scale($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $transform-fix: false) {
  $existing-keyframe: context.get-key-by-value($transform-fix);
  $generate-animation: false;
  $animation-name: $existing-keyframe;
  $current-transform-index: context.get(lkt-animate-scale-index);
  @if ($current-transform-index == null) {
    $current-transform-index: 0;
  }

  @if ($existing-keyframe == false) {
    $animation-name: fn-strings.concat('-', lkt-scale, $current-transform-index);
    $generate-animation: true;
  }

  @if ($duration == initial) {
    $duration: 250ms;
  }

  @if ($timing == initial) {
    $timing: cubic-bezier(.36, .07, .19, .97);
  }

  @if ($delay == initial) {
    $delay: false;
  }

  @if ($transform-fix == initial) {
    $transform-fix: false;
  }

  @if ($transform-fix == false) {
    $transform-fix: unquote("");
  }

  animation-name: $animation-name;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if ($generate-animation == true and context.isset(lkt-effect-scale) == false) {
    @keyframes #{$animation-name} {
      33% {
        transform: scale(.8) $transform-fix;
      }

      66% {
        transform: scale(1.2) $transform-fix;
      }

      100% {
        transform: scale(1) $transform-fix;
      }
    }

    $c: context.set(lkt-effect-scale, true);
    $c: context.set(lkt-animate-scale-index, $current-transform-index + 1);
    $c: context.set($animation-name, $transform-fix);
  }
}