@use "../lkt-pseudo";
@use "../lkt-position";

@mixin get-initial-state($origin: left, $color: #000, $weight: 1px, $initial-width: 0, $pseudo: before, $bottom: 0, $transition: width linear 250ms) {
  display: inline-block;
  position: relative;

  @if ($pseudo == after) {
    @include lkt-pseudo.after(block, absolute) {
      width: $initial-width;
      bottom: $bottom;
      transition: $transition;

      @if ($origin == center) {
        left: 50%;
        @include lkt-position.align(50%, false);
      } @else if ($origin == right) {
        right: 0%;
      } @else {
        left: 0;
      }

      height: $weight;
      background: $color;
    }
  } @else {
    @include lkt-pseudo.before(block, absolute) {
      width: $initial-width;
      bottom: $bottom;
      transition: $transition;

      @if ($origin == center) {
        left: 50%;
        @include lkt-position.align(50%, false);
      } @else if ($origin == right) {
        right: 0%;
      } @else {
        left: 0;
      }

      height: $weight;
      background: $color;
    }
  }

  @content;
}

@mixin get-final-state($final-width: 100%, $pseudo: before) {
  @if ($pseudo == after) {
    @include lkt-pseudo.after() {
      width: $final-width;
    }
  } @else {
    @include lkt-pseudo.before() {
      width: $final-width;
    }
  }
}