<template>
<div class="section">
    <angle-demo-component></angle-demo-component>
</div>
</template>

<script>
import AngleDemoComponent from "../components/AngleDemoComponent";
export default {
    name: "DemoSpa",
    components: {AngleDemoComponent}
}
</script>

<style>

body {
    background: purple;
}

</style>