@mixin lkt-lightbox($animation: stretch) {
  display: none;
  position: fixed;
  z-index: 999;
  width: 100%;
  height: 100%;
  text-align: center;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  text-decoration: none;
  align-items: center;
  justify-content: center;

  @include lkt-before(block, absolute, 'x') {
    @include lkt-font(arial, 2em, 2em, 900);
    color: #fff;
    top: 15px;
    right: 15px;
  }

  img {
    max-width: 90%;
    max-height: 80%;
    box-shadow: 0 0 24px 2px #0E0E0E;
  }

  span {
    color: #fff;
    text-decoration: none;
    padding: 0.5em;
    font-size: 1.2em;
    display: block;
  }

  &:target {
    outline: none;
    display: flex;
  }

  @if ($animation == stretch) {
    img {
      @include lkt-animate-stretch(500ms);
    }
  } @else if ($animation == elastic) {
    img {
      @include lkt-animate-bounce-in(1000ms);
    }
  }
}