@mixin lkt-preset-bootstrap-media-queries() {
  $c: lkt-media(xs, '(max-width: 575px)');

  $c: lkt-media(to-sm, '(max-width: 575px)');
  $c: lkt-media(sm, '(min-width: 576px)');
  $c: lkt-media(only-sm, '(min-width: 576px) and (max-width: 767px)');

  $c: lkt-media(to-md, '(max-width: 767px)');
  $c: lkt-media(md, '(min-width: 768px)');
  $c: lkt-media(md-only, '(min-width: 768px) and (max-width: 991px)');

  $c: lkt-media(to-lg, '(max-width: 991px)');
  $c: lkt-media(lg, '(min-width: 992px)');
  $c: lkt-media(only-lg, '(min-width: 992px) and (max-width: 1199px)');

  $c: lkt-media(to-xlg, '(max-width: 1199px)');
  $c: lkt-media(xlg, '(min-width: 1200px)');
}

@mixin lkt-preset-bootstrap-grid-syntax() {
  $c: lkt-config(grid-name-row, false, unquote(':n-:m'));
  $c: lkt-config(grid-name-column, false, unquote(':n-:m-:i'));
  $c: lkt-config(grid-name-order, false, unquote(':n-:m-:i-:t'));
  $c: lkt-config(momentum-scroll-media, false, to-lg);
}

@mixin lkt-preset-bootstrap-grid($grid-media-queries: ('' to-lg lg)) {
  @include lkt-preset-bootstrap-grid-syntax();

  @include lkt-grid-flex(row, col, 12, $grid-media-queries);
  @include lkt-gap(row, lkt-rem(15px), $grid-media-queries);
  @include lkt-gap-container(container, row, lkt-rem(15px), $grid-media-queries);
}