<template>
    <section data-lkt="field-select-test">
        <section class="always-visible-content"
                 v-on:click="showFinder"
        >
            <div class="display-value">
                <lkt-select-tag
                    v-for="tag in selectedTags"
                    v-bind:id="tag.id"
                    v-bind:text="tag.text"
                    v-bind:can-remove="!disabled"
                    v-on:remove="onUnselectTag"
                    v-on:select="showFinder"
                ></lkt-select-tag>
            </div>
        </section>

        <section data-role="finder" v-show="active">
            <section class="always-visible-content">
                <div class="display-value"
                     v-on:mousemove="onHoveringResults">
                    <lkt-select-tag
                        v-for="tag in selectedTags"
                        v-bind:id="tag.id"
                        v-bind:text="tag.text"
                        v-bind:can-remove="!disabled"
                        v-on:remove.stop.prevent="onUnselectTag"
                        v-on:select.stop.prevent="showFinder"
                    ></lkt-select-tag>
                </div>
                <div class="display-input">
                    <lkt-field-text
                        ref="search"
                        v-model="search"
                        v-bind:data-filled="search.length > 0"
                        v-bind:disabled="disabled"
                        v-on:focus.stop="showList = true"
                        v-on:blur.stop="onBlurInput"
                        v-on:keyup.enter.stop="onPressEnter"
                        v-on:keyup.esc.stop="onPressEsc"
                        v-on:keyup.up.stop="moveFocusedOption('up')"
                        v-on:keyup.down.stop="moveFocusedOption('down')"
                        v-on:keyup.stop="onWrite"
                        v-on:click.stop
                    ></lkt-field-text>
                </div>
                <lkt-select-results
                    v-bind:search="search"
                    v-bind:focused-option="focusedOption"
                    v-bind:options="Options"
                    v-bind:visible="showList"
                    v-bind:can-remove-tags="taggable"
                    v-on:hovering="onHoveringResults"
                    v-on:select="onSelectTag"
                    v-on:remove="onRemoveTag"
                    v-on:hover="onHoverTag"
                    v-on:filtered="filteredOptions = $event.lkt.options"
                ></lkt-select-results>
            </section>
        </section>
    </section>
</template>

<script>
import LktSelectResults from "./components/LktSelectResults";
import LktSelectTag from "./components/LktSelectTag";

export default {
    name: "LktFieldTagSelect",
    components: {LktSelectTag, LktSelectResults},
    props: {
        value: {
            type: Array,
            default: () => {
                return [0, 1, 2]
            }
        },
        options: {
            type: Array,
            default: () => {
                return [
                    {id: 0, text: 'Lorem'},
                    {id: 1, text: 'Ipsum'},
                    {id: 2, text: 'Dolor'},
                    {id: 3, text: 'Sit'},
                    {id: 4, text: 'Amet', children: [{id: 5, text: 'amet 1'}, {id: 6, text: 'amet 2'}]},
                ]
            }
        },
        taggable: {
            type: Boolean,
            default: false
        },
        multiple: {
            type: Boolean,
            default: true
        },
        disabled: {
            type: Boolean,
            default: false
        },
    },
    data() {

        let value = this.value;
        if (this.value.length > 1 && !this.multiple) {
            value = [value[0]];
        }

        let focusedOption = '';
        if (this.options.length > 0) {
            focusedOption = this.options[0].id;
        }

        return {
            Value: value,
            Options: this.options,
            filteredOptions: [],
            search: '',
            showList: false,
            hovering: false,
            active: false,
            focusedOption,
        };
    },
    computed: {
        allTags() {
            let r = [];
            this.Options.forEach(opt => {
                r.push(opt);
                if (opt.children) {
                    opt.children.forEach(child => {
                        r.push(child);
                    })
                }
            });
            return r;
        },
        allTagsFiltered() {
            let s = this.search.toLowerCase();
            return this.allTags.filter(z => {
                return z.text.toLowerCase().indexOf(s) > -1;
            })
        },
        selectedTags() {
            return this.allTags.filter(z => {
                return this.Value.indexOf(z.id) > -1;
            })
        }
    },
    watch: {
        'Options': {
            handler(v) {
                console.log('v', v);
                // this.$emit('input', v);
            },
            deep: true
        },
        'filteredOptions': {
            handler(v) {
                let focusedOption = '';
                if (this.allTagsFiltered.length > 0) {
                    focusedOption = this.allTagsFiltered[0].id;
                }

                this.focusedOption = focusedOption;
            },
            deep: true
        },
    },
    methods: {
        moveFocusedOption(dir) {
            let opt = this.focusedOption,
                l = this.allTags.length - 1;
            this.allTagsFiltered.forEach((z, i) => {
                if (z.id === opt) {
                    let j = i;
                    if (dir === 'down') {
                        ++j;
                        if (j > l) {
                            j = 0;
                        }
                        if (this.allTagsFiltered[j].children){
                            ++j;
                        }
                        if (j > l) {
                            j = 0;
                        }
                    }else if (dir === 'up') {
                        --j;
                        if (j < 0) {
                            j = l
                        }
                        if (this.allTagsFiltered[j].children){
                            --j;
                        }
                        if (j < 0) {
                            j = l
                        }
                    }
                    this.focusedOption = this.allTagsFiltered[j].id;
                    return false;
                }
            });
        },
        showFinder() {
            this.active = true;
            this.$refs.search.focus();
        },
        hideFinder() {
            this.active = false;
        },
        onWrite($event) {
            this.showList = true;
        },
        onSelectTag($event) {
            let id = $event.lkt.id;
            this.selectId(id);
            if (!$event.ctrlKey) {
                this.showList = false;
                this.hideFinder();
            } else {
                this.showFinder();
            }

        },
        onHoverTag($event) {
            this.focusedOption = $event.lkt.id;
        },
        selectId(id) {
            let notSelected = this.Value.indexOf(id) === -1;
            let emptyValue = this.Value.length === 0;

            if (notSelected) {
                if (!this.multiple && !emptyValue) {
                    this.Value.splice(0, 1);
                }
                this.Value.push(id);
                return true;
            }
            return false;
        },
        onRemoveTag($event) {
            let id = $event.lkt.id;

            let i = this.Options.map(z => {
                return z.id
            }).indexOf(id);

            let index = this.Value.indexOf(id);
            this.Value.splice(index, 1);
            this.Options.splice(i, 1);
        },
        onUnselectTag($event) {
            let id = $event.lkt.id;
            let index = this.Value.indexOf(id);
            this.Value.splice(index, 1);
            this.hovering = false;
            if (this.active) {
                this.showFinder();
            }
        },
        onBlurInput($event) {
            if (!this.hovering) {
                this.showList = false;
                this.hideFinder();
            }
        },
        onHoveringResults($event) {
            this.hovering = $event;
        },
        onPressEsc($event) {
            this.showList = false;
            this.hideFinder();
        },
        onPressEnter($event) {
            let s = this.search.toLowerCase();

            if (this.taggable) {

                let filtered = this.filteredOptions.filter(z => {
                        return z.text.toLowerCase() === s;
                    }),
                    added = filtered.length > 0;

                if (!added) {
                    this.Options.push({
                        id: this.search,
                        text: this.search,
                    });
                    this.search = '';
                }

                if (filtered.length > 0 && this.selectId(filtered[0].id)) {
                    this.search = '';
                }
            } else {

                let filtered = this.filteredOptions.filter(z => {
                    return z.text.toLowerCase().indexOf(s) > -1;
                });

                if (filtered.length > 0 && this.selectId(this.focusedOption)) {
                    this.search = '';
                }
            }
        },
    }
}
</script>

<style lang="scss">
[data-lkt="field-select-test"] {
    position: relative;
    z-index: 4;
    $max-width: 320px;

    [data-role="finder"] {
        position: absolute;
        top: 0;
        left: 0;
        width: $max-width;
        max-width: 100vw;

        .display-value {
            width: 100%;
            flex-wrap: wrap;
        }
    }

    [data-lkt=field-text] {
        width: 100%;

        &:not([data-labeled]) {
            margin-top: 0 !important;
        }
    }

    .always-visible-content {
        display: flex;
        flex-direction: column;
        gap: 5px;
        cursor: text;
        width: 100%;
        min-height: 34px;
        max-width: $max-width;
        font-size: 14px;
        z-index: 1;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4.5px;
        padding: 5px;
        overflow: hidden;

        [data-lkt="select-tag"] {
            display: inline-flex;
        }
    }

    .display-value {
        display: flex;
        align-items: center;
        min-width: 0px;
        font-size: 14px;
        line-height: 120%;
        flex: 1;
        gap: 5px;
        overflow: hidden;
        width: 100%;
    }

    .display-input {
        display: flex;
        align-items: center;
        border: none;
        background: transparent;
        font-size: inherit;
        line-height: 20px;
        //flex: 1 1 60px;
        min-width: 60px;
        flex: 1;
        width: 100%;
    }
}
</style>