@mixin lkt-is($selector: false){
  @if($selector != false){
    &.is-#{$selector} {
      @content;
    }
  }
}

@mixin lkt-child-of($selector: '') {
  #{unquote($selector)} & {
    @content;
  }
}

@mixin lkt-has($selector: '') {
  &#{unquote($selector)} {
    @content;
  }
}