@font-face {
  font-family: 'lkt-social-share';
  src: url('../font/lkt-social-share.eot?13153552');
  src: url('../font/lkt-social-share.eot?13153552#iefix') format('embedded-opentype'),
       url('../font/lkt-social-share.woff2?13153552') format('woff2'),
       url('../font/lkt-social-share.woff?13153552') format('woff'),
       url('../font/lkt-social-share.ttf?13153552') format('truetype'),
       url('../font/lkt-social-share.svg?13153552#lkt-social-share') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'lkt-social-share';
    src: url('../font/lkt-social-share.svg?13153552#lkt-social-share') format('svg');
  }
}
*/
 
 [class^="lkt-social-share-icon-"]:before, [class*=" lkt-social-share-icon-"]:before {
  font-family: "lkt-social-share";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.lkt-social-share-icon-facebook:before { content: '\e800'; } /* '' */
.lkt-social-share-icon-twitter:before { content: '\e801'; } /* '' */
.lkt-social-share-icon-linkedin:before { content: '\e802'; } /* '' */
.lkt-social-share-icon-googleplus:before { content: '\e803'; } /* '' */
.lkt-social-share-icon-email:before { content: '\e804'; } /* '' */
.lkt-social-share-icon-pinterest:before { content: '\e805'; } /* '' */
.lkt-social-share-icon-whatsapp:before { content: '\f232'; } /* '' */