
.lkt-social-share-icon-facebook:before { content: '\e800'; } /* '' */
.lkt-social-share-icon-twitter:before { content: '\e801'; } /* '' */
.lkt-social-share-icon-linkedin:before { content: '\e802'; } /* '' */
.lkt-social-share-icon-googleplus:before { content: '\e803'; } /* '' */
.lkt-social-share-icon-email:before { content: '\e804'; } /* '' */
.lkt-social-share-icon-pinterest:before { content: '\e805'; } /* '' */
.lkt-social-share-icon-whatsapp:before { content: '\f232'; } /* '' */