$LKT_CONFIG: (
        debug: false,

        // Design
        design-viewport-width: 0,
        design-viewport-height: 0,

        // Font
        font-default: arial,
        font-size: 16px,
        line-height: 1.425,
        font-schema: true,
        font-relative-line-height: true,
        font-responsive-unit: px,
        font-responsive-max-viewport-width: false,
        font-responsive-max-viewport-height: false,

        // Grid
        grid-include-order: true,
        grid-include-modifiers: true,
        grid-include-push-and-pull: true,
        grid-name-row: unquote(':n-:m'),
        grid-name-column: unquote(':n-:i-:t-:m'),
        grid-name-order: unquote(':n-:i-:t-:m'),

        //Hamburguers
        hamburger-padding-x: 15px,
        hamburger-padding-y: 15px,
        hamburger-layer-width: 40px,
        hamburger-layer-height: 4px,
        hamburger-layer-spacing: 4px,
        hamburger-layer-color: #000,
        hamburger-layer-border-radius: 4px,
        hamburger-hover-opacity: .7,
        hamburger-active-layer-color: #000,
        hamburger-active-hover-opacity: .7,

        // Media
        media-default-target: 'all',

        //Modals
        modal-layer: modal,
        modal-inner-animation-time: 250ms,
        modal-back-animation-time: 2000ms,
        modal-back-opacity-final: .75,

        // Overlays
        layer-overlay-background: 1,
        layer-overlay-content: 2,

        // Units
        unit-factor-rem: 16,
        unit-include-px: true,
        unit-round-em: 2,
        unit-round-rem: 2,
        unit-round-percent: 2,
        unit-round-vh: 2,
        unit-round-vw: 2,
        unit-round-lh: 2,

        // Schema
        schema-media-queries: (''),

        // Scroll
        momentum-scroll-media: false,
        scroll-main-direction: false,

        // Schema Mode
        schema-mode-aligns: true,
        schema-mode-font: true,
        schema-mode-grid: true,
        schema-mode-layers: true,
        schema-mode-wrap: true,

        // Vendor support
        support-wordpress: false,

        // Media query map
        lkt-media: ()
);

@function lkt-config-medias() {
  @return map_get($LKT_CONFIG, lkt-media);
}

@function lkt-config-media-prop-exists($media: '', $prop: '') {
  $medias: lkt-config-medias();
  @if (map_get($medias, $media) != null) {
    @return map_get(map_get($medias, $media), $prop) != null;
  }
}

@function lkt-config($prop: false, $media: lkt-media-stack-get-last(), $value: null) {
  @if($prop == false){
    @return false;
  }

  @if($media == false){
    $media: '';
  }

  // Getting config value
  @if ($value == null) {
    @if ($media != '' and lkt-media-exists($media)) {
      $map: map_get($LKT_CONFIG, lkt-media);
      $map1: map_get($map, $media);
      @if ($map1 != null) {
        $r: map_get($map1, $prop);
        @if ($r != null) {
          @return $r;
        }
      }
    }
    @return map_get($LKT_CONFIG, $prop);
  }

  // Setting config value (in media)
  @if ($media != '' and lkt-media-exists($media)) {
    $medias: map_get($LKT_CONFIG, lkt-media);

    @if (map_get($medias, $media) != null) {
      $mediaTemp: map_get($medias, $media);
      $mediaTemp: map_merge($mediaTemp, ($prop: $value));
      $medias: map_merge($medias, ($media: $mediaTemp));

    } @else {
      $medias: map_merge($medias, ($media: ($prop: $value)));
    }
    $LKT_CONFIG: map_merge($LKT_CONFIG, (lkt-media: $medias)) !global;
    @return true;
  }

  // Setting config value (global)
  $LKT_CONFIG: map_merge($LKT_CONFIG, ($prop: $value)) !global;
  @return true;
}

@mixin lkt-config-responsive-font-size() {
  $value: lkt-config(font-size);
  $unit: lkt-config(font-responsive-unit);
  @if ($unit == vw or $unit == vh) {
    $factor: lkt-config(design-viewport-width);
    $round: lkt-config(unit-round-vw);
    @if ($unit == vh) {
      $factor: lkt-config(design-viewport-height);
      $round: lkt-config(unit-round-vh);
    }
    font-size: lkt-unit-convert($value, $factor, $round, $unit);

    @if ($unit == vw) {
      @if (lkt-config(font-responsive-max-viewport-width) != false) {
        @include lkt-big-enough(font-size, $value, lkt-config(design-viewport-width), lkt-config(font-responsive-max-viewport-width));
      }
      @if (lkt-config(font-responsive-min-viewport-width) != false) {
        @include lkt-small-enough(font-size, $value, lkt-config(design-viewport-width), lkt-config(font-responsive-min-viewport-width));
      }

    } @else if ($unit == vh) {
      @if (lkt-config(font-responsive-max-viewport-height) != false) {
        @include lkt-big-enough(font-size, $value, lkt-config(design-viewport-height), lkt-config(font-responsive-max-viewport-height));
      }
      @if (lkt-config(font-responsive-min-viewport-height) != false) {
        @include lkt-small-enough(font-size, $value, lkt-config(design-viewport-height), lkt-config(font-responsive-min-viewport-height));
      }
    }


  } @else {
    font-size: $value;
  }
}
