//----------
// Functions
//----------
@function lkt-greatest-common-divider($a, $b) {
  @if $b == 0 {
    @return $a;
  }
  @return lkt-greatest-common-divider($b, $a%$b);
}

@function lkt-aspect-ratio-percentage($a, $b) {
  $aspect: lkt-greatest-common-divider($a, $b);
  $h: $b / $aspect;
  $w: $a / $aspect;
  @return ($h / $w) * 100%;
}

@function lkt-multimedia-add($multimedia-name: '', $width: 1, $height: 1) {
  @return lkt-control(#{lkt-multimedia-$multimedia-name}, lkt-aspect-ratio-percentage($width, $height));
}

@function lkt-multimedia-add-custom($multimedia-name: '', $value: '') {
  @return lkt-control(#{lkt-multimedia-$multimedia-name}, $value);
}

@function lkt-multimedia-get($multimedia-name: '') {
  @return lkt-control(#{lkt-multimedia-$multimedia-name});
}

//----------
// Mixins
//----------
@mixin lkt-multimedia-in($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: lkt-multimedia-get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    @include lkt-position(absolute, 0, 0, 0, 0);
  }
}

@mixin lkt-multimedia-fit($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: lkt-multimedia-get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    width: 100%;
    height: 100%;
    @include lkt-position(absolute, 0, 0, 0, 0);
  }
}

@mixin lkt-multimedia-out($media-name) {
  position: relative;
  overflow: hidden;
  padding-bottom: lkt-multimedia-get($media-name);

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    $value: lkt-rem(-9999px);
    @include lkt-position(absolute, $value, $value, $value, $value);

  }
}

@mixin lkt-multimedia-in-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    max-width: 100%;
    max-height: 100%;
    @include lkt-position(absolute, 0, 0, 0, 0);
  }
}

@mixin lkt-multimedia-fit-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    width: 100%;
    height: 100%;
    @include lkt-position(absolute, 0, 0, 0, 0);
  }
}

@mixin lkt-multimedia-out-custom($custom-value) {
  position: relative;
  overflow: hidden;
  padding-bottom: $custom-value;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: none;
    max-height: none;
    $value: lkt-rem(-9999px);
    @include lkt-position(absolute, $value, $value, $value, $value);
  }
}

@mixin lkt-multimedia-parallax($media-name) {
  min-height: lkt-multimedia-get($media-name);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin lkt-multimedia-parallax-custom($custom-value) {
  min-height: $custom-value;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin lkt-multimedia-area($width: 0px, $height: 0px, $target-width: 1280px){
  position: relative;
  overflow: hidden;
  width: $target-width;
  padding-bottom: lkt-aspect-ratio-percentage($width, $height);
  max-width: 100%;

  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    margin: auto;
    width: 100%;
    height: 100%;
    @include lkt-position(absolute, 0, 0, 0, 0);
  }
}

@mixin lkt-figure($width: 100%, $height: 100%, $mode: natural) {

  @if($mode == natural){
    overflow: hidden;
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;

    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      @if($width != false){
        max-width: $width;
      }
      @if($height != false) {
        max-height: $height;
      }
      min-width: 0;
      min-height: 0;
      @include lkt-align(0, 0);

      @content;
    }

  } @else if($mode == mask) {
    overflow: hidden;
    max-width: 100%;
    width: auto;
    height: auto;
    display: inline-block;

    @if($width != false){
      max-width: $width;
    }
    @if($height != false) {
      max-height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      width: 100%;
      height: 100%;
      min-width: 0;
      min-height: 0;
      position: relative;
      @include lkt-align(0, 0);

      @content;
    }

  }@else if($mode == out) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: none;
      position: relative;
      @include lkt-align(50%, 50%);

      @content;
    }
  }@else if($mode == out-x) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: none;
      max-height: 100%;
      position: relative;
      @include lkt-align(50%, 50%);

      @content;
    }
  }@else if($mode == out-y) {
    overflow: hidden;
    max-width: 100%;
    display: inline-block;

    @if($width != false){
      width: $width;
    }
    @if($height != false) {
      height: $height;
    }


    > img,
    > video,
    > canvas,
    > source {
      width: auto;
      height: auto;
    }

    > img,
    > video,
    > iframe,
    > canvas,
    > source {
      display: block;
      margin: auto;
      min-width: 100%;
      min-height: 100%;
      max-width: 100%;
      max-height: none;
      position: relative;
      @include lkt-align(50%, 50%);

      @content;
    }
  }
}

@mixin lkt-figure-size($width: 100%, $height: 100%) {
  > img,
  > video,
  > iframe,
  > canvas,
  > source {
    @if($width != false){
      max-width: $width;
    }
    @if($height != false) {
      max-height: $height;
    }

    @content;
  }
}

//----------
// Initial variables
//----------
$add: lkt-multimedia-add('1:1', 1, 1);
$add: lkt-multimedia-add('1:2', 1, 2);
$add: lkt-multimedia-add('2:1', 2, 1);
$add: lkt-multimedia-add('2:3', 2, 3);
$add: lkt-multimedia-add('3:2', 3, 2);
$add: lkt-multimedia-add('3:4', 3, 4);
$add: lkt-multimedia-add('4:3', 4, 3);
$add: lkt-multimedia-add('4:5', 4, 5);
$add: lkt-multimedia-add('5:4', 5, 4);
$add: lkt-multimedia-add('6:4', 6, 4);
$add: lkt-multimedia-add('6:5', 6, 5);
$add: lkt-multimedia-add('9:16', 9, 16);
$add: lkt-multimedia-add('9:21', 9, 21);
$add: lkt-multimedia-add('9:32', 9, 32);
$add: lkt-multimedia-add('10:16', 10, 16);
$add: lkt-multimedia-add('16:9', 16, 9);
$add: lkt-multimedia-add('16:10', 16, 10);
$add: lkt-multimedia-add('21:9', 21, 9);
$add: lkt-multimedia-add('32:9', 32, 9);