/**
  Lists functions
 */
@function contains($list, $var) {
  $_out: false;
  @each $item in $list {
    @if $item == $var {
      $_out: true;
    }
  }
  @return $_out;
}

@function list-nth-delete($list, $n) {
  $result: ();
  $n: if($n < 0, length($list) + $n + 1, $n);
  $bracketed: is-bracketed($list);
  $separator: list-separator($list);
  @for $i from 1 through length($list) {
    @if $i != $n {
      $result: append($result, nth($list, $i));
    }
  }
  @return join((), $result, $separator, $bracketed);
}

@function implode($pieces: (), $glue: '') {
  $result: null;
  @for $i from 1 through length($pieces) {
    $piece: nth($pieces, $i);
    @if type-of($piece) == list {
      $result: unquote("#{$result}#{$glue}#{implode($piece, $glue)}");
    } @else {
      $result: unquote("#{$result}#{$glue}#{$piece}");
    }
  }
  @if $result != null {
    $result: str-slice($result, str-length($glue) + 1, -1);
  }
  @return $result;
}

/**
String functions
 */
@function to-string($value: null) {
  @return inspect($value);
}

@function str-replace($haystack: '', $needle: '', $replace: '') {
  $haystack: to-string($haystack);
  $index: str-index($haystack, $needle);

  @if $index {
    @return str-slice($haystack, 1, $index - 1) + $replace + str-replace(str-slice($haystack, $index + str-length($needle)), $needle, $replace);
  }

  @return $haystack;
}

@function pow($base, $pow) {
  $ret: 1;

  @if $pow >= 0 {
    @for $i from 1 through $pow {
      $ret: $ret * $base;
    }
  } @else {
    @for $i from $pow to 0 {
      $ret: $ret / $base;
    }
  }

  @return $ret;
}

@function to-fixed($float, $digits: 2) {
  $sass-precision: 5;

  @if $digits > $sass-precision {
    @warn "Sass sets default precision to #{$sass-precision} digits, and there is no way to change that for now."
    + "The returned number will have #{$sass-precision} digits, even if you asked for `#{$digits}`."
    + "See https://github.com/sass/sass/issues/1122 for further informations.";
  }

  $pow: pow(10, $digits);
  @return round($float * $pow) / $pow;
}

@function concat($glue: '', $strings...){
  $r: '';
  $l: length($strings);

  @for $i from 1 through $l {
    @if ($i > 1){
      $r: #{$r + $glue + nth($strings, $i)};
    } @else {
      $r: #{$r + nth($strings, $i)};
    }
  }

  @return $r;
}

/**
  Units functions
 */
@function is-number($value) {
  @return type-of($value) == 'number';
}

@function is-time($value) {
  @return is-number($value) and index('ms' 's', unit($value)) != null;
}

@function is-angle($value) {
  @return is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function is-frequency($value) {
  @return is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function is-integer($value) {
  @return is-number($value) and round($value) == $value;
}

@function is-relative-length($value) {
  @return is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function is-absolute-length($value) {
  @return is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function is-percentage($value) {
  @return is-number($value) and unit($value) == '%';
}

@function is-length($value) {
  @return is-relative-length($value) or is-absolute-length($value);
}

@function is-resolution($value) {
  @return is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function strip-unit($value) {
  @if is-number($value) and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}