@function lkt-contains($list, $var) {
  $_out: false;
  @each $item in $list {
    @if $item == $var {
      $_out: true;
    }
  }
  @return $_out;
}

@function lkt-list-nth-delete($list, $n) {
  $result: ();
  $n: if($n < 0, length($list) + $n + 1, $n);
  $bracketed: is-bracketed($list);
  $separator: list-separator($list);
  @for $i from 1 through length($list) {
    @if $i != $n {
      $result: append($result, nth($list, $i));
    }
  }
  @return join((), $result, $separator, $bracketed);
}

@function lkt-implode($pieces: (), $glue: '') {
  $result: null;
  @for $i from 1 through length($pieces) {
    $piece: nth($pieces, $i);
    @if type-of($piece) == list {
      $result: unquote("#{$result}#{$glue}#{lkt-implode($piece, $glue)}");
    } @else {
      $result: unquote("#{$result}#{$glue}#{$piece}");
    }
  }
  @if $result != null {
    $result: str-slice($result, str-length($glue) + 1, -1);
  }
  @return $result;
}