@function lkt-is-number($value) {
  @return type-of($value) == 'number';
}

@function lkt-is-time($value) {
  @return lkt-is-number($value) and index('ms' 's', unit($value)) != null;
}

@function lkt-is-angle($value) {
  @return lkt-is-number($value) and index('deg' 'rad' 'grad' 'turn', unit($value)) != null;
}

@function lkt-is-frequency($value) {
  @return lkt-is-number($value) and index('Hz' 'kHz', unit($value)) != null;
}

@function lkt-is-integer($value) {
  @return lkt-is-number($value) and round($value) == $value;
}

@function lkt-is-relative-length($value) {
  @return lkt-is-number($value) and index('em' 'ex' 'ch' 'rem' 'vw' 'vh' 'vmin' 'vmax', unit($value)) != null;
}

@function lkt-is-absolute-length($value) {
  @return lkt-is-number($value) and index('cm' 'mm' 'in' 'px' 'pt' 'pc', unit($value)) != null;
}

@function lkt-is-percentage($value) {
  @return lkt-is-number($value) and unit($value) == '%';
}

@function lkt-is-length($value) {
  @return lkt-is-relative-length($value) or lkt-is-absolute-length($value);
}

@function lkt-is-resolution($value) {
  @return lkt-is-number($value) and index('dpi' 'dpcm' 'dppx', unit($value)) != null;
}

@function lkt-strip-unit($value) {
  @if lkt-is-number($value) and not unitless($value) {
    @return $value / ($value * 0 + 1);
  }

  @return $value;
}