@mixin lkt-clear-fix() {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin lkt-grid-float($row-name: 'row', $column-name: 'col', $amount-of-columns: 12, $media-queries: (), $include-push-and-pull: lkt-config(grid-include-push-and-pull)) {

  @each $media-query in $media-queries {
    $media-query-string: lkt-media-get-append-string($media-query);
    @include lkt-media($media-query) {

      @if (lkt-schema-exists(#{'lkt-float-grid-row' + $media-query-string}) != true) {
        @include lkt-schema-add-one(#{'lkt-float-grid-row' + $media-query-string}) {
          display: block;
          width: 100%;
          @include lkt-clear-fix;
        }
      }

      @if (lkt-schema-exists(#{'lkt-float-grid-col-0' + $media-query-string}) != true) {
        @include lkt-schema-add-one(#{'lkt-float-grid-col-0' + $media-query-string}) {
          max-width: 0;
          display: none;
          float: left;
        }
      }

      @each $columns in $amount-of-columns {
        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          @if (lkt-schema-exists(#{'lkt-float-grid-col-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-string}) != true) {
            @include lkt-schema-add-one(#{'lkt-float-grid-col-'+lkt-str-replace(lkt-strip-unit($width), '.', '-') + $media-query-string}) {
              width: 100%;
              max-width: $width;
              min-height: 1px;
              display: block;
              float: left;
            }
          }
        }
      }
    }
  }

  @each $media-query in $media-queries {
    @include lkt-media($media-query) {

      $media-query-str: $media-query;
      @if ($media-query != '') {
        $media-query-str: #{'-' + $media-query};
      }

      $selector: lkt-grid-parse-name(lkt-config(grid-name-row), $row-name, '', '', $media-query-str);
      .#{$selector} {
        @include lkt-schema(lkt-float-grid-row);
      }

      $selector: lkt-grid-parse-name(lkt-config(grid-name-column), $column-name, 0, '', $media-query-str);
      .#{$selector} {
        @include lkt-schema(lkt-float-grid-col-0);
      }

      $biggest-column: 1;
      @each $columns in $amount-of-columns {

        @if($columns > $biggest-column){
          $biggest-column: $columns;
        }

        @for $i from 1 to $columns+1 {

          $column-width: 100 / $columns;

          $width: $i * $column-width * 1%;

          $selector: lkt-grid-parse-name(lkt-config(grid-name-column), $column-name, $i, $columns, $media-query-str);
          .#{$selector} {
            @include lkt-schema(#{'lkt-float-grid-col-'+lkt-str-replace(lkt-strip-unit($width), '.', '-')});
          }
        }
      }
    }
  }

  @if($include-push-and-pull == true) {
    @include lkt-push-and-pull($column-name, $amount-of-columns, $media-queries);
  }

  @content;
}