$default-options: (
  gap: 15px,
  border-color: #ccc,
  primary-color: #777,
  secondary-color: #fff,
  hover-color: rgba(0, 0, 0, .2),
);

@mixin get-style($options: $default-options) {

  $gap: map-get($options, gap);
  @if($gap == '') {
    $gap: map-get($default-options, gap);
  }

  $border-color: map-get($options, border-color);
  @if($border-color == '') {
    $border-color: map-get($default-options, border-color);
  }

  $primary-color: map-get($options, primary-color);
  @if($primary-color == '') {
    $primary-color: map-get($default-options, primary-color);
  }

  $secondary-color: map-get($options, secondary-color);
  @if($secondary-color == '') {
    $secondary-color: map-get($default-options, secondary-color);
  }

  $hover-color: map-get($options, hover-color);
  @if($hover-color == '') {
    $hover-color: map-get($default-options, hover-color);
  }

  .tabs-component-tabs {
    display: flex;
    gap: $gap;
    border-bottom: 1px solid $border-color;
    overflow-x: auto;
  }

  [data-lkt="tab"] {
    background: #fff;
    color: $primary-color;
    border: 1px solid $border-color;
    border-radius: 4.5px;
    font-size: 16px;
    line-height: 32px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: all linear 200ms;
    cursor: pointer;

    a {
      color: inherit;
    }

    &[data-active="true"] {
      background: $primary-color;
      color: $secondary-color;
    }

    &:hover {
      background: $hover-color;
      color: $secondary-color;
    }
  }

  [data-lkt="tab-content"] {
    &:not([data-active="true"]) {
      display: none;
    }
  }
}