<template>
    <div class="row angle-container">
        <div class="col-3-12 gap-15"><div class="angle-bottom"></div></div>
        <div class="col-3-12 gap-15 angle-top"></div>
        <div class="col-3-12 gap-15 angle-right"></div>
        <div class="col-3-12 gap-15 angle-left"></div>
    </div>
</template>

<script>
export default {
    name: "AngleDemoComponent"
}
</script>