<template>
    <div data-lkt="api-select" :data-theme="$theme" :data-state="state" :data-multiple="multiple">
      <slot name="prefix"></slot>
        <lkt-select2 ref="field" v-model="Value" :options="options" :settings="Settings" @change="change($event)"
                 @select="select($event)" :disabled="disabled"></lkt-select2>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>
        <lkt-field-api-file v-if="uploadResource" :theme="$theme" :state="state"
                            :disabled="disabled"
                            :resource="uploadResource" label=" " :accept="uploadAccept"
                            @upload-success="uploadSuccess"
        ></lkt-field-api-file>
    </div>
</template>

<script>
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import {Resource} from "../../../js/http/Resource";
import LktFieldApiFile from "./LktFieldApiFile";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";
import LktSelect2 from "../aux-components/LktSelect2";

export default {
    name: "LktFieldFileSelect",
    components: {LktSelect2, LktFieldApiFile},
    mixins: [AbstractFieldMixin, FieldOptionsMixin],
    props: {
        value: {
            type: [String, Number, Array],
            default: '',
        },
        resource: {
            type: String,
            default: ''
        },
        uploadResource: {
            type: String,
            default: ''
        },
        uploadAccept: {
            type: String,
            default: '*/*'
        },
        minLength: {
            type: Number,
            default: 0
        },
        tags: {
            type: Boolean,
            default: false
        }
    },
    watch: {
        options: {
            handler(v) {
                this.Options = v;
            }, deep: true
        }
    },
    computed: {
        Settings() {
            let r = {};

            if (this.placeholder) {
                r.placeholder = this.placeholder;
            }

            if (this.minLength) {
                r.minimumInputLength = this.minLength;
            }

            if (this.multiple) {
                r.multiple = this.multiple;
            }

            if (this.tags) {
                r.tags = this.tags;
            }

            if (this.disabled || this.readonly) {
                r.disabled = this.disabled;
            }

            if (this.resource) {
                let resource = Resource.get(this.resource);

                r.ajax = {
                    url: resource.url,
                    dataType: resource.dataType ? resource.dataType : 'json',
                    delay: 250,
                    data: function (query) {
                        if (resource.searchParam) {
                            let r = {};
                            r[resource.searchParam] = query.term;
                            return r;
                        }
                        return query;
                    },
                    processResults: resource.processResults
                };

                if (this.$lkt.Helper.Type.isFunction(resource.escapeMarkup)) {
                    r.escapeMarkup = resource.escapeMarkup;
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateResult)) {
                    r.templateResult = (...args) => {
                        return resource.templateResult(...args, this.$root, this);
                    };
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateSelection)) {
                    r.templateSelection = (...args) => {
                        return resource.templateSelection(...args, this.$root, this);
                    };
                }
            }
            return r;
        },
    },
    methods: {
        uploadSuccess(r) {
            var newOption = new Option(r.data.text, r.data.id, false, true);
            this.$refs.field.select2.append(newOption).trigger('change');
            this.Value.push(r.data.id);
        },
        change() {
        },
        select() {
        }
    }
}
</script>