<template>
    <div :class="renderSelectors" :data-theme="$theme" data-lkt="field-image">
        <slot name="prefix"></slot>
        <input type="file"
               accept="image/*"
               :name="Name"
               :id="Identifier"
               :disabled="disabled"
               :readonly="readonly"
               :placeholder="placeholder"
               ref="field"
               @change="onChange"
        >
        <label :for="Identifier" role="preview" :data-mode="Value === '' ? 'empty' : 'filled'">
            <img :src="Value"/>
            <span v-if="ImageName" v-html="ImageName"></span>
        </label>
        <label v-if="label" :for="Identifier" v-html="label"></label>
        <lkt-field-reset v-if="canReset && value !== ''" @reset="reset">
            <slot name="reset"></slot>
        </lkt-field-reset>
    </div>
</template>

<script>
import {FieldStateMixin} from "../../mixins/fields/FieldStateMixin";
import {FieldLabelMixin} from "../../mixins/fields/FieldLabelMixin";
import LktFieldReset from "./components/LktFieldReset";
import {FieldNameMixin} from "../../mixins/fields/FieldNameMixin";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldImage",
    components: {LktFieldReset},
    mixins: [FieldLabelMixin, FieldStateMixin, FieldNameMixin, AbstractFieldMixin],
    props: {
        value: {
            type: String,
            default: '',
        },
        placeholder: {
            type: String,
            default: '',
        },
        imageName: {
            type: String,
            default: '',
        }
    },
    data() {
        return {
            Value: '',
            ValueOriginal: '',
            Identifier: '',
            ImageName: '',
            ImageNameOriginal: '',
            canEmit: false,
        }
    },
    watch: {
        value(v) {
            this.Value = v;
            this.validate(v);
        },
        imageName(v) {
            this.ImageName = v;
        },
    },
    computed: {
        renderSelectors() {
            return {
                'type-image': true,
                'state-error': !this.isValid(),
                'state-disabled': this.disabled === true,
                'state-readonly': this.readonly === true,
                'state-changed': this.stateChanged === true,
                'state-empty': this.Value === '',
                'state-filled': this.Value !== '',
            };
        },
    },
    methods: {
        reset() {
            this.Value = '';
            this.ImageName = '';
        },
        getImageName() {
            return this.ImageName;
        },
        onChange(e) {
            let input = e.target;
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = (event) => {
                    this.ImageName = this.$lkt.Helper.File.baseName(this.$refs.field.value);
                    this.Value = event.target.result;
                };
                reader.readAsDataURL(input.files[0]);
            }
        }
    },
    created() {
        this.Value = this.value;
        this.ValueOriginal = this.value;
        this.ImageName = this.imageName;
        this.ImageNameOriginal = this.imageName;
        if (!this.imageName) {
            this.ImageName = this.$lkt.Helper.File.baseName(this.value);
            this.ImageNameOriginal = this.$lkt.Helper.File.baseName(this.value);
        }
        this.Identifier = this.$lkt.Helper.String.generateRandomString(16);
        this.setName();
    },
    mounted() {
        this.canEmit = true;
    }
}
</script>