<template>
    <div data-lkt="field-unit"
         :data-theme="$theme"
         :data-state="state"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
         :data-ranged="addRange"
    >
        <input v-if="addRange"
               type="range"
               :id="Identifier + 'Points'"
               :name="Name + 'Points'"
               v-model="Value"
               :disabled="disabled"
               :readonly="readonly"
               :min="min"
               :max="max">

        <slot name="prefix"></slot>
        <input v-model="Value"
               type="number"
               :name="Name"
               :id="Identifier"
               :disabled="disabled"
               :readonly="readonly"
               :min="min"
               :max="max"
               :step="step"
               :placeholder="placeholder">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
             :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import {FieldStateUIMixin} from "../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldUnit",
    components: {LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldStateUIMixin],
    props: {
        value: {
            type: [Number, String],
            default: '',
        },
        min: {
            type: [Number, Boolean],
            default() {
                return false;
            }
        },
        max: {
            type: [Number, Boolean],
            default() {
                return false;
            }
        },
        step: {
            type: [Number, String],
            default() {
                return 1;
            }
        },
        addRange: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            Value: 0,
            updating: false,
        }
    },
    watch: {
        Value(v) {
            if (this.canEmit === true) {
                if (this.updating) {
                    return;
                }
                this.updating = true;
                if (this.reAssign(v)) {
                    this.$nextTick(() => {
                        this.updating = false;
                    });
                    return;
                }
                this.validate(v);
                this.$emit('input', v);
                this.$emit('change', v);
                this.$nextTick(() => {
                    this.updating = false;
                });
            }
        },
        min() {
            this.reAssign(this.Value);
        },
        max() {
            this.reAssign(this.Value);
        },
    },
    methods: {
        reAssign(v) {
            v = Number(v);
            let reAssign = false;
            if (this.min !== false && v < this.min) {
                v = this.min;
                reAssign = true;
            } else if (this.max !== false && v > this.max) {
                v = this.max;
                reAssign = true;
            }
            if (reAssign === true) {
                this.Value = v;
                return true;
            }
            return false;
        }
    }
}
</script>
