<template>
    <div data-lkt="field-date"
         :data-theme="$theme"
         :data-state="state"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>
        <datepicker v-model="Value"
                    :name="Name"
                    :id="Identifier"
                    :disabled="disabled"
                    :disabled-dates="disabledDates"
                    :readonly="readonly"></datepicker>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
             :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import Datepicker from 'vuejs-datepicker';
import {FieldStateUIMixin} from "../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";
import {DateValidation} from "../../../js/helpers/validations/DateValidation";

export default {
    name: "LktFieldDate",
    components: {Datepicker, LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldStateUIMixin],
    props: {
        value: {
            type: [String, Date],
            default: '',
        },
        disabledDates: {
            type: Object,
            default(){
                return {};
            },
        },
        validation: {
            type: Array,
            default() {
                return [DateValidation];
            }
        },
    },
}
</script>