<template>
    <div data-lkt="api-select"
         :data-theme="$theme"
         :data-state="state"
         :data-multiple="multiple"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>

        <lkt-select2
            :key="resourceRefresh"
            ref="field"
            v-model="Value"
            :options="options"
            :settings="Settings"
            @change="change($event)"
            @select="select($event)"
            :disabled="disabled"
        ></lkt-select2>

        <v-select
            v-if="false"
            :disabled="disabled"
            v-bind:multiple="multiple"
            v-bind:taggable="tags"
            v-bind:push-tags="tags"
            v-model="Value"
            :options="ComputedOptions"
            v-on:search="onSearch"
            label="text"
        ></v-select>

        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
             :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import {Resource} from "../../../js/http/Resource";
import {FieldStateUIMixin} from "../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";
import LktSelect2 from "../aux-components/LktSelect2";

export default {
    name: "LktFieldApiSelect",
    components: {LktSelect2, LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldOptionsMixin, FieldStateUIMixin],
    props: {
        value: {
            type: [String, Number, Array],
            default: '',
        },
        resource: {
            type: String,
            default: ''
        },
        minLength: {
            type: Number,
            default: 0
        },
        tags: {
            type: Boolean,
            default: false
        },
        disabledOptions: {
            type: Array,
            default() {
                return [];
            }
        },
        additionalApiParams: {
            type: Object,
            default() {
                return {};
            }
        }
    },
    data() {
        return {
            Value: '',
            resourceRefresh: false,
            ApiOptions: [],
        }
    },
    watch: {
        resource(v) {
            this.resourceRefresh = !this.resourceRefresh;
        },
        options(v) {
            this.onDisabledOptionsChange(v);
        },
        disabledOptions(v) {
            this.onDisabledOptionsChange(v);
        }
    },
    computed: {
        ComputedOptions(){
            if (this.ApiOptions.length > 0){
                return this.ApiOptions;
            }
            return this.options;
        },
        Settings() {
            let r = {};

            if (this.placeholder) {
                r.placeholder = this.placeholder;
            }

            if (this.minLength) {
                r.minimumInputLength = this.minLength;
            }

            if (this.multiple) {
                r.multiple = this.multiple;
            }

            if (this.tags) {
                r.tags = this.tags;
            }

            if (this.disabled || this.readonly) {
                r.disabled = this.disabled;
            }

            if (this.resource) {
                let me = this,
                    resource = Resource.get(me.resource);

                r.ajax = {
                    url: resource.url,
                    dataType: resource.dataType ? resource.dataType : 'json',
                    delay: 250,
                    data: function (query) {
                        if (resource.searchParam) {
                            let r = {};
                            r[resource.searchParam] = query.term;
                            query = r;
                        }

                        if (me.additionalApiParams
                            && typeof me.additionalApiParams === 'object'
                            && Object.keys(me.additionalApiParams).length > 0) {
                            for (let k in me.additionalApiParams) {
                                if (me.additionalApiParams.hasOwnProperty(k)){
                                    query[k] = me.additionalApiParams[k];
                                }
                            }
                        }
                        return query;
                    },
                    processResults: (data) => {
                        if (data.results && Array.isArray(data.results)) {
                            data.results.forEach((item, i) => {
                                if (this.disabledOptions.indexOf(item.id) > -1) {
                                    data.results[i].disabled = true;
                                }
                            })
                        }

                        if (this.$lkt.Helper.Type.isFunction(resource.processResults)) {
                            return resource.processResults(data, this.$root);
                        }
                        this.ApiOptions = data.results;
                        return data;
                    }
                };

                if (this.$lkt.Helper.Type.isFunction(resource.escapeMarkup)) {
                    r.escapeMarkup = resource.escapeMarkup;
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateResult)) {
                    r.templateResult = (...args) => {
                        return resource.templateResult(...args, this.$root, this);
                    };
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateSelection)) {
                    r.templateSelection = (...args) => {
                        return resource.templateSelection(...args, this.$root, this);
                    };
                }
            }
            return r;
        },
    },
    methods: {
        change() {
        },
        select() {
        },
        getOptions(){
            return this.ComputedOptions;
        },
        onDisabledOptionsChange(v) {
            this.Options.forEach(z => {
                z.disabled = v.indexOf(z.id) > -1;
            });
            let values = v.map(z => {
                return '[value="' + z + '"]';
            }).join(',');
            this.$refs.field.select2.find('[value]').prop('disabled', false);
            this.$refs.field.select2.find(values).prop('disabled', true);
            this.$refs.field.select2.select2(this.Settings);
            this.resourceRefresh = !this.resourceRefresh;
        },
        onSearch(search, loading) {
            if(search.length) {
                loading(true);
                this.search(loading, search, this);
            }
        },
        search: (loading, search, vm) => {
            let resource = Resource.get(vm.resource);
            let params = {};
            if (resource.searchParam) {
                params[resource.searchParam] = search;
            } else {
                params['term'] = search;
            }

            if (vm.additionalApiParams
                && typeof vm.additionalApiParams === 'object'
                && Object.keys(vm.additionalApiParams).length > 0) {
                for (let k in vm.additionalApiParams) {
                    if (vm.additionalApiParams.hasOwnProperty(k)){
                        params[k] = vm.additionalApiParams[k];
                    }
                }
            }


            resource.call(params).then(res => {
                vm.ApiOptions = res.data.results;
                loading(false);
            });
        }
    },
}
</script>