<template>
    <div data-lkt="field-api-file"
         :data-theme="$theme"
         :data-state="state"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>
        <input type="file"
               :name="Name"
               :id="Identifier"
               :disabled="disabled"
               :readonly="readonly"
               :placeholder="placeholder"
               ref="field"
               :accept="accept"
               @change="onChange"
        >
        <label v-if="label" :for="Identifier" v-html="label" v-show="!disabled && !readonly"></label>
    </div>
</template>

<script>
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldApiFile",
    mixins: [AbstractFieldMixin],
    props: {
        value: {
            type: Object,
            default() {
                return {
                    id: '',
                    text: ''
                }
            },
        },
        resource: {
            type: String,
            default: ''
        },
        accept: {
            type: String,
            default: '*/*'
        },
        additionalApiParams: {
            type: Object,
            default() {
                return {};
            }
        },
    },
    data() {
        return {
            Value: {},
            ImageName: '',
            ImageNameOriginal: '',
        }
    },
    watch: {
        imageName(v) {
            this.ImageName = v;
        },
    },
    methods: {
        reset() {
            this.Value = {
                id: '',
                text: ''
            };
            this.ImageName = '';
        },
        onChange(e) {
            let input = e.target;
            if (input.files && input.files[0]) {
                let reader = new FileReader();
                reader.onload = (event) => {
                    this.$emit('uploading');
                    this.$nextTick(() => {
                        let params = this.$lkt.Helper.Object.clone(this.additionalApiParams);
                        params.files = input.files[0];
                        this.$api(this.resource, params).then(r => {
                            this.$emit('upload-success', r);
                            this.Value = r.data;
                        }).catch(r => {
                            this.$emit('upload-error', r);
                        })
                    });
                };
                reader.readAsDataURL(input.files[0]);
            }
        },
        doClick(){
            this.$refs.field.click();
        }
    },
    created() {
        this.Value = this.value;
        this.ValueOriginal = this.value;
        this.ImageName = this.imageName;
        this.ImageNameOriginal = this.imageName;
        if (!this.imageName) {
            this.ImageName = this.$lkt.Helper.File.baseName(this.value);
            this.ImageNameOriginal = this.$lkt.Helper.File.baseName(this.value);
        }
        this.Identifier = this.$lkt.Helper.String.generateRandomString(16);
        this.setName();
    }
}
</script>