<template>
    <div data-lkt="field-radio"
         :data-theme="$theme"
         :data-state="state"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>
        <div data-role="option" v-for="(Option, i) in Options">
            <input type="radio"
                   v-model="Value"
                   :name="Name"
                   :id="Identifier + i"
                   :disabled="disabled"
                   :readonly="readonly"
                   :placeholder="placeholder"
                   :value="Option.id"
                   :checked="Option.id === Value"
            >
            <label :for="Identifier + i" v-html="Option.text"></label>
        </div>
    </div>
</template>

<script>
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldRadio",
    mixins: [AbstractFieldMixin, FieldOptionsMixin],
    props: {
        value: {
            type: String,
            default: '',
        },
    },
}
</script>