<template>
    <div data-lkt="field-editor"
         :data-theme="$theme"
         :data-state="state"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>
        <textarea v-model="Value"
                  :name="Name"
                  :id="Identifier"
                  :disabled="disabled"
                  :readonly="readonly"
                  :placeholder="placeholder"></textarea>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
                v-if="showInfoUi"
                :theme="$theme"
                :show-add="showAdd"
                :show-error="showError"
                :show-info="showInfo"
                :show-log="showLog"
                :show-warn="showWarn"
                :text-add="textAdd"
                :text-error="textError"
                :text-info="textInfo"
                :text-log="textLog"
                :text-warn="textWarn"
                :show-mandatory="showMandatory"
                :text-mandatory="textMandatory"
                :show-open="showOpen"
                :text-open="textOpen"
                :show-link="showLink"
                :text-link="textLink"
                :text-reset="textReset"
                :show-reset="showReset && !disabled"
                @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import {FieldStateUIMixin} from "./../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "./../../mixins/fields/AbstractFieldMixin";

import 'suneditor/dist/css/suneditor.min.css'
import suneditor from 'suneditor';
import plugins from 'suneditor/src/plugins';
import katex from 'katex'
import 'katex/dist/katex.min.css'

// How to import language files (default: en)
import * as lang from 'suneditor/src/lang';

export default {
    name: "LktFieldEditorKatex",
    components: {LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldStateUIMixin],
    props: {
        value: {
            type: String,
            default: '',
        },
        lang: {
            type: String,
            default: 'en',
        },
        editorOptions: {
            type: Object,
            default() {
                return {
                    buttonList: [
                        ['undo', 'redo'],
                        ['font', 'fontSize', 'formatBlock'],
                        ['paragraphStyle', 'blockquote'],
                        ['bold', 'underline', 'italic', 'strike', 'subscript', 'superscript'],
                        ['fontColor', 'hiliteColor', 'textStyle'],
                        ['removeFormat'],
                        '/', // Line break
                        ['outdent', 'indent'],
                        ['align', 'horizontalRule', 'list', 'lineHeight'],
                        ['table', 'link', /**'image', 'video', 'audio',*/'math'],
                        /** ['imageGallery'] */ // You must add the "imageGalleryUrl".
                        ['fullScreen', 'showBlocks', 'codeView'],
                        ['preview', 'print'],
                        [/**'save',*/ 'template']
                    ]
                };
            }
        }
    },
    data() {
        return {
            editor: undefined,
            timeout: undefined,
        };
    },
    watch: {
        disabled(v) {
            if (this.editor) {
                if (v) {
                    this.editor.disabled();
                } else {
                    this.editor.enabled();
                }
            }
        }
    },
    mounted() {
        this.canEmit = true;

        let options = this.$lkt.Helper.Object.merge(this.editorOptions, {
            katex,
            plugins: plugins,
            lang: lang[this.lang] ? lang[this.lang] : lang.en
        });

        this.editor = suneditor.create(this.Identifier, options);
        this.editor.onChange = (content) => {
            if (this.timeout) {
                clearTimeout(this.timeout);
            }
            this.timeout = setTimeout(() => {
                this.Value = content;
            }, 300);
        };

        if (this.disabled) {
            this.editor.disabled();
        } else {
            this.editor.enabled();
        }
    }
}
</script>