<template>
    <div data-lkt="field-select"
         :data-theme="$theme"
         :data-state="state"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-multiple="multiple"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
         style="position: relative;"
         :id="Identifier + '-container'"
    >
        <div data-lkt="front" @click="onFocus">
            <ul data-lkt="tags" v-if="multiple">
                <li v-for="tag in computedTags" :key="tag.text">
                    <template v-if="$scopedSlots['tag']">
                        <slot name="tag" :item="tag"></slot>
                    </template>
                    <template v-else>
                        {{ tag.text }}
                    </template>
                    <i
                        v-if="!disabled"
                        @click="(e) => { unpickOption({event: e, option: tag})}">x</i></li>
            </ul>
            <div data-lkt="single" v-else>
                <template v-if="$scopedSlots['result']">
                    <slot name="result" :item="Value[0]"></slot>
                </template>
                <template v-else>
                    {{ selectedString }}
                </template>
            </div>
        </div>

        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <div data-lkt="autocomplete" v-show="canSeeOptions" v-if="!disabled">
            <div data-lkt="autocomplete-input" v-if="!disabled && !readonly">
                <template v-if="placeholder">
                    <input v-model="searchString"
                           type="text"
                           :name="Name"
                           :id="Identifier"
                           :disabled="disabled"
                           :readonly="readonly"
                           :placeholder="placeholder"
                           ref="input"
                           @keydown.enter="addCustomTag"
                    >
                </template>
                <template v-else>
                    <input v-model="searchString"
                           type="text"
                           :name="Name"
                           :id="Identifier"
                           :disabled="disabled"
                           :readonly="readonly"
                           ref="input"
                           @keydown.enter="addCustomTag"
                    >
                </template>
            </div>

            <div data-lkt="autocomplete-items">
                <select-option v-for="opt in visibleOptions"
                               :key="opt.id"
                               :node="opt"
                               :selected="Value.indexOf(opt.id) > -1"
                               @pick="pickOption"
                               @unpick="unpickOption"
                >
                    <template v-if="$scopedSlots['option']" slot="option">
                        <slot name="option" :item="opt"
                              :selected="Value.indexOf(opt.id) > -1"></slot>
                    </template>
                </select-option>
            </div>
        </div>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
            :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import {FieldStateUIMixin} from "../../mixins/fields/FieldStateUIMixin";
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import SelectOption from "./components/SelectOption";
import {FieldLabelMixin} from "../../mixins/fields/FieldLabelMixin";
import {FieldStateMixin} from "../../mixins/fields/FieldStateMixin";
import {StateMixin} from "../../mixins/StateMixin";
import {FieldNameMixin} from "../../mixins/fields/FieldNameMixin";
import {LktMixin} from "../../mixins/LktMixin";

export default {
    name: "LktFieldSelect",
    components: {SelectOption, LktFieldUiState},
    mixins: [FieldStateUIMixin, FieldOptionsMixin, FieldLabelMixin, FieldStateMixin, StateMixin, FieldNameMixin, LktMixin],
    props: {
        placeholder: {
            type: String,
            default: '',
        },
        value: {
            type: [String, Number, Array],
            default: '',
        },
        resource: {
            type: String,
            default: ''
        },
        tags: {
            type: Boolean,
            default: false
        },
        disabledOptions: {
            type: Array,
            default() {
                return [];
            }
        },
        additionalApiParams: {
            type: Object,
            default() {
                return {};
            }
        },
        options: {
            type: Array,
            default() {
                return [];
            }
        }
    },
    data() {
        return {
            Identifier: '',
            canEmit: false,
            searchString: '',
            selectedString: '',
            visibleOptions: [],
            Value: [],
            Tags: [],
            apiOptions: [],
            editTimeout: undefined,
            apiTimeout: undefined,
            canSeeOptions: false,
        };
    },
    computed: {
        computedTags() {
            let r = [];
            [].concat(this.options, this.Tags).forEach(z => {
                if (this.Value.indexOf(z.id) > -1) {
                    r.push(z);
                }
            });
            return r;
        },
        computedOptionsStack() {
            if (this.resource !== '') {
                return [].concat(this.options, this.apiOptions, this.Tags);
            }
            return [].concat(this.options, this.Tags);
        }
    },
    watch: {
        searchString(v) {
            if (this.editTimeout) {
                clearTimeout(this.editTimeout);
            }
            setTimeout(() => {
                this.refreshVisibleOptions();
            }, 250);
        },
        canSeeOptions(v) {
            if (v) {
                document.addEventListener('click', this.handleOutsideClick);
            } else {
                document.removeEventListener('click', this.handleOutsideClick);
            }
        },
        value: {
            handler(v) {
                let v1 = v;
                if (!Array.isArray(v)) {
                    v1 = [v];
                }
                let str = JSON.stringify(v1),
                    str1 = JSON.stringify(this.Value);

                if (!Array.isArray(this.Value)) {
                    this.Value = [];
                }

                this.refreshSelectedString();
                // let index = this.computedOptionsStack.findIndex(z => {
                //     return z.id === v1[0]
                // });
                //
                // if (index > -1) {
                //     this.selectedString = this.computedOptionsStack[index].text;
                // } else {
                //     this.selectedString = '';
                // }

                if (str !== str1) {
                    this.Value = v1;
                }
            },
            deep: true
        },
        Value: {
            handler(v) {
                let str = JSON.stringify(v),
                    str1 = JSON.stringify(this.Value);

                // if (str !== str1 || !this.value) {
                if (this.multiple) {
                    let str = JSON.stringify(v),
                        str1 = JSON.stringify(this.Value);
                    if (str !== str1) {
                        this.$emit('input', v);
                    }
                } else {
                    this.$emit('input', v[0]);
                }
                // }
            },
            deep: true
        }
    },
    methods: {
        reset() {
            this.Value = [];
        },
        getValue() {
            return this.Value;
        },
        refreshSelectedString() {
            let index = this.computedOptionsStack.findIndex(z => {
                return z.id == this.Value[0]
            });

            if (index > -1) {
                this.selectedString = this.computedOptionsStack[index].text;
            } else {
                this.selectedString = '';
            }
        },
        addCustomTag(e) {
            if (!Array.isArray(this.Value)) {
                this.Value = [];
            }
            if (!this.tags) {
                return;
            }
            if (this.Value.indexOf(this.searchString) === -1) {
                this.Tags.push({id: this.searchString, text: this.searchString});
                this.Value.push(this.searchString);
            }
        },
        handleScroll(event) {
            this.canSeeOptions = false;
        },
        handleOutsideClick(evt) {
            let flyoutEl = document.getElementById(this.Identifier + '-container'),
                targetEl = evt.target; // clicked element
            do {
                if (targetEl == flyoutEl) {
                    // This is a click inside, does nothing, just return.
                    return;
                }
                // Go up the DOM
                targetEl = targetEl.parentNode;
            } while (targetEl);
            // This is a click outside.
            this.canSeeOptions = false;
        },
        onFocus() {
            if (this.disabled) {
                return;
            }
            this.canSeeOptions = !this.canSeeOptions;

            if (this.canSeeOptions) {
                this.$nextTick(() => {
                    this.$refs.input.focus();
                });
            }
        },
        pickOption(data) {
            if (this.disabled) {
                return;
            }
            if (!Array.isArray(this.Value)) {
                this.Value = [];
            }
            this.selectedString = data.option.text;
            if (this.multiple) {
                if (this.Value.indexOf(data.option.id) === -1) {
                    this.Value.push(data.option.id);
                }

            } else {
                if (this.Value.length > 0) {
                    this.Value = [];
                }
                this.Value.push(data.option.id);
            }

            if (!data.event.ctrlKey) {
                this.canSeeOptions = false;
            }
        },
        unpickOption(data) {
            if (this.disabled) {
                return;
            }
            let index = this.Value.findIndex(z => {
                return z === data.option.id
            });

            if (!data.event.ctrlKey) {
                this.canSeeOptions = false;
            }

            if (index === -1) {
                return;
            }

            this.Value.splice(index, 1)
        },
        refreshVisibleOptions() {
            let val = this.searchString.toUpperCase();

            let filterValid = (opts, search) => {
                let r = [];
                opts.forEach(opt => {
                    let filteredChildren = [];
                    if (opt.children && opt.children.length > 0) {
                        filteredChildren = filterValid(opt.children, search);
                    }
                    if (!val || opt.text.toUpperCase().indexOf(search) > -1 || filteredChildren.length > 0) {
                        let clone = this.$lkt.Helper.Object.clone(opt);

                        let exists = this.disabledOptions.filter(z => {
                            return z == opt.id;
                        });
                        if (exists.length > 0) {
                            clone.disabled = true;
                        }

                        clone.children = filteredChildren;
                        r.push(clone);
                    }
                });

                return r;
            };

            if (this.resource !== '') {
                if (this.apiTimeout) {
                    clearTimeout(this.apiTimeout);
                }

                this.apiTimeout = setTimeout(() => {
                    let resource = this.$lkt.Http.Resource.get(this.resource),
                        query = {term: this.searchString};

                    if (resource.searchParam) {
                        let r = {};
                        r[resource.searchParam] = query.term;
                        query = r;
                    }

                    if (this.additionalApiParams
                        && typeof this.additionalApiParams === 'object'
                        && Object.keys(this.additionalApiParams).length > 0) {
                        for (let k in this.additionalApiParams) {
                            if (this.additionalApiParams.hasOwnProperty(k)) {
                                query[k] = this.additionalApiParams[k];
                            }
                        }
                    }

                    this.$api(this.resource, query).then(r => {
                        // if (r.data.results && Array.isArray(r.data.results)) {
                        //     r.data.results.forEach((item, i) => {
                        //         let exists = this.disabledOptions.filter(z => {
                        //             return z == item.id;
                        //         });
                        //         if (exists.length > -1) {
                        //             r.data.results[i].disabled = true;
                        //         }
                        //     })
                        // }

                        this.apiOptions = r.data.results;
                        this.visibleOptions = filterValid(this.computedOptionsStack, val);
                    });
                }, 250);
                return;
            }

            if (this.searchString === '' || !this.searchString) {
                this.visibleOptions = filterValid(this.options, val);
                return;
            }

            this.visibleOptions = filterValid(this.computedOptionsStack, val);
        },
    },

    created() {
        if (this.loadOptions && this.$lkt.Helper.Type.isFunction(this.loadOptions)) {
            this.loadOptions(this.options);
        }
        let v1 = this.value;
        if (!Array.isArray(v1)) {
            v1 = [v1];
        }
        this.Value = v1;
        this.Identifier = this.$lkt.Helper.String.generateRandomString(16);
        this.setName();
    },
    mounted() {
        this.canEmit = true;
    },

    beforeMount() {
        window.addEventListener('scroll', this.handleScroll);
        this.refreshVisibleOptions();
        this.refreshSelectedString();
    },
    destroyed() {
        window.removeEventListener('scroll', this.handleScroll);
    },
}
</script>

<style lang="scss">

/*the container must be positioned relative:*/
.autocomplete {
    position: relative;
    display: inline-block;
}

input {
    border: 1px solid transparent;
    background-color: #f1f1f1;
    padding: 10px;
    font-size: 16px;
}

input[type=text] {
    background-color: #f1f1f1;
    width: 100%;
}

input[type=submit] {
    background-color: DodgerBlue;
    color: #fff;
    cursor: pointer;
}

[data-lkt="autocomplete"] {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    left: 0;
    right: 0;
    background-color: #fff;
}

[data-lkt="autocomplete-input"] {
    padding: 10px;
    border-bottom: 1px solid #d4d4d4;
}

[data-lkt="autocomplete-items"] {
    max-height: 200px;
    max-width: 100%;
    overflow-y: auto;
    overflow-x: auto;

    div {
        padding: 6px 6px 6px 10px;
        cursor: pointer;

        &[data-selected] {
            background-color: #e9e9e9;
        }

        &:not([data-parent]) {
            &:hover {
                background-color: #5897fb;
            }
        }
    }
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}


[data-lkt="field-select"] {
    $height: 34px;
    display: flex;
    font-family: var(--font-stack-2);
    font-size: 16px;
    position: relative;
    flex-direction: column-reverse;
    color: #444444;

    [data-lkt="front"] {
        height: $height;
        background: #ffffff;
        border: 1px solid #cccccc;
        border-radius: 4.5px;
        line-height: 1.1;
        padding: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 100%;
        max-width: 100%;
        white-space: nowrap;
    }

    [data-lkt="tags"] {
        display: inline-flex;
        flex-wrap: wrap;
        gap: 5px;

        > li {
            padding: 6px;
            border: 1px solid #cccccc;
            background: #5897fb;
            color: #ffffff;
            border-radius: 4.5px;
            line-height: 1.2;

            i {
                margin-left: 5px;
                display: inline-block;
                font-style: initial;
                cursor: pointer;
            }
        }
    }

    &[data-multiple] {
        [data-lkt="front"] {
            height: ($height * 2) + 15px;
            overflow-y: auto;
            padding: 7px 10px;
        }
    }

    label {
        color: grey;
        font-size: 16px;
        position: absolute;
        line-height: normal;
        max-width: 100%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        top: 50%;
        transition: all linear 200ms;
        transform: translateY(-50%);
        left: 10px;
        font-weight: 300;
        opacity: 0;
    }

    input {
        height: $height;
        padding-right: 10px;
        border: 1px solid #cccccc;
        background-color: #ffffff;
        border-radius: 4.5px;
        padding-left: 10px;
        margin: 0;
        vertical-align: middle;
        width: 100%;
        transition: border-color 200ms linear;
    }

    input:focus {
        border-color: #444444;
    }

    &[data-filled="true"] [data-lkt="front"] + label {
        font-size: 12px;
        top: -18px;
        transform: none;
        left: 0;
        font-weight: 700;
        color: #444444;
    }

    &[data-filled="true"] [data-lkt="front"] + label {
        opacity: 1;
    }

    input[disabled],
    input[readonly] {
        border: 1px solid #cccccc;
        background-color: #eeeeee;
    }

    &[data-validate="true"] {
        input:invalid {
            border-color: var(--danger);
            background-color: rgba(var(--danger), .1);
        }
    }

    &[data-invalid="true"] {
        input {
            border-color: var(--danger) !important;
            background-color: rgba(var(--danger), .1) !important;
        }
    }

    &[data-disabled="true"] {
        [data-lkt="front"] {
            border: 1px solid #cccccc;
            background-color: #eeeeee;
        }
    }
}

</style>