<template>
    <div data-lkt="field-switch"
         :data-theme="$theme"
         :data-state="state"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
        <slot name="prefix"></slot>
        <input v-model="Value"
               type="checkbox"
               :name="Name"
               :id="Identifier"
               :disabled="disabled"
               :readonly="readonly"
               :placeholder="placeholder">
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>
    </div>
</template>

<script>
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldSwitch",
    mixins: [AbstractFieldMixin],
    props: {
        value: {
            type: Boolean,
            default: '',
        },
    },
    data() {
        return {
            Value: false,
            ValueOriginal: false,
        }
    },
}
</script>