<template>
    <div data-lkt="field-text"
         v-bind:data-theme="$theme"
         v-bind:data-state="state"
         v-bind:data-show-ui="showInfoUi"
         v-bind:data-error="!stateValid"
         v-bind:data-disabled="disabled"
         v-bind:data-changed="stateChanged"
         v-bind:data-empty="!Value"
         v-bind:data-filled="!!Value"
         v-bind:data-labeled="!!label"
    >
        <slot name="prefix"></slot>
        <template v-if="false && readonly">
            <div data-role="read">{{Value}}</div>
        </template>
        <template v-else-if="placeholder">
            <input v-model="Value"
                   ref="input"
                   type="text"
                   v-bind:name="Name"
                   v-bind:id="Identifier"
                   v-bind:disabled="disabled"
                   v-bind:readonly="readonly"
                   v-bind:placeholder="placeholder"
                   v-on:keyup="$emit('keyup', $event)"
                   v-on:keydown="$emit('keydown', $event)"
                   v-on:focus="$emit('focus', $event)"
                   v-on:blur="$emit('blur', $event)"
                   v-on:click="$emit('click', $event)"
            >
        </template>
        <template v-else>
            <input v-model="Value"
                   ref="input"
                   type="text"
                   v-bind:name="Name"
                   v-bind:id="Identifier"
                   v-bind:disabled="disabled"
                   v-bind:readonly="readonly"
                   v-on:keyup="$emit('keyup', $event)"
                   v-on:keydown="$emit('keydown', $event)"
                   v-on:focus="$emit('focus', $event)"
                   v-on:blur="$emit('blur', $event)"
                   v-on:click="$emit('click', $event)">
        </template>
        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            v-bind:theme="$theme"
            v-bind:show-add="showAdd"
            v-bind:show-error="showError"
            v-bind:show-info="showInfo"
            v-bind:show-log="showLog"
            v-bind:show-warn="showWarn"
            v-bind:text-add="textAdd"
            v-bind:text-error="textError"
            v-bind:text-info="textInfo"
            v-bind:text-log="textLog"
            v-bind:text-warn="textWarn"
            v-bind:show-mandatory="showMandatory"
            v-bind:text-mandatory="textMandatory"
            v-bind:show-open="showOpen"
            v-bind:text-open="textOpen"
            v-bind:show-link="showLink"
            v-bind:text-link="textLink"
            v-bind:text-reset="textReset"
            v-bind:show-reset="showReset && !disabled"
            v-on:click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import {FieldStateUIMixin} from "./../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "./../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldText",
    components: {LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldStateUIMixin],
    props: {
        value: {
            type: String,
            default: '',
        },
    },
    methods: {
        focus() {
            this.$nextTick(() => {
                this.$refs.input.focus();
            });
            // this.$emit('focus', new FocusEvent('focus'));
        }
    }
}
</script>