<template>
    <div
        data-lkt="field-select2"
        :data-theme="$theme"
        :data-state="state"
        :data-show-ui="showInfoUi"
        :data-error="!stateValid"
        :data-disabled="disabled"
        :data-changed="stateChanged"
        :data-empty="!Value"
        :data-filled="!!Value"
    >
        <slot name="prefix"></slot>

        <select ref="field"
                class="form-control"
                :key="resourceRefresh"
                :id="Identifier"
                :disabled="disabled"
                :required="required"
                :name="Name"
                :readonly="readonly"
                :placeholder="placeholder"
        ></select>

        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
             :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import $ from 'jquery';
import 'select2/dist/js/select2.full';
import 'select2/dist/css/select2.min.css'
import {AbstractFieldMixin} from "./../../mixins/fields/AbstractFieldMixin";
import {FieldStateUIMixin} from "./../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import {Resource} from "../../../js/http/Resource";

export default {
    name: 'LktFieldSelect2',
    components: {LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldOptionsMixin, FieldStateUIMixin],
    data() {
        return {
            select2: null,
            resourceRefresh: false,
            ApiOptions: [],
            Settings: {},
        };
    },
    props: {
        required: {
            type: Boolean,
            default: false
        },
        resource: {
            type: String,
            default: ''
        },
        tags: {
            type: Boolean,
            default: false
        },
        minLength: {
            type: Number,
            default: 0
        },
        settings: {
            type: Object,
            default: () => {
                return {};
            }
        },
        disabledOptions: {
            type: Array,
            default() {
                return [];
            }
        },
        additionalApiParams: {
            type: Object,
            default() {
                return {};
            }
        },
        value: null
    },
    computed: {
        ComputedOptions() {
            if (this.ApiOptions.length > 0) {
                return this.ApiOptions;
            }
            return this.Options;
        },

    },
    watch: {
        disabledOptions(v) {
            if (Array.isArray(v)){
                this.onDisabledOptionsChange(v);
            }
        },
        options: {
            handler(v) {
                this.Options = v;
            },
            deep: true,
        },
        Options: {
            handler(v) {
                this.refresh(v);
            },
            deep: true,
        },
        value(v) {
            this.setValue(v);
        }
    },
    methods: {
        buildSettings() {
            let r = this.$lkt.Helper.Object.clone(this.settings);

            if (this.placeholder) {
                r.placeholder = this.placeholder;
            }

            if (this.minLength) {
                r.minimumInputLength = this.minLength;
            }

            if (this.multiple) {
                r.multiple = this.multiple;
            }

            if (this.tags) {
                r.tags = this.tags;
            }

            if (this.disabled || this.readonly) {
                r.disabled = this.disabled;
            }

            if (this.Options) {
                let opts = [];
                this.Options.forEach(option => {
                    let opt = {};
                    for (let k in option){
                        if (option.hasOwnProperty(k)){
                            opt[k] = option[k];
                        }
                    }
                    opts.push(opt);
                })
                r.data = opts;
            }

            if (this.resource) {
                let me = this,
                    resource = Resource.get(me.resource);

                r.ajax = {
                    url: resource.url,
                    dataType: resource.dataType ? resource.dataType : 'json',
                    delay: 250,
                    data: function (query) {
                        if (resource.searchParam) {
                            let r = {};
                            r[resource.searchParam] = query.term;
                            query = r;
                        }

                        if (me.additionalApiParams
                            && typeof me.additionalApiParams === 'object'
                            && Object.keys(me.additionalApiParams).length > 0) {
                            for (let k in me.additionalApiParams) {
                                if (me.additionalApiParams.hasOwnProperty(k)) {
                                    query[k] = me.additionalApiParams[k];
                                }
                            }
                        }
                        return query;
                    },
                    processResults: (data) => {
                        if (data.results && Array.isArray(data.results)) {
                            data.results.forEach((item, i) => {
                                if (this.disabledOptions.indexOf(item.id) > -1) {
                                    data.results[i].disabled = true;
                                }
                            })
                        }

                        if (this.$lkt.Helper.Type.isFunction(resource.processResults)) {
                            return resource.processResults(data, this.$root);
                        }
                        me.ApiOptions = data.results;
                        return data;
                    }
                };

                if (this.$lkt.Helper.Type.isFunction(resource.escapeMarkup)) {
                    r.escapeMarkup = resource.escapeMarkup;
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateResult)) {
                    r.templateResult = (...args) => {
                        return resource.templateResult(...args, this.$root, this);
                    };
                }

                if (this.$lkt.Helper.Type.isFunction(resource.templateSelection)) {
                    r.templateSelection = (...args) => {
                        return resource.templateSelection(...args, this.$root, this);
                    };
                }
            }
            this.Settings = r;
        },
        onDisabledOptionsChange(v) {
            this.buildSettings();
            if (this.select2) {
                let values = v.map(z => { return '[value="' + z + '"]'; }).join(',');
                this.select2.find('[value]').prop('disabled', false);
                this.select2.find(values).prop('disabled', true);
                this.select2.select2(this.Settings);
                this.resourceRefresh = !this.resourceRefresh;
            }
        },
        refresh() {
            this.buildSettings();
            if (this.select2){
                this.select2.empty();
                this.select2.select2(this.Settings);
                this.setValue(this.value);
            }
        },
        setValue(val) {
            if (this.select2) {
                if (val instanceof Array) {
                    this.select2.val([...val]);
                } else {
                    this.select2.val([val]);
                }
                this.select2.trigger('change');
            }
        },
        getOptions() {
            return this.ComputedOptions;
        }
    },
    mounted() {
        this.buildSettings();
        let settings = {};
        for (let k in this.Settings){
            if (this.Settings.hasOwnProperty(k)){
                settings[k] = this.Settings[k];
            }
        }
        this.select2 = $(this.$refs.field)
            .select2(settings)
            .on('select2:select select2:unselect', ev => {
                this.$emit('change', this.select2.val());
                this.$emit('select', ev['params']['data']);
            });
        this.setValue(this.Value);
        if (this.disabledOptions){
            this.onDisabledOptionsChange(this.disabledOptions);
        }
    },
    beforeDestroy() {
        this.select2.select2('destroy');
    }
};
</script>