<template>
    <div data-lkt="search-select"
         :data-theme="$theme"
         :data-state="state"
         :data-show-ui="showInfoUi"
         :data-error="!stateValid"
         :data-disabled="disabled"
         :data-changed="stateChanged"
         :data-empty="!Value"
         :data-filled="!!Value"
    >
      <slot name="prefix"></slot>
        <lkt-select2
            v-model="Value"
            ref="field"
            :options="options"
            :disabled="disabled"
            :settings="Settings"
             @change="change($event)"
            @select="select($event)"
        ></lkt-select2>



        <v-select
            v-if="false"
            :disabled="disabled"
            v-bind:multiple="multiple"
            v-model="Value"
            :options="options"
            label="text"
            :reduce="reduceOption"
        ></v-select>

        <slot v-if="canRenderLabelSlot" name="label"></slot>
        <label v-if="canRenderLabelHtml" :for="Identifier" v-html="label"></label>

        <lkt-field-ui-state
            v-if="showInfoUi"
            :theme="$theme"
            :show-add="showAdd"
            :show-error="showError"
            :show-info="showInfo"
            :show-log="showLog"
            :show-warn="showWarn"
            :text-add="textAdd"
            :text-error="textError"
            :text-info="textInfo"
            :text-log="textLog"
            :text-warn="textWarn"
            :show-mandatory="showMandatory"
            :text-mandatory="textMandatory"
            :show-open="showOpen"
            :text-open="textOpen"
            :show-link="showLink"
            :text-link="textLink"
            :text-reset="textReset"
             :show-reset="showReset && !disabled"
            @click-ui="onClickUi"
        ></lkt-field-ui-state>
    </div>
</template>

<script>
import LktSelect2 from "../aux-components/LktSelect2";
import {FieldOptionsMixin} from "../../mixins/fields/FieldOptionsMixin";
import {FieldStateUIMixin} from "../../mixins/fields/FieldStateUIMixin";
import LktFieldUiState from "./components/LktFieldUiState";
import {AbstractFieldMixin} from "../../mixins/fields/AbstractFieldMixin";

export default {
    name: "LktFieldSearchSelect",
    components: {LktSelect2, LktFieldUiState},
    mixins: [AbstractFieldMixin, FieldOptionsMixin, FieldStateUIMixin],
    props: {
        value: {
            type: [String, Number, Array],
            default: '',
        },
        canTag: {
            type: Boolean,
            default: false,
        },
        minLength: {
            type: Number,
            default: 0
        },
        disabledOptions: {
            type: Array,
            default() {
                return [];
            }
        },
        dropdownCssClass: {
            type: Array,
            default() {
                return [];
            }
        }
    },
    data() {
        return {
            Value: '',
            prevValue: undefined,
        }
    },
    watch: {
        // value(v) {
        //     this.setValue(v);
        // },
        // Value(v) {
        //     if (v && v.id) {
        //         this.prevValue = v.id;
        //         console.log('Updated Value', v, this.prevValue);
        //     }
        //     // this.validate(v);
        // },
        // prevValue(v) {
        //     if (this.canEmit === true) {
        //         this.$emit('input', v.id);
        //         this.$emit('change', v.id);
        //     }
        // },
        options(v) {
            this.onDisabledOptionsChange(v);
        },
        disabledOptions(v) {
            this.onDisabledOptionsChange(v);
        }
    },
    computed: {
        Settings() {
            let r = {};

            if (this.placeholder) {
                r.placeholder = this.placeholder;
            }

            if (this.minLength) {
                r.minimumInputLength = this.minLength;
            }

            if (this.multiple) {
                r.multiple = this.multiple;
            }

            if (this.canTag) {
                r.tags = this.canTag;
            }

            if (this.dropdownCssClass) {
                r.dropdownCssClass = this.dropdownCssClass.join(' ');
            }

            return r;
        }
    },
    methods: {
        reduceOption(opt) {
            return opt.id;
        },
        // setValue(v) {
        //     if (!v) {
        //         return;
        //     }
        //     let childrenMode = false;
        //
        //     this.options.every(z => {
        //         if (z.children && z.children.length > 0) {
        //             childrenMode = true;
        //             return false;
        //         }
        //     });
        //
        //     let Value = {};
        //     this.options.every(z => {
        //         if (childrenMode) {
        //             if (z.children && z.children.length > 0) {
        //                 z.children.every(y => {
        //                     if (y.id === v) {
        //                         Value = y;
        //                     }
        //                     return false;
        //                 });
        //             }
        //         } else {
        //             if (z.id === v) {
        //                 Value = z;
        //                 return false;
        //             }
        //         }
        //     });
        //
        //     console.log('setValue', childrenMode, this.options, Value.id, this.prevValue);
        //     if (Value && Value.id !== this.prevValue) {
        //         this.Value = Value;
        //     }
        // },
        normalizer(node) {
            return {
                id: node.id,
                label: node.text,
                children: node.children ? node.children.map(z => {
                    return {
                        id: z.id,
                        label: z.text,
                    };
                }) : [],
            }
        },
        onDisabledOptionsChange(v) {
            this.Options.forEach(z => {
                if (typeof z === 'object') {
                    z.disabled = v.indexOf(z.id) > -1;
                }
            });
            let values = v.map(z => {
                return '[value="' + z + '"]';
            }).join(',');
            this.$refs.field.select2.find('[value]').prop('disabled', false);
            this.$refs.field.select2.find(values).prop('disabled', true);
            this.$refs.field.select2.select2(this.Settings);
            this.resourceRefresh = !this.resourceRefresh;
        },
        change() {
        },
        select() {
        }
    },
    mounted() {
        this.canEmit = true;
        this.onDisabledOptionsChange(this.disabledOptions);
    }
}
</script>