@mixin lkt-angle-arrow-size($size: 5px, $weight: 1px, $color: #000000) {
  $w: $weight - lkt-unit-auto-convert-from-px(1, unit($size));
  width: $size;
  height: $size;
  border-width: $weight $weight 0 0;
  margin: $size / 2;
  color: $color;

  @include lkt-before() {
    top: $w * -1;
    height: $weight;
    width: $size + lkt-strip-unit($w);
  }
}

@mixin lkt-angle-arrow($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow-size($size, $weight, $color);

  border-style: solid;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;

  @include lkt-pseudos() {
    content: '';
    box-sizing: border-box;
  }

  @include lkt-before() {
    right: 0;
    position: absolute;
    box-shadow: inset 0 0 0 32px;
    transform: rotate(-45deg);
    transform-origin: right top;
  }
}

@mixin lkt-angle-arrow-direction-left {
  transform: rotate(-135deg);
}

@mixin lkt-angle-arrow-direction-left-top {
  transform: rotate(-90deg);
}

@mixin lkt-angle-arrow-direction-left-bottom {
  transform: rotate(180deg);
}

@mixin lkt-angle-arrow-direction-right {
  transform: rotate(45deg);
}

@mixin lkt-angle-arrow-direction-right-top {
  transform: none;
}

@mixin lkt-angle-arrow-direction-right-bottom {
  transform: rotate(90deg);
}

@mixin lkt-angle-arrow-direction-top {
  transform: rotate(-45deg);
}

@mixin lkt-angle-arrow-direction-bottom {
  transform: rotate(135deg);
}

@mixin lkt-angle-arrow-left($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-left;
  @content;
}

@mixin lkt-angle-arrow-left-top($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-left-top;
  @content;
}

@mixin lkt-angle-arrow-left-bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-left-bottom;
  @content;
}

@mixin lkt-angle-arrow-right($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-right;
  @content;
}

@mixin lkt-angle-arrow-right-top($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-right-top;
  @content;
}

@mixin lkt-angle-arrow-right-bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-right-bottom;
  @content;
}

@mixin lkt-angle-arrow-top($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-top;
  @content;
}

@mixin lkt-angle-arrow-bottom($size: 5px, $weight: 1px, $color: #000000) {
  @include lkt-angle-arrow($size, $weight, $color);
  @include lkt-angle-arrow-direction-bottom;
  @content;
}