@mixin lkt-triangle-bottom($size: 5px, $color: #000000) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-top: $size solid $color;
  display: inline-block;
  @content;
}

@mixin lkt-triangle-top($size: 5px, $color: #000000) {
  width: 0;
  height: 0;
  border-left: $size solid transparent;
  border-right: $size solid transparent;
  border-bottom: $size solid $color;
  display: inline-block;
  @content;
}

@mixin lkt-triangle-right($size: 5px, $color: #000000) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-left: $size solid $color;
  display: inline-block;
  @content;
}

@mixin lkt-triangle-left($size: 5px, $color: #000000) {
  width: 0;
  height: 0;
  border-top: $size solid transparent;
  border-bottom: $size solid transparent;
  border-right: $size solid $color;
  display: inline-block;
  @content;
}
