//----------
// Functions
//----------
@function lkt-wrap-format-name($name: '') {
  @return lkt-str-replace($name, '.', '-');
}

//----------
// Mixins
//----------
@mixin lkt-wrap-size($size: 1280px) {
  max-width: $size;
}

@mixin lkt-wrap($size: 1280px) {
  @include lkt-schema-mode(lkt-concat('-', lkt-wrap, lkt-wrap-format-name($size)), schema-mode-wrap, (lkt-media-stack-get-last())) {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include lkt-wrap-size($size);
  }
}