<template>
    <a :href="href" data-lkt="anchor" :data-theme="$theme" :data-state="state" @click="onClick">
        <slot></slot>
    </a>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktAnchor",
    mixins: [StateMixin],
    props: {
        to: {
            default(){
                return undefined;
            }
        },
        vanilla: {
            type: Boolean,
            default: false
        }
    },
    computed: {
        href(){
            if (this.$lkt.Helper.Type.isObject(this.to)){
                if (this.to.name){
                    return '';
                }
            }
            return this.to;
        }
    },
    methods: {
        onClick(e){
            if (!this.vanilla) {
                e.preventDefault();
                e.stopPropagation();
                this.$root.$router.push(this.to);
                return;
            }

            this.$emit('click', e);
        }
    }
}
</script>