<template>
    <div data-lkt="accordion" :data-theme="$theme" :data-state="state" :data-toggled="isOpen ? 'true' : 'false'">
        <header data-role="header" @click="toggle">
            <template v-if="!!$slots['header']">
                <slot name="header"></slot>
            </template>
            <template v-else>
                {{ title }}
                <div data-role="icon"></div>
            </template>
        </header>
        <section data-role="section" v-show="isOpen">
            <slot></slot>
        </section>
    </div>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktAccordion",
    mixins: [StateMixin],
    props: {
        title: {
            type: String,
            default: ''
        },
        toggled: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            isOpen: false
        };
    },
    methods: {
        toggle() {
            this.isOpen = !this.isOpen;
        }
    },
    created() {
        this.isOpen = this.toggled === true;
    }
}
</script>