<template>
    <button :type="type" @click="click" data-lkt="button" :disabled="disabled" :data-theme="$theme" :data-state="state">
        <slot></slot>
    </button>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktButton",
    mixins: [StateMixin],
    props: {
        type: {
            type: String,
            default: 'button',
            validator: function (value) {
                return ['button', 'submit', 'reset'].indexOf(value) !== -1;
            }
        },
        name: {
            type: String,
            default: ''
        },
        value: {
            type: String,
            default: ''
        },
        disabled: {
            type: Boolean,
            default: false
        },
    },
    methods: {
        click(e) {
            let r = {
                id: this.name,
                value: this.value,
                event: e,
            };

            this.$emit('click', r);
        }
    }
}
</script>