<template>
    <div data-lkt="comment" :data-theme="$theme" :data-state="state">
        <slot></slot>
    </div>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktComment",
    mixins: [StateMixin]
}
</script>