<template>
    <lkt-modal ref="modal" v-model="IsOpen" :theme="$theme" :state="state" @open="onOpen" @close="onClose"
               data-role="confirm">
        <slot name="header" slot="header"></slot>
        <slot></slot>
        <template slot="footer">
            <lkt-button v-if="cancelText" :theme="$theme" :state="cancelState" @click="onCancel">{{ cancelText }}
            </lkt-button>
            <lkt-button v-if="confirmText" :theme="$theme" :state="confirmState" @click="onConfirm">{{ confirmText }}
            </lkt-button>
        </template>
    </lkt-modal>
</template>

<script>
import LktButton from "./LktButton";
import LktModal from "./LktModal";
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktConfirm",
    components: {LktModal, LktButton},
    mixins: [StateMixin],
    props: {
        value: {
            type: Boolean,
            default: false,
        },
        closeOnConfirm: {
            type: Boolean,
            default: true,
        },
        cancelState: {
            type: String,
            default: 'light'
        },
        confirmState: {
            type: String,
            default() {
                return this.state;
            }
        },
        cancelText: {
            type: String,
            default: 'Cancel'
        },
        confirmText: {
            type: String,
            default: 'Confirm'
        }
    },
    data() {
        return {
            IsOpen: false,
            IsLoading: false
        };
    },
    watch: {
        value(v) {
            this.IsOpen = v;
        },
        IsOpen(v) {
            this.$emit('input', v);
        }
    },
    created() {
        this.IsOpen = this.value;
    },
    methods: {
        onOpen() {
            this.$emit('open');
        },
        onClose() {
            this.$emit('close');
        },

        onCancel(e) {
            this.$emit('cancel', e);
            this.IsOpen = false;
        },

        onConfirm(e) {
            this.$emit('confirm', e);
            if (this.closeOnConfirm) {
                this.IsOpen = false;
            }
        },

        isOpened() {
            return this.IsOpen;
        },

        toggle(status) {
            if (status !== undefined) {
                this.IsOpen = status;
            } else {
                this.IsOpen = !this.isOpen;
            }
        },
    }
}
</script>