<template>
    <div data-lkt="dot" :data-theme="$theme" :data-state="state" @click="onClick" :disabled="disabled">
        <slot></slot>
    </div>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktDot",
    mixins: [StateMixin],
    props: {
        disabled: {
            type: Boolean,
            default: false
        }
    },
    methods: {
        onClick() {
            if (!this.disabled) {
                this.$emit('click');
            }
        }
    }
}
</script>