<template>
    <div>
        <input type="email">
        <input type="password">
    </div>
</template>

<script>
export default {
    name: "LktDisableWebkitAutoFill"
}
</script>

<style scoped>
input {
    width: 0;
    height: 0;
    overflow: hidden;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}
</style>
