<template>
    <form data-lkt="filters" :data-theme="$theme" @submit="(e) => { onSubmit(e)}">
        <template v-for="field in fields" :key="field.key">
            <lkt-field-text
                v-if="field.type === 'text'"
                :name="field.key"
                :label="field.label"
                :theme="$theme"
                v-model="vModels[field.key]"
                @change="onChange"
                ref="fields"
            ></lkt-field-text>
            <lkt-field-select
                v-else-if="field.type === 'select'"
                :name="field.key"
                :label="field.label"
                :theme="$theme"
                :options="field.options"
                v-model="vModels[field.key]"
                @change="onChange"
                ref="fields"
            ></lkt-field-select>
            <lkt-field-email
                v-else-if="field.type === 'email'"
                :name="field.key"
                :label="field.label"
                :theme="$theme"
                v-model="vModels[field.key]"
                @change="onChange"
                ref="fields"
            ></lkt-field-email>
            <lkt-field-tel
                v-else-if="field.type === 'tel'"
                :name="field.key"
                :label="field.label"
                :theme="$theme"
                v-model="vModels[field.key]"
                @change="onChange"
                ref="fields"
            ></lkt-field-tel>
        </template>
        <lkt-button :theme="$theme" state="light" @click="onClick" :disabled="!hasModifiedData">{{ submitText }}
        </lkt-button>
    </form>
</template>

<script>
import {ModifiedDataMixin} from "../mixins/ModifiedDataMixin";
import LktFieldText from "./fields/LktFieldText";
import LktFieldTel from "./fields/LktFieldTel";
import LktFieldEmail from "./fields/LktFieldEmail";
import LktFieldSelect from "./fields/LktFieldSelect";
import LktButton from "./LktButton";

export default {
    name: "LktFilters",
    components: {LktButton, LktFieldText, LktFieldTel, LktFieldEmail, LktFieldSelect},
    mixins: [ModifiedDataMixin],
    props: {
        fields: {
            type: Array,
            default() {
                return [];
            }
        },
        submitText: {
            type: String,
            default: 'Apply',
        },
        autoUpdateModifiedData: {
            type: Boolean,
            default: true
        }
    },
    data() {
        return {
            vModels: {},
            canEmit: false,
        };
    },
    methods: {
        onSubmit(e) {
            e.preventDefault();
            e.stopPropagation();
            this.onClick();
            return false;
        },
        onChange() {
            this.store(this.vModels);
        },
        onClick() {
            if (this.autoUpdateModifiedData === true) {
                this.store(this.vModels, true);
            }
            this.$emit('change', this.vModels);
        },
        refreshModels() {
            let models = {};
            this.fields.forEach(item => {
                models[item.key] = item.value;
            });
            this.vModels = models;
            this.store(this.vModels, true);
        }
    },
    created() {
        this.refreshModels();
    },
    mounted() {
        this.canEmit = true;
    }
}
</script>