<template>
    <div :id="id" :class="renderSelector"
         :data-theme="$theme" data-lkt="modal"
         :data-state="state" :data-size="size"
         :data-visible="value"
         :style="style"
         :key="key"
    >
        <div class="back" @click="close"></div>
        <div class="inner">
            <header v-if="!!$slots['header']" data-role="modal-header">
                <slot name="header"></slot>
            </header>
            <div v-if="!!$slots['close']" @click="close" data-role="modal-close">
                <slot name="close"></slot>
            </div>
            <div v-if="loading" data-role="modal-loader">
                <slot name="loader"></slot>
            </div>
            <template v-if="hiddenContent">
                <div v-show="!loading" data-role="modal-content">
                    <slot></slot>
                </div>
            </template>
            <template v-else>
                <div v-if="!loading" data-role="modal-content">
                    <slot></slot>
                </div>
            </template>
            <footer v-if="!!$slots['footer']" data-role="modal-footer">
                <slot name="footer"></slot>
            </footer>
        </div>
        <section v-if="!!$slots['aside']" data-role="modal-aside">
            <slot name="aside"></slot>
        </section>
    </div>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktModal",
    mixins: [StateMixin],
    props: {
        value: {
            type: Boolean,
            default: false
        },
        id: {
            type: String,
            default: ''
        },
        size: {
            type: String,
            default: ''
        },
        loading: {
            type: Boolean,
            default: false
        },
        isModal: {
            type: Boolean,
            default: true
        },
        emitClose: {
            type: Boolean,
            default: true
        },
        hiddenContent: {
            type: Boolean,
            default: false
        }
    },
    data() {
        return {
            style: 'z-index: 1050',
            key: false,
        }
    },
    computed: {
        renderSelector() {
            return {
                'modal': this.isModal === true,
                'is-open': this.value === true
            }
        },
        hasLoader(){
            return !!this.$slots['loader']
        },
        isLoading(){
            return this.hasLoader && this.loading === true;
        }
    },
    watch: {
        value: {
            handler(val) {
                this.refreshVisibility(val);
            },
        },
        // loading: {
        //     handler(val) {
        //         this.key = !this.key;
        //         this.$nextTick(() => {
        //             this.key = !this.key;
        //             this.$forceUpdate();
        //         });
        //     },
        // }
    },
    methods: {
        close(e) {
            e.stopPropagation();
            e.preventDefault();
            if (this.loading === true && !!this.$slots['loader']) {
                return;
            }
            if (this.emitClose){
                this.$emit('click-close');
                return;
            }
            this.$emit('input', !this.value);
        },
        refreshVisibility(val){
            let l = document.querySelectorAll('[data-lkt="modal"][data-visible="true"], [data-lkt="window"][data-visible="true"]').length;
            if (val) {
                document.body.classList.add('modal-open');
                this.$emit('open');
                this.style = 'z-index: ' + (1050 + (10 * l)) + ';';
            } else {
                if (l <= 1) {
                    document.body.classList.remove('modal-open');
                }
                this.$emit('close');
            }
        }
    }
}
</script>