<template>
    <div></div>
</template>

<script>
import {emptyPromise} from "../../js/core/functions/empty-promise";
import {getModalRefKey} from "../../js/core/functions/modal-keys";

export default {
    name: "LktModalController",
    props: {
        modals: {
            type: Object,
            default() {
                return {};
            }
        }
    },
    methods: {
        call(params = {}, call = 0) {
            let key = getModalRefKey(params.modal, params.id);

            if (call === 0) {
                if (this.modals[params.modal]) {
                    if (!this.$refs[key]) {
                        return this.append(params.modal, params.id, key, params.data, params);
                    } else {
                        return this.remove(key);

                    }
                }
                return emptyPromise();
            }

            if (call === 1) {
                if (!this.$refs[key]) {
                    return this.append(params.modal, params.id, key, params.data, params);
                }
                return emptyPromise();
            }

            if (call === 2) {
                if (this.$refs[key]) {
                    return this.remove(key);
                }
            }
            return emptyPromise();
        },
        append(modal, id, key, data, params) {
            if (this.modals[modal]) {
                let ComponentClass = Vue.extend(this.modals[modal]),
                    instance = new ComponentClass();
                instance.$root = this.$root;
                instance.$parent = this;
                instance.MODAL_NAME = modal;
                instance.MODAL_ID = id;
                instance.MODAL_ORIGINAL_ID = id;
                if (params.actions){
                    instance.MODAL_ACTIONS = params.actions;
                }
                instance.$mount();
                instance.$forceUpdate();
                this.$children.push(instance);
                this.$el.append(instance.$el);
                this.$refs[key] = instance;
                return this.$refs[key].doShow(data);
            }
            return emptyPromise();
        },
        remove(key) {
            this.$refs[key].$destroy();
            this.$refs[key].$el.remove();
            delete this.$refs[key];
            this.removeBodySelector();
            return emptyPromise();
        },
        removeBodySelector() {
            let l = document.querySelectorAll('[data-lkt="modal"][data-visible="true"]').length;
            if (l <= 1) {
                document.body.classList.remove('modal-open');
            }
        },
        updateRef(originalName, currentName, originalId, currentId) {
            let k1 = getModalRefKey(originalName, originalId);
            let k2 = getModalRefKey(currentName, currentId);
            if (k1 !== k2) {
                this.$refs[k2] = this.$refs[k1];
                delete this.$refs[k1];
            }
            return emptyPromise();
        }
    }
}
</script>