<template>
    <div data-lkt="notification" :style="{'opacity': Value.opacity}" :data-visible="Value.width > 0" @click="remove">

        <figure v-if="Value.image">
            <img :src="Value.image"/>
        </figure>

        <i v-else-if="Value.icon" :class="Value.icon"></i>

        <span>{{ Value.text }}</span>

        <i data-role="remove">x</i>

        <div data-lkt="progress" :style="{'width': Value.width + '%'}"></div>
    </div>
</template>

<script>
export default {
    name: "LktNotification",
    props: {
        value: {
            type: Object
        },
        i: {
            type: [Number, String],
            default: 0,
        }
    },
    data() {
        return {
            Value: {
                text: '',
                image: '',
                icon: '',
                opacity: 1,
                width: 100,
            },
            interval: undefined
        };
    },
    watch: {
        value: {
            handler(v) {
                clearInterval(this.interval);
                this.interval = undefined;
                this.Value = v;
            }, deep: true
        },
        Value: {
            handler(v) {
                if (!this.interval) {
                    this.interval = setInterval(this.fadeOut, 500);
                }
                this.$emit('input', v);
            }, deep: true
        }
    },
    methods: {
        remove() {
            clearInterval(this.interval);
            this.$emit('remove', this.i);
        },
        fadeOut() {
            if (this.Value.width > 0) {
                this.Value.opacity -= .1;
                this.Value.width -= 10;
                if (this.Value.opacity < 0.1) {
                    this.remove();
                }
            } else {
                this.remove();
            }
        }
    },
    created() {
        this.Value = this.value;
    }
}
</script>

<style lang="scss" scoped>
[data-lkt="notification"] {
    padding: 15px;
    border-radius: 10px;
    display: flex;
    background: #ffffff;
    color: #2f2f2f;
    margin-top: 15px;
    transition: all linear 200ms;
    animation: lkt-notification 1000ms cubic-bezier(.36, .07, .19, .97) forwards;
    width: 100%;
    box-shadow: 0 0 10px #2f2f2f;
    height: 80px;
    align-items: center;
    font-size: 16px;
    overflow: hidden;

    > figure,
    > i {
        display: inline-block;
        margin-right: 15px;
    }

    > i {
        font-size: 40px;

        &[data-role="remove"] {
            font-size: 16px;
            border-radius: 0;
            border: none;
            position: absolute;
            right: 9px;
            top: 0;
            color: #2f2f2f;
            opacity: .2;
            transition: all linear 200ms;
            font-family: monospace;
            font-style: normal;
            cursor: pointer;
            margin-right: 0;

            &:hover {
                opacity: .6;
            }
        }
    }

    [data-lkt="progress"] {
        display: block;
        position: absolute;
        width: 100%;
        height: 8px;
        background: #ccccff;
        bottom: 0;
        left: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: all linear 500ms;
    }

    > figure {
        width: 40px;
        height: 40px;
        border-radius: 100%;
        border: 1px solid #2f2f2f;

        > img {
            display: block;
            max-width: 100%;
            max-height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            margin: auto;
        }
    }

    &[data-visible="false"] {
        height: 0;
    }
}
</style>

<style lang="scss">
@keyframes lkt-notification {
    0% {
        transform: translateX(150%);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}
</style>