<template>
    <div data-lkt="notifications">
        <div data-lkt="container" ref="container">
            <lkt-notification
                v-for="(notification, i) in Value"
                v-model="Value[i]"
                :i="i"
                :key="i"
                @remove="(j) => {Value.splice(parseInt(j), 1);}"></lkt-notification>
        </div>
    </div>
</template>

<script>
import {StateMixin} from "../mixins/StateMixin";
import LktNotification from "./LktNotification";

export default {
    name: "LktNotifications",
    components: {LktNotification},
    mixins: [StateMixin],
    data() {
        return {
            Value: [],
            isOpen: false
        };
    },
    methods: {
        push(notification = {}) {
            let model = {
                text: '',
                image: '',
                icon: '',
                iconColor: '#000000',
                action: undefined,
                opacity: 1,
                width: 100,
                state: ''
            };

            let final = this.$lkt.Helper.Object.merge(model, notification);
            this.Value.push(final);

            this.$nextTick(() => {
                this.$refs.container.scrollTop = this.$refs.container.scrollHeight - this.$refs.container.clientHeight
            });
        }
    }
}
</script>

<style lang="scss" scoped>
[data-lkt="notifications"] {
    position: fixed;
    right: 0;
    bottom: 0;
    width: 320px;
    max-height: 100vh;
    display: flex;
    align-items: flex-end;
    z-index: 99999;

    > [data-lkt="container"] {
        padding: 15px;
        display: flex;
        flex-direction: row;
        width: 100%;
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;
        position: relative;
        flex-wrap: wrap;
        align-items: flex-end;
    }
}


</style>