<template>
    <div class="pagination" :data-theme="$theme" data-lkt="pagination">
        <lkt-button
            v-for="(n, i) in to"
            :key="i"
            v-if="canShow && n >= from"
            :class="{'pagination-page': true, 'is-current': n === current }"
            @click="() => {page(n)}"
        >{{ n }}
        </lkt-button>
    </div>
</template>

<script>
import LktButton from "./LktButton";

export default {
    name: "LktPagination",
    components: {LktButton},
    props: {
        from: {
            type: Number,
            default: 1,
        },
        to: {
            type: Number,
            default: 1,
        },
        current: {
            type: Number,
            default: 1,
        }
    },
    computed: {
        canShow() {
            return this.from < this.to;
        }
    },
    methods: {
        page(n) {
            if (n !== this.current) {
                this.$emit('page', n);
            }
        }
    }
}
</script>
