<template>
    <div data-lkt="paginator" :data-theme="$theme">
        <lkt-button @click="first" :disabled="disabledPrev" data-role="first" :data-theme="$theme">
            <span>First</span>
        </lkt-button>
        <lkt-button @click="prev" :disabled="disabledPrev" data-role="prev" :data-theme="$theme">
            <span>Prev</span>
        </lkt-button>

        <lkt-button v-if="isDotsDesign" v-for="page in previousPages" :key="page" @click="() => {goTo(page)}" data-role="page" :data-theme="$theme">
            <span>{{page}}</span>
        </lkt-button>

        <lkt-button v-if="isDotsDesign" disabled data-role="page" :data-theme="$theme">
            <span>{{Page}}</span>
        </lkt-button>

        <lkt-field-search-select
                v-if="isSelectDesign"
            v-model="Page"
            :options="options"
            data-role="current"
            :data-theme="$theme"
        ></lkt-field-search-select>
        <span data-role="max-page" v-if="isSelectDesign">/ {{ maxPage }}</span>

        <lkt-button v-if="isDotsDesign" v-for="page in nextPages" :key="page" @click="() => {goTo(page)}" data-role="page" :data-theme="$theme">
            <span>{{page}}</span>
        </lkt-button>
        <lkt-button @click="next" :disabled="disabledNext" data-role="next" :data-theme="$theme">
            <span>Next</span>
        </lkt-button>
        <lkt-button @click="latest" :disabled="disabledNext" data-role="latest" :data-theme="$theme">
            <span>Latest</span>
        </lkt-button>
    </div>
</template>

<script>
export default {
    name: "LktPaginator",
    props: {
        value: {
            type: Number,
            default: 1,
        },
        maxPage: {
            type: Number,
            default: 1,
        },
        resource: {
            type: String,
            default: '',
        },
        filters: {
            type: Object,
            default() {
                return {};
            }
        },
        slaveMode: {
            type: Boolean,
            default: false,
        },
        design: {
            type: String,
            default: 'dots',
            validator(v) {
                return ['', 'dots', 'select'].indexOf(v) >= 0;
            }
        }
    },
    data() {
        return {
            Page: 1
        }
    },
    computed: {
        isDotsDesign() {
            return !this.design || this.design === 'dots';
        },
        isSelectDesign() {
            return this.design === 'select';
        },
        previousPages() {
            let r = [];
            let j = this.Page - 1;
            let l = j - 5;
            if (l < 0) {
                l = 0;
            }

            for (let i = j; i > l; --i) {
                r.push(i);
            }

            r = r.reverse();
            return r;
        },
        nextPages() {
            let r = [];
            let l = this.Page + 5;
            if (l > this.maxPage) {
                l = this.maxPage;
            }

            for (let i = this.Page + 1; i <= l; ++i) {
                r.push(i);
            }
            return r;
        },
        options() {
            let r = [];
            for (let i = 1; i <= this.maxPage; ++i) {
                r.push({id: i, text: i});
            }
            return r;
        },
        disabledNext() {
            return this.Page >= this.maxPage;
        },
        disabledPrev() {
            return this.Page <= 1;
        }
    },
    watch: {
        value(v) {
            this.Page = parseInt(v);
        },
        Page() {
            this.loadPage();
        },
        filters: {
            handler(v) {
                if (parseInt(this.Page) !== 1) {
                    this.Page = 1;
                } else {
                    this.Page = 1;
                    this.loadPage();
                }

            },
            deep: true
        }
    },
    methods: {
        loadPage() {
            let d = {};
            if (typeof this.filters === 'object' && Object.keys(this.filters).length > 0) {
                d = this.$lkt.Helper.Object.clone(this.filters);
            }
            for (let k in d) {
                if (typeof d[k] === 'array' || typeof d[k] === 'object') {
                    d[k] = JSON.stringify(d[k]);
                }
            }
            d.page = this.Page;
            this.$emit('input', this.Page);
            this.$emit('loading');
            if (this.slaveMode) {
                return;
            }
            this.$nextTick(() => {
                this.$api(this.resource, d).then(r => {
                    this.$emit('results', r.data);
                }).catch(r => {
                    this.$emit('error', r);
                });
            });
        },
        next() {
            ++this.Page;
        },
        latest() {
            this.Page = this.maxPage;
        },
        prev() {
            --this.Page;
        },
        first() {
            this.Page = 1;
        },
        goTo(page) {
            this.Page = page;
        }
    },
    created() {
        if (this.slaveMode) {
            return;
        }
        this.loadPage();
    }
}
</script>

<style lang="scss" scoped>
[data-lkt="paginator"] {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    > * {
        margin-right: 5px;

        &:last-child {
            margin-right: 0;
        }
    }

    [data-lkt="search-select"] {
        width: 65px;
    }
}
</style>