<template>
    <nav data-lkt="social-share" :data-theme="$theme">
        <ul>
            <li v-for="enabled in enable"
                v-show="(Toggled || hidden.indexOf(enabled) === -1) && getEnabledLink(enabled) !== ''">
                <a :href="getEnabledLink(enabled)" :data-role="enabled"><i
                    :class="'lkt-social-share-icon-' + enabled"></i></a>
            </li>
            <li v-if="canShowToggleButton">
                <a :data-role="'show-' + (Toggled ? 'less' : 'more')"
                   @click="(e) => { onToggleClick(e) }"><i>{{ Toggled ? '-' : '+' }}</i></a>
            </li>
        </ul>
    </nav>
</template>

<script>
import {SocialShareHelper} from "../../js/helpers/SocialShareHelper";

export default {
    name: "LktSocialShare",
    props: {
        url: {
            type: String,
            default: '',
        },

        title: {
            type: String,
            default: '',
        },

        summary: {
            type: String,
            default: '',
        },

        emailAddress: {
            type: String,
            default: '',
        },

        media: {
            type: String,
            default: '',
        },

        enable: {
            type: Array,
            default() {
                return ['facebook', 'twitter', 'linkedin', 'googleplus', 'pinterest', 'whatsapp', 'email'];
            }
        },

        hidden: {
            type: Array,
            default() {
                return [];
            }
        },

        twitterVia: {
            type: String,
            default: '',
        },

        twitterHashTags: {
            type: Array,
            default() {
                return [];
            },
        },

        linkedinSource: {
            type: String,
            default: '',
        },
    },
    data() {
        return {
            Toggled: false,
        };
    },
    computed: {
        facebook() {
            if (this.url) {
                return SocialShareHelper.getFacebookUrl(this.url);
            }
            return '';
        },
        twitter() {
            if (this.url) {
                return SocialShareHelper.getTwitterUrl(this.url, this.twitterVia, this.twitterHashTags);
            }
            return '';
        },
        linkedin() {
            if (this.url) {
                return SocialShareHelper.getLinkedInUrl(this.url, this.title, this.summary, this.linkedinSource);
            }
            return '';
        },
        googleplus() {
            if (this.url) {
                return SocialShareHelper.getGooglePlusUrl(this.url);
            }
            return '';
        },
        pinterest() {
            if (this.url) {
                return SocialShareHelper.getWhatsAppUrl(this.url, this.media, this.title);
            }
            return '';
        },
        whatsapp() {
            if (this.url) {
                return SocialShareHelper.getWhatsAppUrl(this.url, this.title);
            }
            return '';
        },
        email() {
            if (this.emailAddress) {
                return SocialShareHelper.getWhatsAppUrl(this.emailAddress, this.title, this.summary);
            }
            return '';
        },
        canShowToggleButton() {
            return this.hidden.length > 0 && this.enable.filter(enabled => this.getEnabledLink(enabled) !== '').length > 0;
        }
    },
    methods: {
        getEnabledLink(enabled = '') {
            return this[enabled];
        },

        onToggleClick(e) {
            this.Toggled = !this.Toggled;
            this.$emit('toggled', {
                event: e,
                state: this.Toggled,
            });
        }
    }
}
</script>