<template>
    <div v-if="Items.length > 0" data-lkt="table" :data-theme="$theme" :data-sortable="sortable">
        <table :key="Key">
            <thead>
            <tr>
                <th v-if="sortable" data-role="drag-indicator"></th>
                <th v-if="HiddenColumns.length > 0"></th>
                <th v-for="column in VisibleColumns" @click="() => {sort(column)}" :data-column="column.key"
                    :data-sortable="column.sortable === true"
                    :data-sort="column.sortable === true && SortBy === column.key ? SortDirection : ''"
                    v-if="emptyColumns.indexOf(column.key) === -1"
                    :colspan="getVerticalColSpan(column)"
                    :title="column.label"
                >
                    <div>{{column.label}}</div>
                </th>
            </tr>
            </thead>
            <draggable v-if="sortable" v-model="Items" :group="dragGroup" @start="drag=true" @end="drag=false"
                       tag="tbody" :data-theme="$theme" data-lkt="sortable-table" handle="[data-handle-drag]" :move="checkValidDrag">
                <tr :data-i="i" :data-handle-drag="draggableChecker ? draggableChecker(item) : true" v-for="(item, i) in Items" >
                    <td v-if="draggableChecker && draggableChecker(item) === true" data-role="drag-indicator"></td>
                    <td v-else data-role="invalid-drag-indicator"></td>
                    <td v-if="HiddenColumns.length > 0" @click="(e) => {show(e, i)}" data-role="show-more"
                        :class="Hidden['tr_'+i] === true ? 'state-open' : ''"></td>
                    <td v-for="(column, j) in VisibleColumns" @click="(e) => {click(e, item, column)}"
                        :data-column="column.key"
                        v-if="emptyColumns.indexOf(column.key) === -1 && (!column.colspan || getHorizontalColSpan(column,item) > 0)"
                        :colspan="getHorizontalColSpan(column,item)"
                        :title="column.formatter ? column.formatter(item[column.key], item, column, i) :
                            item[column.key]"
                    >
                        <template v-if="!!$slots[column.key]">
                            <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                        </template>
                        <template v-else-if="!!$scopedSlots[column.key]">
                            <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                        </template>
                        <template v-else-if="item">
                            {{column.formatter ? column.formatter(item[column.key], item, column, i) :
                            item[column.key]}}
                        </template>
                    </td>
                </tr>
                <tr v-if="HiddenColumns.length > 0" v-show="Hidden['tr_'+i] === true" data-role="hidden-row">
                    <td :colspan="HiddenColumnsColSpan">
                        <table>
                            <tr>
                                <th v-for="column in HiddenColumns" :data-column="column.key">
                                    <div>{{column.label}}</div>
                                </th>
                            </tr>
                            <tr :data-i="i">
                                <td v-for="(column, i) in HiddenColumns" @click="(e) => {click(e, item, column)}"
                                    :data-column="column.key"
                                    :title="column.formatter ? column.formatter(item[column.key], item, column, i) :
                            item[column.key]">
                                    <template v-if="!!$slots[column.key]">
                                        <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                                    </template>
                                    <template v-else-if="!!$scopedSlots[column.key]">
                                        <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                                    </template>
                                    <template v-else>
                                        {{column.formatter ? column.formatter(item[column.key], item, column, i) : item[column.key]}}
                                    </template>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </draggable>

            <tbody v-else>
            <tr :data-i="i" :data-handle-drag="draggableChecker ? draggableChecker(item) : 'true'" v-for="(item, i) in Items">
                <td v-if="HiddenColumns.length > 0" @click="(e) => {show(e, i)}" data-role="show-more"
                    :class="Hidden['tr_'+i] === true ? 'state-open' : ''"></td>
                <td v-for="(column, j) in VisibleColumns" @click="(e) => {click(e, item, column)}"
                    :data-column="column.key"
                    v-if="emptyColumns.indexOf(column.key) === -1 && (!column.colspan || getHorizontalColSpan(column,item) > 0)"
                    :colspan="getHorizontalColSpan(column,item)"
                    :title="column.formatter ? column.formatter(item[column.key], item, column, i) :
                            item[column.key]"
                >
                    <template v-if="!!$slots[column.key]">
                        <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                    </template>
                    <template v-else-if="!!$scopedSlots[column.key]">
                        <slot v-bind:name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                    </template>
                    <template v-else-if="item">
                        {{column.formatter ? column.formatter(item[column.key], item, column, i) :
                        item[column.key]}}
                    </template>
                </td>
            </tr>
            <tr v-if="HiddenColumns.length > 0" v-show="Hidden['tr_'+i] === true" data-role="hidden-row">
                <td :colspan="HiddenColumnsColSpan">
                    <table>
                        <tr>
                            <th v-for="column in HiddenColumns" :data-column="column.key">
                                <div>{{column.label}}</div>
                            </th>
                        </tr>
                        <tr :data-i="i">
                            <td v-for="(column, i) in HiddenColumns" @click="(e) => {click(e, item, column)}"
                                :data-column="column.key"
                                :title="column.formatter ? column.formatter(item[column.key], item, column, i) :
                            item[column.key]">
                                <template v-if="!!$slots[column.key]">
                                    <slot :name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                                </template>
                                <template v-else-if="!!$scopedSlots[column.key]">
                                    <slot :name="column.key" v-bind:value="item[column.key]" v-bind:item="item" v-bind:column="column" v-bind:i="i"></slot>
                                </template>
                                <template v-else>
                                    {{column.formatter ? column.formatter(item[column.key], item, column, i) : item[column.key]}}
                                </template>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
            </tbody>

        </table>
    </div>
    <div v-else data-lkt="empty-table" :data-theme="$theme">
        <slot name="no-items"></slot>
    </div>
</template>

<script>
import draggable from 'vuedraggable'

export default {
    name: "LktTable",
    components: {draggable},
    props: {
        value: {
            type: Array,
            default() {
                return [];
            }
        },
        items: {
            type: Array,
            default() {
                return [];
            }
        },
        columns: {
            type: Array,
            default() {
                return [];
            }
        },
        total: {
            type: Number,
            default: -1
        },
        sorter: {
            type: Function
        },
        sortable: {
            type: Boolean,
            default: false
        },
        hideEmptyColumns: {
            type: Boolean,
            default: false
        },
        draggableChecker: {
            type: Function,
            default(item){
                return true;
            }
        },
        checkValidDrag: {
            type: Function,
            default(evt){
                return true;
            }
        }

    },
    data() {
        return {
            Sorter: undefined,
            SortBy: '',
            SortDirection: 'asc',
            Key: true,
            Items: [],
            Hidden: {},
            drag: false,
            dragGroup: '',
        };
    },
    computed: {
        emptyColumns(){
            if (!this.hideEmptyColumns){
                return [];
            }
            let r = [];
            this.columns.forEach(column => {
                let key = column.key;

                let ok = false;
                this.Items.forEach(item => {
                    if (typeof item.checkEmpty === 'function'){
                        return item.checkEmpty(item);
                    }
                    if(item.checkEmpty){
                        return item.checkEmpty;
                    }
                    if (item[key]){
                        ok = true;
                    }
                });

                if (!ok){
                    r.push(key);
                }
            });
            return r;
        },
        VisibleColumns() {
            return this.columns.filter(c => c.hidden !== true);
        },
        HiddenColumns() {
            return this.columns.filter(c => c.hidden === true);
        },
        HiddenColumnsColSpan() {
            let r = this.VisibleColumns.length + 1;
            if (this.sortable) {
                ++r;
            }
            return r;
        }
    },
    watch: {
        value: {
            handler(v) {
                this.Items = v;
            }, deep: true,
        },
        Items: {
            handler(v) {
                this.$emit('input', v);
            }, deep: true,
        }
    },
    methods: {
        getItemByEvent(e) {
            let t = e.target;
            if (this.$lkt.Helper.Type.isUndefined(t.dataset.column)) {
                do {
                    t = t.parentNode;
                } while (this.$lkt.Helper.Type.isUndefined(t.dataset.column) && t.tagName !== 'TABLE' && t.tagName !== 'body');
            }

            if (t.tagName === 'TD') {
                t = t.parentNode;
                t = t.dataset.i;
                if (!this.$lkt.Helper.Type.isUndefined(t)) {
                    return this.Items[t];
                }
            }

            return undefined;
        },
        getVerticalColSpan(column){
            if (!column.colspan){
                return false;
            }
            let max = this.columns.length;
            this.Items.forEach(item => {
                let i = this.getHorizontalColSpan(column,item);
                if (i > 0 && i < max){
                    max = i;
                }
            });

            return max;
        },
        getHorizontalColSpan(column, item){
            if (!column.colspan){
                return false;
            }
            if (typeof column.colspan === 'function'){
                return column.colspan(item);
            }
            return column.colspan;
        },
        refresh() {
            this.Key = !this.Key;
        },
        sort(column) {
            if (column.sortable === true) {
                this.Items = this.Items.sort((a, b) => {
                    return this.Sorter(a, b, column);
                });
                this.SortDirection = this.SortDirection === 'asc' ? 'desc' : 'asc';
                this.SortBy = column.key;
                this.$emit('sort', [this.SortBy, this.SortDirection]);
                this.refresh();
            }
        },
        click(e, item, column) {
            this.$emit('click', {
                event: e,
                item: item,
                column: column,
            });
        },
        show(e, i) {
            this.Hidden['tr_' + i] = typeof this.Hidden['tr_' + i] === 'undefined' ? true : !this.Hidden['tr_' + i];
            this.refresh();
        },
        defaultSorter(a, b, c) {
            let A = a[c.key],
                B = b[c.key];

            if (this.SortDirection === 'asc') {
                if (A > B) {
                    return 1;
                }
                if (B > A) {
                    return -1;
                }
            } else {
                if (A > B) {
                    return -1;
                }
                if (B > A) {
                    return 1;
                }
            }
            return 0;
        }
    },
    created() {
        if (Array.isArray(this.value) && this.value.length > 0) {
            this.Items = this.value;
        } else if (Array.isArray(this.items) && this.items.length > 0) {
            this.Items = this.items;
            console.warn('[LktTable] items prop will be removed. Please use value or v-model instead.')
        }
        if (this.$lkt.Helper.Type.isUndefined(this.sorter)) {
            this.Sorter = this.defaultSorter;
        } else {
            this.Sorter = this.sorter;
        }

        this.dragGroup = this.$lkt.Helper.String.generateRandomString(16);
    }
}
</script>