<template>
    <div class="tabs-component">
        <ul role="tablist" class="tabs-component-tabs" v-if="Tabs.length > 1">
            <li
                v-for="(tab, i) in Tabs"
                :key="i"
                :class="{ 'is-active': tab.Hash === Value, 'is-disabled': tab.isDisabled }"
                class="tabs-component-tab"
                role="presentation"
                data-lkt="tab"
                :data-active="tab.Hash === Value ? 'true' : 'false'"
                :data-theme="$theme"
                v-show="tab.isVisible"
            >
                <template v-if="!!$slots[tab.hash]">
                    <a :aria-controls="tab.hash"
                       :aria-selected="tab.isActive"
                       @click="(e) => {e.preventDefault(); Value = tab.Hash}"
                       :href="'#' + tab.Hash"
                       class="tabs-component-tab-a"
                       role="tab"
                    >
                        <slot :name="tab.hash"></slot>
                    </a>
                </template>
                <template v-else>
                    <a v-html="tab.header"
                       :aria-controls="tab.hash"
                       :aria-selected="tab.Hash === Value"
                       @click="(e) => {e.preventDefault(); Value = tab.Hash}"
                       :href="'#' + tab.Hash"
                       class="tabs-component-tab-a"
                       role="tab"
                    ></a>
                </template>
            </li>
            <li v-if="!!$slots['buttons']" role="buttons">
                <slot name="buttons"></slot>
            </li>
        </ul>
        <div class="tabs-component-panels">
            <slot name="tabs"/>
        </div>
    </div>
</template>

<script>
export default {
    name: "LktTabs",
    props: {
        value: {
            type: [String],
            default: ''
        },
        useSession: {
            type: Boolean,
            default: false
        },
        useLocation: {
            type: Boolean,
            default: false
        },
        cacheLifetime: {
            default: 5,
        },
    },
    data() {
        return {
            Value: '',
            Tabs: [],
            storageKey: '',
        }
    },
    watch: {
        value(v) {
            this.Value = v;
        },
        Value(v) {
            this.selectTab(v);
            this.$emit('input', v);
            if (this.useSession) {
                Session.set(this.storageKey, selectedTab.hash, this.cacheLifetime * 60);
            }
        },
        Tabs(v) {
            if (v.find(z => {
                return z.Hash === this.Value
            })) {
                return;
            }

            if (v.length === 0) {
                return;
            }

            this.Value = v[0].Hash;
        }
    },
    beforeUpdate() {
        this.Tabs = this.$children;
    },
    beforeMount() {
        this.Tabs = this.$children;
    },
    created() {
        if (this.useSession) {
            this.storageKey = `lkt-tabs-component.cache.${window.location.host}${window.location.pathname}`;
            let previousSelectedTabHash = Session.get(this.storageKey);
            if (this.Tabs.find(z => {
                return z.Hash === previousSelectedTabHash
            })) {
                this.Value = previousSelectedTabHash;
                return;
            }
        }

        this.Value = this.value;
    },
    mounted() {
        if (this.useLocation) {
            window.addEventListener('hashchange', () => this.Value = window.location.hash.slice(1));
        }
    },
    methods: {
        selectTab(hash, event) {
            this.$children.forEach(tab => {
                tab.isActive = (tab.Hash === hash);
            });
        }
    },
};
</script>
