<template>
    <section :id="id" :class="renderSelector"
         :data-theme="$theme" data-lkt="window"
         :data-state="state" :data-size="size"
         :data-visible="value"
         :style="style"
         :key="key"
         v-on:click="globalClick($event)"
    >
        <div class="back" v-on:click.prevent.stop="close"></div>
        <div class="inner" ref="inner">
            <header data-role="header">
                <div data-role="title-container">
                    <div data-role="pre-title" v-if="preTitle">{{preTitle}}</div>
                    <div data-role="title" v-if="title">{{title}}</div>
                </div>
                <div data-role="button-tray" :key="observed1">
                    <div v-for="(button, key) in customDropdownButtons" data-button data-role="dropdown">
                        <button v-on:click="e => {dropdownButtonClick(e, key)}" :disabled="disabledButtons.indexOf(key) > -1">
                            <slot v-bind:name="key"></slot>
                        </button>
                        <v-select
                            v-bind:ref="'dropdown-' + key"
                            v-model="selectedDropdown[key]"
                            v-bind:searchable="false"
                            close-on-select
                            label="text"
                            v-on:input="(e) => {onChangeDropdown(e, key)}"
                            :options="dropdownOptions[key]"></v-select>
                    </div>

                    <template v-for="(button, key) in customButtons">
                        <button v-if="key.indexOf('button-menu') === 0" :data-button="key" data-menu
                                v-on:click.prevent.stop="buttonClick(key, $event)">
                            <div data-role="menu-button">
                                <slot v-bind:name="key"></slot>
                            </div>

                            <div data-role="menu" v-if="canShowMenu(key)">
                                <div data-role="menu-entry" :data-entry="menuKey" v-for="(menu, menuKey) in getMenuEntries(key)">
                                    <slot v-bind:name="'menu-' + menuKey"></slot>
                                </div>
                            </div>
                        </button>
                        <div v-else-if="key.indexOf('button-custom-') === 0" :data-button="key.replace('custom-', '')" data-custom>
                            <slot v-bind:name="key"></slot>
                        </div>
                        <button v-else
                                :data-button="key"
                                :disabled="disabledButtons.indexOf(key) > -1"
                                v-on:click="buttonClick(key, $event)">
                            <slot v-bind:name="key"></slot>
                        </button>
                    </template>
                    <button data-button="button-close" v-on:click.prevent.stop="close" v-if="showClose" :disabled="disabledButtons.indexOf('button-close') > -1"></button>
                </div>
            </header>

            <section v-show="loading" data-role="loader">
                <slot name="loader"></slot>
            </section>
            <section v-show="!loading" data-role="content">
                <lkt-tabs ref="tabs" v-model="tab" v-bind:theme="$theme" v-if="!!customTabs">
                    <template slot="tabs">
                        <lkt-tab v-bind:hash="key" v-bind:name="tabs[key] ? tabs[key] : key" v-for="(tab1, key) in customTabs">
                            <slot v-bind:name="key"></slot>
                        </lkt-tab>
                    </template>
                </lkt-tabs>
            </section>

            <footer :key="observed2" v-if="customFooterButtons || !!$slots['footer']">
                <div v-if="!!$slots['footer']" data-role="footer">
                    <slot name="footer"></slot>
                </div>

                <div data-role="button-tray" v-if="Object.keys(customFooterButtons).length > 0">
                    <template v-for="(button, key) in customFooterButtons">
                        <div v-if="key.indexOf('button-custom-') === 0" :data-button="key.replace('custom-', '')" data-custom>
                            <slot v-bind:name="'footer-' + key"></slot>
                        </div>
                        <button v-else
                                :data-button="key"
                                :disabled="disabledButtons.indexOf(key) > -1"
                                v-on:click="buttonClick(key, $event)">
                            <slot v-bind:name="'footer-' + key"></slot>
                        </button>
                    </template>
                </div>
            </footer>
        </div>
    </section>
</template>

<script>
import LktTabs from "./LktTabs";
import LktTab from "./LktTab";
import {StateMixin} from "../mixins/StateMixin";

export default {
    name: "LktWindow",
    mixins: [StateMixin],
    components: {LktTabs, LktTab},
    props: {
        value: {
            type: Boolean,
            default: true
        },
        id: {
            type: String,
            default: ''
        },
        title: {
            type: String,
            default: ''
        },
        preTitle: {
            type: String,
            default: ''
        },
        showClose: {
            type: Boolean,
            default: true
        },
        size: {
            type: String,
            default: ''
        },
        loading: {
            type: Boolean,
            default: false
        },
        isModal: {
            type: Boolean,
            default: true
        },
        hiddenContent: {
            type: Boolean,
            default: false
        },
        tabs: {
            type: Object,
            default() {
                return {};
            }
        },
        dropdownOptions: {
            type: Object,
            default() {
                return {};
            }
        },
        disabledButtons: {
            type: Array,
            default() {
                return [];
            }
        }
    },
    data() {
        return {
            style: 'z-index: 1050',
            key: false,
            tab: '',
            selectedDropdown: {},
            activeMenus: {},
            observed: false,
            observed1: false,
            observed2: false,
            observedCrc: false,
        }
    },
    computed: {
        renderSelector() {
            return {
                'modal': this.isModal === true,
                'is-open': true
            }
        },
        hasLoader(){
            return !!this.$slots['loader']
        },
        isLoading(){
            return this.hasLoader && this.loading === true;
        },
        customDropdownButtons() {
            this.observed; // Magic line, force refresh
            let r = {};
            if (this.$slots) {
                for (let k in this.$slots) {
                    if (k.indexOf('dropdown-') === 0) {
                        r[k] = this.$slots[k];
                    }
                }
            }
            return r;
        },
        customMenus() {
            this.observed; // Magic line, force refresh
            let r = {};
            if (this.$slots) {
                for (let k in this.$slots) {
                    if (k.indexOf('menu-') === 0) {
                        let k1 = k.replace('menu-', ''),
                            t = k1.split('-'),
                            menu = t[0];

                        if (!r[menu]) {
                            r[menu] = {};
                        }
                        if (!this.activeMenus[menu]) {
                            this.$set(this.activeMenus, menu, false);
                        }
                        r[menu][k1] = this.$slots[k];
                    }
                }
            }
            return r;
        },
        customButtons() {
            this.observed; // Magic line, force refresh
            let r = {};
            if (this.$slots) {
                for (let k in this.$slots) {
                    if (k.indexOf('button-') === 0) {
                        r[k] = this.$slots[k];
                    }
                }
            }
            return r;
        },
        customFooterButtons() {
            this.observed; // Magic line, force refresh
            let r = {};
            if (this.$slots) {
                for (let k in this.$slots) {
                    if (k.indexOf('footer-button-') === 0) {
                        r[k.replace('footer-', '')] = this.$slots[k];
                    }
                }
            }
            return r;
        },
        customTabs() {
            this.observed; // Magic line, force refresh
            let r = {};
            let i = 0;
            if (this.$slots) {
                for (let k in this.$slots) {
                    if (k.indexOf('tab-') === 0) {
                        r[k] = this.$slots[k];
                        if (i === 0 && this.tab === '') {
                            this.tab = k;
                        }
                        ++i;
                    }
                }
            }
            return r;
        },
    },
    watch: {
        tab: {
            handler(v) {
                this.observed = !this.observed;
            }, deep: true
        },
        observed: {
            handler(v) {
                this.updateObserved();
            }, deep: true
        },
        title: {
            handler(v) {
                this.updateObserved();
            }, deep: true
        },
    },
    methods: {
        globalClick(e) {
            let haystack = Object.keys(this.activeMenus);
            for (let k in haystack) {
                if (this.activeMenus.hasOwnProperty(haystack[k])) {
                    this.$set(this.activeMenus, haystack[k], false);
                }
            }
        },
        getMenuEntries(key) {
            let ptr = key.replace('button-menu-', '');
            return this.customMenus[ptr];
        },
        canShowMenu(key) {
            let ptr = key.replace('button-menu-', '');
            return this.activeMenus[ptr] === true;
        },
        updateObserved() {
            if (!this.observedCrc) {
                this.observedCrc = true;
                this.observed = !this.observed;
                this.observed1 = !this.observed1;
                this.observed2 = !this.observed2;
                this.$nextTick(() => {
                    this.observedCrc = false;
                });
            }
        },
        dropdownButtonClick(e, key) {
            e.stopPropagation();
            e.preventDefault();
            let element = this.$refs['dropdown-'+key];
            if (element) {
                element = element[0];
            }
            element.open = !element.open;
        },
        onChangeDropdown(e, key) {
            let eventName = 'selected';
            this.$emit(eventName, {
                key,
                value: this.selectedDropdown[key],
                event: e
            });
        },
        buttonClick(key, e) {
            let eventName = key;
            if (key.indexOf('button-menu-') === 0) {
                let ptr = key.replace('button-menu-', '');
                this.$set(this.activeMenus, ptr, !this.activeMenus[ptr]);

            } else {
                if (['close'].indexOf(key) === -1) {
                    eventName = 'click-' + eventName;
                }
                this.$emit(eventName, {
                    key,
                    event: e
                });
            }
        },
        close(e) {
            if (this.loading === true && !!this.$slots['loader']) {
                return;
            }
            this.$emit('click-close', {
                key: 'close',
                event: e
            });
        },
        refreshVisibility(val){
            this.updateObserved();
            let l = document.querySelectorAll('[data-lkt="modal"][data-visible="true"], [data-lkt="window"][data-visible="true"]').length;
            if (val) {
                document.body.classList.add('modal-open');
                this.$emit('open');
                this.style = 'z-index: ' + (1050 + (10 * l)) + ';';
            } else {
                if (l <= 1) {
                    document.body.classList.remove('modal-open');
                }
                this.$emit('close');
            }
        }
    },
    mounted() {
        this.refreshVisibility(true);
    },
    unmounted() {
        this.refreshVisibility(false);
    },
    updated() {
        this.updateObserved();
    }
}
</script>