//----------
// Functions
//----------
@function lkt-layer($layer-name: '', $z-index: 1){
  @return lkt-control(#{lkt-layer-$layer-name}, $z-index);
}

//----------
// Mixins
//----------
@mixin lkt-layer($layer-name: '') {
  @include lkt-schema-mode(lkt-concat('-', lkt-layer, $layer-name), schema-mode-layers, (lkt-media-stack-get-last())) {
    @if (lkt-is-number($layer-name)){
      z-index: $layer-name;
    } @else {
      z-index: lkt-control(#{lkt-layer-$layer-name});
    }
  }
}
//----------
// Initial variables
//----------
$c: lkt-layer(modal, 30);