//----------
// Functions
//----------
@function lkt-linear-gradient($direction:'to right', $points: (), $is-repeating: false) {

  $values: '';
  $values: unquote($values);
  $l: length($points);
  $i: 1;
  @each $percentage, $value in $points {
    $c: ',';
    @if ($i == $l) {
      $c: '';
    }
    $values: append($values, #{$value + ' ' + inspect($percentage) + $c});
    $i: $i + 1;
  }

  $rule: linear-gradient;
  @if ($is-repeating == true) {
    $rule: repeating-linear-gradient;
  }

  @return #{$rule+'(' + $direction + ', ' + $values + ')'};
}

@function lkt-radial-gradient($shape: 'ellipse', $size: 'farthest-corner', $position: 'center', $points: (), $is-repeating: false) {

  $direction: #{$shape + ' ' + $size + ' at ' + $position};

  $values: '';
  $values: unquote($values);
  $l: length($points);
  $i: 1;
  @each $percentage, $value in $points {
    $c: ',';
    @if ($i == $l) {
      $c: '';
    }
    $values: append($values, #{$value + ' ' + inspect($percentage) + $c});
    $i: $i + 1;
  }

  $rule: radial-gradient;
  @if ($is-repeating == true) {
    $rule: repeating-linear-gradient;
  }

  @return #{$rule+'(' + $direction + ', ' + $values + ')'};
}

//----------
// Mixins
//----------
@mixin lkt-shadow-3d-right-top($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: lkt-strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: lkt-concat(' ', $i * 1px, $i * -1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin lkt-shadow-3d-right-bottom($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: lkt-strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: lkt-concat(' ', $i * 1px, $i * 1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin lkt-shadow-3d-left-top($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: lkt-strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: lkt-concat(' ', $i * -1px, $i * -1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin lkt-shadow-3d-left-bottom($size-in-px: 5px, $color: #000) {
  $rule: ();
  $l: lkt-strip-unit($size-in-px);
  @for $i from 1 to $l+1 {
    $r: lkt-concat(' ', $i * -1px, $i * 1px, 0, $color);
    $rule: append($rule, $r);
    @if ($i < $l) {
      $rule: append($rule, unquote(','));
    }
  }

  box-shadow: $rule;
}

@mixin lkt-effect-underline($origin: left, $color: #000, $weight: 1px, $initial-width: 0, $pseudo: before, $bottom: 0, $transition: width linear 250ms) {
  display: inline-block;
  position: relative;

  @if ($pseudo == after) {
    @include lkt-after(block, absolute) {
      width: $initial-width;
      bottom: $bottom;
      transition: $transition;

      @if ($origin == center) {
        left: 50%;
        @include lkt-align(50%, false);
      } @else if ($origin == right) {
        right: 0%;
      } @else {
        left: 0;
      }

      height: $weight;
      background: $color;
    }
  } @else {
    @include lkt-before(block, absolute) {
      width: $initial-width;
      bottom: $bottom;
      transition: $transition;

      @if ($origin == center) {
        left: 50%;
        @include lkt-align(50%, false);
      } @else if ($origin == right) {
        right: 0%;
      } @else {
        left: 0;
      }

      height: $weight;
      background: $color;
    }
  }

  @content;
}

@mixin lkt-effect-underline-triggered($final-width: 100%, $pseudo: before) {
  @if ($pseudo == after) {
    @include lkt-after() {
      width: $final-width;
    }
  } @else {
    @include lkt-before() {
      width: $final-width;
    }
  }
}

@mixin lkt-animate-appear-with-blur($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $display: block) {
  display: $display;
  animation-name: lkt-appear-with-blur;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-appear-with-blur) == false) {
    @keyframes lkt-appear-with-blur {
      0% {
        opacity: 0;
        filter: blur(5px);
        display: none;
        z-index: -1;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
        overflow: hidden;
      }
      50% {
        opacity: 0.5;
        filter: blur(5px);
        display: none;
        overflow: hidden;
      }
      100% {
        opacity: 1;
        display: $display;
        overflow: initial;
      }
    }

    $c: lkt-set(lkt-effect-appear-with-blur, true);
  }
}

@mixin lkt-animate-appear($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $display: block) {
  display: $display;
  animation-name: lkt-appear;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-appear) == false) {
    @keyframes lkt-appear {
      0% {
        opacity: 0;
        display: none;
        z-index: -1;
        padding: 0;
        margin: 0;
        height: 0;
        width: 0;
        overflow: hidden;
      }
      50% {
        opacity: 0.5;
        display: none;
        overflow: hidden;
      }
      100% {
        opacity: 1;
        display: $display;
        overflow: initial;
      }
    }

    $c: lkt-set(lkt-effect-appear, true);
  }
}

@mixin lkt-animate-appear-initial() {
  display: none;
}

@mixin lkt-animate-disappear($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-disappear;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-disappear) == false) {
    @keyframes lkt-disappear {
      0% {
        opacity: 1;
        filter: blur(5px);
      }
      50% {
        opacity: 0.5;
        filter: blur(5px);
      }
      100% {
        border: none;
        opacity: 0;
        height: 0;
        overflow: hidden;
        padding: 0;
        margin: 0;
        filter: blur(5px);
        display: none !important;
        z-index: -1;
      }
    }

    $c: lkt-set(lkt-effect-disappear, true);
  }
}

@mixin lkt-animate-stretch($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-stretch;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-stretch) == false) {
    @keyframes lkt-stretch {
      0% {
        transform: scale(.3);
      }

      100% {
        transform: scale(1);
      }
    }

    $c: lkt-set(lkt-effect-stretch, true);
  }
}

@mixin lkt-animate-elastic($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-elastic;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-elastic) == false) {
    @keyframes lkt-elastic {
      0% {
        transform: scale(.3);
      }

      25% {
        transform: scale(1);
      }

      50% {
        transform: scale(.9);
      }

      100% {
        transform: scale(1);
      }
    }

    $c: lkt-set(lkt-effect-elastic, true);
  }
}

@mixin lkt-animate-bounce-in($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false) {
  animation-name: lkt-bounce-in;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if (lkt-isset(lkt-effect-bounce-in) == false) {
    @keyframes lkt-bounce-in {

      0%, 100%, 20%, 40%, 60%, 80% {
        -webkit-transition-timing-function: cubic-bezier(.215, .61, .355, 1);
        transition-timing-function: cubic-bezier(.215, .61, .355, 1)
      }
      0% {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3)
      }
      20% {
        -webkit-transform: scale3d(1.1, 1.1, 1.1);
        transform: scale3d(1.1, 1.1, 1.1)
      }
      40% {
        -webkit-transform: scale3d(.9, .9, .9);
        transform: scale3d(.9, .9, .9)
      }
      60% {
        opacity: 1;
        -webkit-transform: scale3d(1.03, 1.03, 1.03);
        transform: scale3d(1.03, 1.03, 1.03)
      }
      80% {
        -webkit-transform: scale3d(.97, .97, .97);
        transform: scale3d(.97, .97, .97)
      }
      100% {
        opacity: 1;
        -webkit-transform: scale3d(1, 1, 1);
        transform: scale3d(1, 1, 1)
      }
    }

    $c: lkt-set(lkt-effect-bounce-in, true);
  }
}

@mixin lkt-animate-scale($duration: 250ms, $timing: cubic-bezier(.36, .07, .19, .97), $delay: false, $transform-fix: false) {
  $existing-keyframe: lkt-get-key-by-value($transform-fix);
  $generate-animation: false;
  $animation-name: $existing-keyframe;
  $current-transform-index: lkt-get(lkt-animate-scale-index);
  @if ($current-transform-index == null) {
    $current-transform-index: 0;
  }

  @if ($existing-keyframe == false) {
    $animation-name: lkt-concat('-', lkt-scale, $current-transform-index);
    $generate-animation: true;
  }

  @if ($duration == initial) {
    $duration: 250ms;
  }

  @if ($timing == initial) {
    $timing: cubic-bezier(.36, .07, .19, .97);
  }

  @if ($delay == initial) {
    $delay: false;
  }

  @if ($transform-fix == initial) {
    $transform-fix: false;
  }

  @if ($transform-fix == false) {
    $transform-fix: unquote("");
  }

  animation-name: $animation-name;
  animation-duration: $duration;
  animation-fill-mode: forwards;
  animation-timing-function: $timing;
  @if ($delay != false) {
    animation-delay: $delay;
  }

  @if ($generate-animation == true and lkt-isset(lkt-effect-scale) == false) {
    @keyframes #{$animation-name} {
      33% {
        transform: scale(.8) $transform-fix;
      }

      66% {
        transform: scale(1.2) $transform-fix;
      }

      100% {
        transform: scale(1) $transform-fix;
      }
    }

    $c: lkt-set(lkt-effect-scale, true);
    $c: lkt-set(lkt-animate-scale-index, $current-transform-index + 1);
    $c: lkt-set($animation-name, $transform-fix);
  }
}