//----------
// Config
//----------
$LKT_MEDIA_QUERIES: ();
$LKT_MEDIA_QUERIES_FULL: ();
$LKT_MEDIA_QUERIES_STACK: '';
$LKT_MEDIA_QUERIES_STACK_CURRENT: '';

//----------
// Functions
//----------

@function lkt-media($media-name: '', $media-query: '', $is-full: false) {
  $LKT_MEDIA_QUERIES: map-merge($LKT_MEDIA_QUERIES, ($media-name: $media-query)) !global;
  @if ($is-full == true) {
    $LKT_MEDIA_QUERIES_FULL: append($LKT_MEDIA_QUERIES_FULL, $media-name) !global;
  }
  @return true;
}

@function lkt-media-get($media-name: '') {
  $r: map-get($LKT_MEDIA_QUERIES, $media-name);
  @if ($r) {
    $r: unquote($r);
  }
  @return $r;
}

@function lkt-media-exists($media-name: '') {
  @return type-of(lkt-media-get($media-name)) == 'string';
}

@function lkt-media-stack-build-string() {
  $r: unquote('');
  $i: 0;

  @each $media-query in $LKT_MEDIA_QUERIES_STACK {
    @if ($media-query != '' and $media-query != null and $i > 0) {
      $media-query: #{'_' + $media-query};
    }

    @if ($media-query == '-' or $media-query == ',') {
      $media-query: '';
    }

    @if ($media-query != '') {
      $r: #{$r + $media-query};
      $i: $i + 1;
    }
  }

  @if ($r == '-' or $r == ',') {
    $r: '';
  }

  @return $r;
}

@function lkt-media-stack-up($name: '') {
  $LKT_MEDIA_QUERIES_STACK: append($LKT_MEDIA_QUERIES_STACK, $name) !global;
  $LKT_MEDIA_QUERIES_STACK_CURRENT: lkt-media-stack-build-string() !global;
  @return true;
}

@function lkt-media-stack-down() {
  $LKT_MEDIA_QUERIES_STACK: lkt-list-nth-delete($LKT_MEDIA_QUERIES_STACK, -1) !global;
  $LKT_MEDIA_QUERIES_STACK_CURRENT: lkt-media-stack-build-string() !global;
  @return true;
}

@function lkt-media-stack-get-last() {
  @return $LKT_MEDIA_QUERIES_STACK_CURRENT;
  @return nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK));
}

@function lkt-media-stack-repeating() {
  @return nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK)) == nth($LKT_MEDIA_QUERIES_STACK, length($LKT_MEDIA_QUERIES_STACK) - 1);
}

@function lkt-media-stack-get-current() {
  @return $LKT_MEDIA_QUERIES_STACK_CURRENT;
}

@function lkt-media-get-append-string($media-query: '') {
  @if ($media-query != '' and $media-query != null) {
    $media-query: #{'-' + $media-query};
  }

  @if ($media-query == '-' or $media-query == ',') {
    $media-query: '';
  }
  @return $media-query;
}

//----------
// Mixins
//----------
@mixin lkt-media($media-name: '', $media-type: lkt-config(media-default-target)) {
  $c: lkt-media-stack-up($media-name);

  @if (lkt-media-exists($media-name)) {
    @if (lkt-media-get($media-name) != '') {
      @if (lkt-contains($LKT_MEDIA_QUERIES_FULL, $media-name)) {
        $m: lkt-media-get($media-name);
        $mSupport: lkt-str-replace($m, '@supports', '');

        @if ($m != $mSupport) {
          @supports
          #{$mSupport} {
            @content;
          }
        }
      } @else {

        @if (lkt-media-stack-repeating()) {
          @content;

        } @else {

          $r: lkt-media-get($media-name);
          @if ($media-type != '' and $media-type != false and $media-name != '' and $media-name != false and $r != null and $media-type != null) {
            $r: lkt-concat(' and ', $media-type, $r);
          }
          @media #{$r}
          {
            @content;
          }
        }
      }
    } @else {
      @content;
    }
  } @else if (lkt-config(debug) != false) {
    @warn lkt-concat(' ', "[LKT MEDIA]", lkt-concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: lkt-media-stack-down();
}

@mixin lkt-print($media-name: '') {

  $c: lkt-media-stack-up($media-name);

  @if (lkt-media-exists($media-name)) {
    $r: unquote('');
    @if (lkt-media-get($media-name) != '' and lkt-media-stack-repeating() != false and $media-name != '' and $media-name != false and $r != null) {
      $r: lkt-media-get($media-name);
      $r: #{' and ' + $r}
    }
    @media print #{$r}
    {
      @content;
    }
  } @else if (lkt-config(debug) != false) {
    @warn lkt-concat(' ', "[LKT MEDIA][Print]", lkt-concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: lkt-media-stack-down();
}

@mixin lkt-screen($media-name: '') {

  $c: lkt-media-stack-up($media-name);

  @if (lkt-media-exists($media-name)) {
    $r: unquote('');
    @if(lkt-media-stack-repeating() != false){
      @content;
    } @else {
      $r: lkt-media-get($media-name);
      $r: #{' and ' + $r};

      @media screen #{$r}
      {
        @content;
      }
    }

  } @else if (lkt-config(debug) != false) {
    @warn lkt-concat(' ', "[LKT MEDIA][Print]", lkt-concat('', "media query '", $media-name, "'"), 'does not exists');
  }
  $c: lkt-media-stack-down();
}

//----------
// Initial variables
//----------
$add: lkt-media(safari9, '@supports (-webkit-marquee-repetition:infinite) and (object-fit:fill)', true);
$add: lkt-media(ie11, '(-ms-high-contrast:none)');
$add: lkt-media(ie10, '(-ms-high-contrast: active), (-ms-high-contrast: none)');
$add: lkt-media(moz, '(min--moz-device-pixel-ratio:0)');
$add: lkt-media(chrome, '(-webkit-min-device-pixel-ratio:0) and (min-resolution: .001dpcm)');
$add: lkt-media(120dpi, '(-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi)');
$add: lkt-media(124dpi, '(-webkit-min-device-pixel-ratio: 1.3), (min-resolution: 124.8dpi)');
$add: lkt-media(144dpi, '(-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 144dpi)');
$add: lkt-media(192dpi, '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)');
$add: lkt-media(landscape, '(orientation: landscape)');
$add: lkt-media(portrait, '(orientation: portrait)');
$add: lkt-media('', '');