* {
  background: transparent none repeat scroll 0 0;
  border: 0 none;
  box-sizing: border-box;
  font-size: 100%;
  margin: 0;
  outline: 0 none;
  padding: 0;
  text-decoration: none;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
form, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

:focus {
  outline: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

u {
  text-decoration: underline;
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
       text-size-adjust: 100%;
}

body {
  line-height: 1;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  -webkit-print-color-adjust: exact;
}

html {
  font-size: 16px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 100%;
  line-height: 1.425;
  font-weight: 400;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
  min-height: 1px;
  display: block;
}

.col-0 {
  flex: 0 0 0%;
  max-width: 0%;
  min-height: 0;
  display: none;
}

.col-1-12 {
  flex: 0 0 8.3333333333%;
  max-width: 8.3333333333%;
  display: block;
  min-height: 1px;
}

.col-2-12 {
  flex: 0 0 16.6666666667%;
  max-width: 16.6666666667%;
  display: block;
  min-height: 1px;
}

.col-3-12 {
  flex: 0 0 25%;
  max-width: 25%;
  display: block;
  min-height: 1px;
}

.col-4-12 {
  flex: 0 0 33.3333333333%;
  max-width: 33.3333333333%;
  display: block;
  min-height: 1px;
}

.col-5-12 {
  flex: 0 0 41.6666666667%;
  max-width: 41.6666666667%;
  display: block;
  min-height: 1px;
}

.col-6-12 {
  flex: 0 0 50%;
  max-width: 50%;
  display: block;
  min-height: 1px;
}

.col-7-12 {
  flex: 0 0 58.3333333333%;
  max-width: 58.3333333333%;
  display: block;
  min-height: 1px;
}

.col-8-12 {
  flex: 0 0 66.6666666667%;
  max-width: 66.6666666667%;
  display: block;
  min-height: 1px;
}

.col-9-12 {
  flex: 0 0 75%;
  max-width: 75%;
  display: block;
  min-height: 1px;
}

.col-10-12 {
  flex: 0 0 83.3333333333%;
  max-width: 83.3333333333%;
  display: block;
  min-height: 1px;
}

.col-11-12 {
  flex: 0 0 91.6666666667%;
  max-width: 91.6666666667%;
  display: block;
  min-height: 1px;
}

.col-12-12 {
  flex: 0 0 100%;
  max-width: 100%;
  display: block;
  min-height: 1px;
}

.col-order-1 {
  order: 1;
}

.col-order-2 {
  order: 2;
}

.col-order-3 {
  order: 3;
}

.col-order-4 {
  order: 4;
}

.col-order-5 {
  order: 5;
}

.col-order-6 {
  order: 6;
}

.col-order-7 {
  order: 7;
}

.col-order-8 {
  order: 8;
}

.col-order-9 {
  order: 9;
}

.col-order-10 {
  order: 10;
}

.col-order-11 {
  order: 11;
}

.col-order-12 {
  order: 12;
}

.col-order-last {
  order: 12;
}

.align-items-start {
  -ms-flex-align: start !important;
  align-items: flex-start !important;
}

.align-items-end {
  -ms-flex-align: end !important;
  align-items: flex-end !important;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.align-items-baseline {
  -ms-flex-align: baseline !important;
  align-items: baseline !important;
}

.align-items-stretch {
  -ms-flex-align: stretch !important;
  align-items: stretch !important;
}

.align-content-start {
  -ms-flex-line-pack: start !important;
  align-content: flex-start !important;
}

.align-content-end {
  -ms-flex-line-pack: end !important;
  align-content: flex-end !important;
}

.align-content-center {
  -ms-flex-line-pack: center !important;
  align-content: center !important;
}

.align-content-between {
  -ms-flex-line-pack: justify !important;
  align-content: space-between !important;
}

.align-content-around {
  -ms-flex-line-pack: distribute !important;
  align-content: space-around !important;
}

.align-content-stretch {
  -ms-flex-line-pack: stretch !important;
  align-content: stretch !important;
}

.align-self-auto {
  -ms-flex-item-align: auto !important;
  align-self: auto !important;
}

.align-self-start {
  -ms-flex-item-align: start !important;
  align-self: flex-start !important;
}

.align-self-end {
  -ms-flex-item-align: end !important;
  align-self: flex-end !important;
}

.align-self-center {
  -ms-flex-item-align: center !important;
  align-self: center !important;
}

.align-self-baseline {
  -ms-flex-item-align: baseline !important;
  align-self: baseline !important;
}

.align-self-stretch {
  -ms-flex-item-align: stretch !important;
  align-self: stretch !important;
}

.flex-row {
  -ms-flex-direction: row !important;
  flex-direction: row !important;
}

.flex-column {
  -ms-flex-direction: column !important;
  flex-direction: column !important;
}

.flex-row-reverse {
  -ms-flex-direction: row-reverse !important;
  flex-direction: row-reverse !important;
}

.flex-column-reverse {
  -ms-flex-direction: column-reverse !important;
  flex-direction: column-reverse !important;
}

.flex-wrap {
  -ms-flex-wrap: wrap !important;
  flex-wrap: wrap !important;
}

.flex-nowrap {
  -ms-flex-wrap: nowrap !important;
  flex-wrap: nowrap !important;
}

.flex-wrap-reverse {
  -ms-flex-wrap: wrap-reverse !important;
  flex-wrap: wrap-reverse !important;
}

.justify-content-start {
  -ms-flex-pack: start !important;
  justify-content: flex-start !important;
}

.justify-content-end {
  -ms-flex-pack: end !important;
  justify-content: flex-end !important;
}

.justify-content-center {
  -ms-flex-pack: center !important;
  justify-content: center !important;
}

.justify-content-between {
  -ms-flex-pack: justify !important;
  justify-content: space-between !important;
}

.justify-content-around {
  -ms-flex-pack: distribute !important;
  justify-content: space-around !important;
}

.col-push-0 {
  position: relative;
  margin-left: 0;
}

.col-pull-0 {
  position: relative;
  margin-left: 0;
}

.col-push-1-12 {
  position: relative;
  margin-left: 8.3333333333%;
}

.col-pull-1-12 {
  position: relative;
  margin-left: -8.3333333333%;
}

.col-push-2-12 {
  position: relative;
  margin-left: 16.6666666667%;
}

.col-pull-2-12 {
  position: relative;
  margin-left: -16.6666666667%;
}

.col-push-3-12 {
  position: relative;
  margin-left: 25%;
}

.col-pull-3-12 {
  position: relative;
  margin-left: -25%;
}

.col-push-4-12 {
  position: relative;
  margin-left: 33.3333333333%;
}

.col-pull-4-12 {
  position: relative;
  margin-left: -33.3333333333%;
}

.col-push-5-12 {
  position: relative;
  margin-left: 41.6666666667%;
}

.col-pull-5-12 {
  position: relative;
  margin-left: -41.6666666667%;
}

.col-push-6-12 {
  position: relative;
  margin-left: 50%;
}

.col-pull-6-12 {
  position: relative;
  margin-left: -50%;
}

.col-push-7-12 {
  position: relative;
  margin-left: 58.3333333333%;
}

.col-pull-7-12 {
  position: relative;
  margin-left: -58.3333333333%;
}

.col-push-8-12 {
  position: relative;
  margin-left: 66.6666666667%;
}

.col-pull-8-12 {
  position: relative;
  margin-left: -66.6666666667%;
}

.col-push-9-12 {
  position: relative;
  margin-left: 75%;
}

.col-pull-9-12 {
  position: relative;
  margin-left: -75%;
}

.col-push-10-12 {
  position: relative;
  margin-left: 83.3333333333%;
}

.col-pull-10-12 {
  position: relative;
  margin-left: -83.3333333333%;
}

.col-push-11-12 {
  position: relative;
  margin-left: 91.6666666667%;
}

.col-pull-11-12 {
  position: relative;
  margin-left: -91.6666666667%;
}

.col-push-12-12 {
  position: relative;
  margin-left: 100%;
}

.col-pull-12-12 {
  position: relative;
  margin-left: -100%;
}

.section {
  padding-left: 15px;
  padding-right: 15px;
}
.section > .row {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -15px;
  margin-right: -15px;
}
.section > .row:not(:last-child) {
  margin-bottom: 15px;
}

.gap-15 {
  margin: -15px;
  width: calc(100% + 30px);
}
.gap-15 > * {
  padding: 15px;
}
.gap-15.gap-container {
  padding: 30px;
}

.gap-15-fix > * {
  padding: 15px 7.5px 15px 7.5px;
}
.gap-15-fix > *:first-child {
  padding-left: 15px;
}
.gap-15-fix > *:last-child {
  padding-right: 15px;
}

.gap-15-v {
  margin-top: -15px;
  margin-bottom: -15px;
}
.gap-15-v > * {
  padding-top: 15px;
  padding-bottom: 15px;
}

.gap-15-h {
  margin-left: -15px;
  margin-right: -15px;
  width: calc(100% + 30px);
}
.gap-15-h > * {
  padding-left: 15px;
  padding-right: 15px;
}

.angle-bottom {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  display: inline-block;
  background: transparent;
  text-indent: -9999px;
  text-decoration: none;
  color: transparent;
  transform: rotate(-135deg);
  right: 175px;
}
.angle-bottom:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.angle-top {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  display: inline-block;
  background: transparent;
  text-indent: -9999px;
  text-decoration: none;
  color: transparent;
  transform: rotate(45deg);
  left: 175px;
}
.angle-top:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.angle-right {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  display: inline-block;
  background: transparent;
  text-indent: -9999px;
  text-decoration: none;
  color: transparent;
  transform: rotate(135deg);
  right: 0;
}
.angle-right:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}

.angle-left {
  background: red;
  display: block;
  height: 50px;
  width: 50px;
  width: 14px;
  height: 14px;
  border-top: 1px solid #000000;
  border-left: 1px solid #000000;
  display: inline-block;
  background: transparent;
  text-indent: -9999px;
  text-decoration: none;
  color: transparent;
  transform: rotate(-45deg);
  left: 0;
}
.angle-left:before {
  display: block;
  height: 200%;
  width: 200%;
  margin-left: -50%;
  margin-top: -50%;
  content: "";
  transform: rotate(45deg);
}
